@model ProdFloor.Models.ViewModels.Starter.StarterListViewModel
@{
    ViewBag.Title = "Starters";
    Layout = "_AdminLayoutWO";
}
<div class="row" style="padding-right:20px">
    <h2 class="col-sm-10">
        Starter Table
    </h2>
    <a class="btn btn-success btn-sm col-sm-2" asp-action="Add" asp-controller="Starter" style="padding-top:10px;min-width:100px">
        <i class="fa fa-plus"></i>
        New Starter Registry
    </a>
</div>
@if (Model.Starters.Count() == 0)
{
    <div class="text-right m-2">
        <form asp-action="SeedXML" method="post">
            <button type="submit" name="buttonImportXML" value="Starter" class="btn btn-danger">Import data from XML <i class="fas fa-file-alt"></i></button>
        </form>
    </div>
}
<br />
<div>
    <table class="table table-striped border table-sm" style="text-align:center">
        <tr class="table-info">
            <th>
                <label>Starter</label>
            </th>
            <th>
                <label>FLA</label>
            </th>
            <th>
                <label>Type</label>
            </th>
            <th>
                <label>Volts</label>
            </th>
            <th>
                <label>HP</label>
            </th>
            <th>
                <label>MCE Part #</label>
            </th>
            <th>
                <label>New Manufacturer Part #</label>
            </th>
            <th>
                <label>Overload Table #</label>
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Starters)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.StarterType)
                </td>
                <td>
                    @Html.DisplayFor(m => item.FLA)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Volts)
                </td>
                <td>
                    @Html.DisplayFor(m => item.HP)
                </td>
                <td>
                    @Html.DisplayFor(m => item.MCPart)
                </td>
                <td>
                    @Html.DisplayFor(m => item.NewManufacturerPart)
                </td>
                <td>
                    @Html.DisplayFor(m => item.OverloadTable)
                </td>
                <td style="width:100px">
                    <form asp-action="Delete" asp-route-id="@item.StarterID" method="post">
                        <button type="submit" class="btn btn-danger btn-sm">
                            <i class="far fa-trash-alt"></i>
                        </button>
                        <a asp-action="Edit" class="btn btn-sm btn-warning"
                           asp-route-Id="@item.StarterID">
                            <i class="fas fa-edit"></i>
                        </a>
                    </form>
                </td>
            </tr>

        }
    </table>
</div>
<page-doorop page-model="@Model.PagingInfo" page-action="List" page-classes-enabled="true"
             page-class="btn" page-class-normal="btn-secondary"
             page-class-selected="btn-primary"
             class="btn-group pull-right m-1">
</page-doorop>
<br />
<div>
    <form asp-controller="Item" asp-action="ExportToXML" method="post">
        <button class="btn btn-sm " name="buttonXML" value="Starters" style="background-color:#DF0174;color:white">Export List to an XML File</button>
    </form>
</div>

