@model ProdFloor.Models.ViewModels.SlowDown.SlowdownListViewModel
@{
    ViewBag.Title = "SlowDowns";
    Layout = "_AdminLayoutWO";
}
<div class="row" style="padding-right:20px">
    <h2 class="col-sm-10">
        Slowdown Table
    </h2>
    <a class="btn btn-success btn-sm col-sm-2" asp-action="Add" asp-controller="Slowdown" style="padding-top:10px;min-width:100px">
        <i class="fa fa-plus"></i>
        New Slowdown Registry
    </a>
</div>
@if (Model.Slowdowns.Count() == 0)
{
    <div class="text-right m-2">
        <form asp-action="SeedXML" method="post">
            <button type="submit" name="buttonImportXML" value="Slowdown" class="btn btn-danger">Import data from XML <i class="fas fa-file-alt"></i></button>
        </form>
    </div>
}
<br />
<div>
    <table class="table table-striped border table-sm" style="text-align:center">
        <tr class="table-info">
            <th>
                <label>Cars Speed (FPM)</label>
            </th>
            <th>
                <label>Distance</label>
            </th>
            <th>
                <label>"A" Landing Page</label>
            </th>
            <th>
                <label>Slow Limit</label>
            </th>
            <th>
                <label>Min Floor Height</label>
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Slowdowns)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.CarSpeedFPM)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Distance)
                </td>
                <td>
                    @Html.DisplayFor(m => item.A)
                </td>
                <td>
                    @Html.DisplayFor(m => item.SlowLimit)
                </td>
                <td>
                    @Html.DisplayFor(m => item.MiniumFloorHeight)
                </td>
                <td style="width:100px">
                    <form asp-action="Delete" asp-route-id="@item.SlowdownID" method="post">
                        <button type="submit" class="btn btn-danger btn-sm">
                            <i class="far fa-trash-alt"></i>
                        </button>
                        <a asp-action="Edit" class="btn btn-sm btn-warning"
                           asp-route-Id="@item.SlowdownID">
                            <i class="fas fa-edit"></i>
                        </a>
                    </form>
                </td>
            </tr>

        }
    </table>
</div>
<coool-pagination-all page-model="@Model.PagingInfo" page-action="List" page-classes-enabled="true"
                      page-class="btn" page-class-normal="btn-secondary"
                      page-class-selected="btn-primary"
                      class="btn-group pull-right m-1">
</coool-pagination-all>
<br />
<div>
    <form asp-controller="Item" asp-action="ExportToXML" method="post">
        <button class="btn btn-sm " name="buttonXML" value="Slowdowns" style="background-color:#DF0174;color:white">Export List to an XML File</button>
    </form>
</div>
