@model ProdFloor.Models.ViewModels.Overload.OverloadListViewModel
@{
    ViewBag.Title = "Overloads";
    Layout = "_AdminLayoutWO";
}
<div class="row" style="padding-right:20px">
    <h2 class="col-sm-10">
        Overload Table
    </h2>
    <a class="btn btn-sm col-sm-2" asp-action="Add" asp-controller="Overload" style="padding-top:10px;min-width:100px;background-color:dodgerblue;color:white">
        <i class="fa fa-plus"></i>
        New Overload Registry
    </a>
</div>
@if (Model.TotalItems == 0)
{
    <div class="text-right m-2">
        <form asp-action="SeedXML" method="post">
            <button type="submit" name="buttonImportXML" value="Overload" class="btn btn-danger">Import data from XML <i class="fas fa-file-alt"></i></button>
        </form>
    </div>
}
<br />
<form asp-action="List" method="get">
    <div id="accordionSearch">
        <div class="card">
            <div class="card-header text-center" style="background-color:#bee5eb;">
                <div class="btn-group" style="float:left">
                    <!--Search and Clean-->
                    <button class="btn btn-outline-info" style="border-color:transparent" type="submit" value="Search"><i class="fa fa-search" aria-hidden="true"></i></button>
                    <button class="btn btn-outline-info" style="border-color:transparent" name="CleanFields" type="submit" value="true"><i class="fas fa-undo"></i></button>
                </div>
                <div class="btn-group">
                    <!--Header Info-->
                    <button type="button" id="headingJobInfo" class="btn btn-outline-info" style="border-color:transparent" data-toggle="collapse" data-target="#collapseJobInfo" aria-expanded="true" aria-controls="collapseJobInfo">
                        <h6 class="mb-0 text-center">Overloads Information</h6>
                    </button>
                </div>
            </div>

            <!--Body Job Info-->
            <div id="collapseJobInfo" class="collapse" aria-labelledby="headingJobInfo" data-parent="#accordionSearch">
                <div class="card-body">
                    <div class="row">
                        <div class="col-3 border-right">
                            <div class="form-group row" style="margin-bottom:0px;">
                                <label asp-for="AMPMin" class="col-sm-7 col-form-label"></label>
                                <input type="text" class="form-control form-control-sm col-sm-3" asp-for="AMPMin">
                            </div>
                        </div>
                        <div class="col-3 border-right">
                            <div class="form-group row" style="margin-bottom:0px;">
                                <label asp-for="AMPMax" class="col-sm-7 col-form-label"></label>
                                <input type="text" class="form-control form-control-sm col-sm-3" asp-for="AMPMax">
                            </div>
                        </div>
                        <div class="col-3 border-right">
                            <label asp-for="OverTableNum" class="col-sm-7 col-form-label"></label>
                            <starter class="form-control form-control-sm col-5" asp-for="OverTableNum" select-for="OverloadTable" selected-value="@Model.OverTableNum"></starter>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 border-right">
                            <div class="form-group row" style="margin-bottom:0px;">
                                <label asp-for="MCPart" class="col-sm-7 col-form-label"></label>
                                <input type="text" class="form-control form-control-sm col-sm-3" asp-for="MCPart">
                            </div>
                        </div>
                        <div class="col-3 border-right">
                            <div class="form-group row" style="margin-bottom:0px;">
                                <label asp-for="SiemensPart" class="col-sm-7 col-form-label"></label>
                                <input type="text" class="form-control form-control-sm col-sm-3" asp-for="SiemensPart">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</form>
<div>
    <table class="table table-striped border text-center table-sm" style="text-align:center">
        <tr class="table-info">
            <th>
                <label>AMP Min</label>
            </th>
            <th>
                <label>AMP Max</label>
            </th>
            <th>
                <label>Table Ref #</label>
            </th>
            <th>
                <label>MCE Part #</label>
            </th>
            <th>
                <label>Siemens Part #</label>
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Overloads)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.AMPMin)
                </td>
                <td>
                    @Html.DisplayFor(m => item.AMPMax)
                </td>
                <td>
                    @Html.DisplayFor(m => item.OverTableNum)
                </td>
                <td>
                    @Html.DisplayFor(m => item.MCPart)
                </td>
                <td>
                    @Html.DisplayFor(m => item.SiemensPart)
                </td>
                <td style="width:100px">
                    <form asp-action="Delete" asp-route-id="@item.OverloadID" method="post">
                        <button type="submit" class="btn btn-danger btn-sm">
                            <i class="far fa-trash-alt"></i>
                        </button>
                        <a asp-action="Edit" class="btn btn-sm btn-warning"
                           asp-route-Id="@item.OverloadID">
                            <i class="fas fa-edit"></i>
                        </a>
                    </form>
                </td>
            </tr>

        }
    </table>
</div>
<coool-pagination-search page-model="@Model.PagingInfo" page-action="List" page-classes-enabled="true"
                         page-class="btn" page-class-normal="btn-secondary"
                         page-class-selected="btn-dark"
                         class="btn-group pull-right m-1">
</coool-pagination-search>
<br />
<div>
    <form asp-controller="Item" asp-action="ExportToXML" method="post">
        <button class="btn btn-sm " name="buttonXML" value="Overloads" style="background-color:steelblue;color:white">Export List to an XML File</button>
    </form>
</div>
