@model ProdFloor.Models.ViewModels.Item.ReferencesSrchElementViewModel
@{
    ViewBag.Title = "Element Worksheet";
    Layout = "_AdminLayoutWO";
}

<div class="row" style="padding-right:20px">
    <h2 class="col-sm-10">Worksheet for Job: @Model.NumJobSearch</h2>
</div>
<form asp-controller="Item" asp-action="ReferencesSearch" method="get">
    <input type="hidden" class="form-control form-control-sm col-sm-2" asp-for="JobID">
    <span asp-validation-for="JobID" class="text-danger"></span><br />
</form>
@if (Model.RefernceData == true)
{
    <ul class="nav nav-tabs " role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#General" role="tab">General</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " data-toggle="tab" href="#brake" role="tab">Starter</a>
        </li>
    </ul>
    <div class="tab-content" style="padding:20px">
        <div class="tab-pane active" id="General" role="tabpanel">
            <div class="form-row col-sm-12" style="padding-bottom:15px">
                <div class="col-md-6">
                    <h3 class="text-left">Element Info</h3>
                    <br />
                    <div class="form-group row" style="margin-bottom:0em;">
                        <label class="col-4 col-form-label">Speed:</label>
                        <div class="col-5">
                            <input type="text" value="@Model.Speed" class="form-control form-control-sm col-12" disabled asp-for="Speed">
                        </div>
                    </div>
                    <div class="form-group row" style="margin-bottom:0em;">
                        <label class="col-4 col-form-label">HP:</label>
                        <div class="col-5">
                            <input type="text" value="@Model.HP" class="form-control form-control-sm col-12" disabled asp-for="HP">
                        </div>
                    </div>
                    <div class="form-group row" style="margin-bottom:0em;">
                        <label class="col-4 col-form-label">Capacity: &nbsp;</label>
                        <div class="col-5">
                            <input type="text" value="@Model.Capacity" class="form-control form-control-sm col-sm-12" disabled asp-for="Capacity">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane " id="brake" role="tabpanel">
            <div class="row">
                <div class="col-6  border-right" style="text-align:center;">
                    <h4 style="position:center">Brake</h4>
                    <div class="form-group row" style="margin-bottom:0em;">
                        <label class="col-4 col-form-label">Ideal VIn: &nbsp;</label>
                        <div class="col-5">
                            <input type="text" value="@Model.IdealVIn" class="form-control form-control-sm col-sm-12" disabled asp-for="IdealVIn">
                        </div>
                    </div>
                    <div class="form-group row" style="margin-bottom:0em;">
                        <label class="col-4 col-form-label">Min VIn: &nbsp;</label>
                        <div class="col-5">
                            <input type="text" value="@Model.MinVIn" class="form-control form-control-sm col-sm-12" disabled asp-for="MinVIn">
                        </div>
                    </div>
                    <div class="form-group row" style="margin-bottom:0em;">
                        <label class="col-4 col-form-label">Max VIn: &nbsp;</label>
                        <div class="col-5">
                            <input type="text" value="@Model.MaxVIn" class="form-control form-control-sm col-sm-12" disabled asp-for="MaxVIn">
                        </div>
                    </div>
                    <div class="form-group row" style="margin-bottom:0em;">
                        <label class="col-4 col-form-label">Brake Resistor: &nbsp;</label>
                        <div class="col-5">
                            <input type="text" value="@Model.BrakeResistor" class="form-control form-control-sm col-sm-12" disabled asp-for="BrakeResistor">
                        </div>
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>
}