@model ProdFloor.Models.ViewModels.PlanningReportListViewModel
@{
    ViewBag.Title = "Search Job";

}
<br />
<form asp-controller="PlanningReport" id="Printableform" asp-action="NewPrintable" method="post">
    <label class="col-form-label">Por favor introduzca un PO:</label>
    <div class="input-group">
        <input type="number" class="form-control form-control-sm col-3" id="POSearch" asp-for="POSearch">
        <div class="input-group-append">
            <div class="btn-group text-center">
                <button class="btn btn-dark" type="submit" value="Search" data-tooltip="tooltip" data-placement="top" title="Search">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
    <br />

    <div>
        <span asp-validation-for="POSearch" class="text-danger"></span><br />
    </div>
</form>

@if (Model.ReportRow != null)
{<form asp-controller="PlanningReport" asp-action="Printables" method="post">
        <div class="row col-12">
            <div class="col-6">
                <div class="form-group row" style="margin-bottom:0em;">
                    <label class="col-4 col-form-label">Job Number:</label>
                    <div class="col-5">
                        <input type="text" value="@Model.ReportRow.JobNumber" class="form-control form-control-sm col-12" asp-for="ReportRow.JobNumber">
                    </div>
                </div>
                <div class="form-group row" style="margin-bottom:0em;">
                    <label class="col-4 col-form-label">Material:</label>
                    <div class="col-5">
                        <input type="text" value="@Model.ReportRow.Material" class="form-control form-control-sm col-12" asp-for="ReportRow.Material">
                    </div>
                </div>
                <div class="form-group row" style="margin-bottom:0em;">
                    <label class="col-4 col-form-label">MRP: &nbsp;</label>
                    <div class="col-5">
                        <user-select selected-value="@Model.EngID" class="form-control form-control-sm" asp-for="@Model.EngID" roles="Engineer"></user-select>
                    </div>
                </div>
                <div class="form-group row" style="margin-bottom:0em;">
                    <label class="col-4 col-form-label">PO: &nbsp;</label>
                    <div class="col-5">
                        <input type="text" value="@Model.ReportRow.PO" class="form-control form-control-sm col-sm-12" disabled asp-for="ReportRow.PO">
                    </div>
                </div>
                <div class="form-group row" style="margin-bottom:0em;">
                    <label class="col-4 col-form-label">Sold-To pt: &nbsp;</label>
                    <div class="col-5">
                        <input type="text" value="@Model.ReportRow.SoldTo" class="form-control form-control-sm col-sm-12" asp-for="ReportRow.SoldTo">
                    </div>
                </div>
                <div class="form-group row" style="margin-bottom:0em;">
                    <label class="col-4 col-form-label">C: &nbsp;</label>
                    <div class="col-5">
                        <input type="text" value="@Model.ReportRow.Consecutive" class="form-control form-control-sm col-sm-12" asp-for="ReportRow.Consecutive">
                    </div>
                </div>
                <div class="form-group row" style="margin-bottom:0em;">
                    <label class="col-4 col-form-label">ShippingDate: &nbsp;</label>
                    <div class="col-5">
                        <input type="text" value="@Model.ReportRow.ShippingDate" class="form-control form-control-sm col-sm-12" asp-for="ReportRow.ShippingDate">
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group row" style="margin-bottom:0em;">
                    <label class="col-4 col-form-label">Job Name: &nbsp;</label>
                    <div class="col-5">
                        <input type="text" value="@Model.ReportRow.JobName" class="form-control form-control-sm col-sm-12" asp-for="ReportRow.JobName">
                    </div>
                </div>
                <div class="form-group row" style="margin-bottom:0em;">
                    <label class="col-4 col-form-label">Previous WorkCenter: &nbsp;</label>
                    <div class="col-5">
                        <input type="text" value="@Model.ReportRow.PreviousWorkCenter" class="form-control form-control-sm col-sm-12" asp-for="ReportRow.PreviousWorkCenter">
                    </div>
                </div>
                <div class="form-group row" style="margin-bottom:0em;">
                    <label class="col-4 col-form-label">WorkCenter: &nbsp;</label>
                    <div class="col-5">
                        <input type="text" value="@Model.ReportRow.WorkCenter" class="form-control form-control-sm col-sm-12" asp-for="ReportRow.WorkCenter">
                    </div>
                </div>
                <div class="form-group row" style="margin-bottom:0em;">
                    <label class="col-4 col-form-label">Notes: &nbsp;</label>
                    <div class="col-5">
                        <input type="text" value="@Model.ReportRow.Notes" class="form-control form-control-sm col-sm-12" asp-for="ReportRow.Notes">
                    </div>
                </div>
                <div class="form-group row" style="margin-bottom:0em;">
                    <label class="col-4 col-form-label">Priority: &nbsp;</label>
                    <div class="col-5">
                        <input type="text" value="@Model.ReportRow.Priority" class="form-control form-control-sm col-sm-12" asp-for="ReportRow.Priority">
                    </div>
                </div>
                <div class="form-group row" style="margin-bottom:0em;">
                    <label class="col-4 col-form-label">Item: &nbsp;</label>
                    <div class="col-5">
                        <input type="text" value="@Model.ReportRow.LineNumber" class="form-control form-control-sm col-sm-12" asp-for="ReportRow.LineNumber">
                    </div>
                </div>
            </div>
        </div>
        <div class="row col-12 text-center">
            <div class="col text-center">
                <button type="button" class="btn  btn-secondary" data-toggle="modal" data-target="#PrintablesModal" data-tooltip="tooltip" data-placement="top" title="Print Docs">
                    Printables
                </button>
            </div>
        </div>

        <!--Printables report Modal -->
        <div class="modal fade" id="PrintablesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-dark">
                        <div class="col text-center">
                            <h5 class="modal-title text-light" id="exampleModalLongTitle">Printables for: #@Model.ReportRow.PO</h5>
                        </div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <input type="hidden" asp-for="POSearch" />
                    <div class="container mb-2 mt-2 text-left">
                        <div class="form-inline mb-3">
                            <label class="col-4 font-weight-bold ">Custom: </label>
                            <input type="checkbox" class="form-control form-check " asp-for="Custom">
                        </div>
                        <div class="form-inline mb-3">
                            <label class="col-4 font-weight-bold">Due Date: </label>
                            <input type="date" class="form-control form-check " asp-for="DueDate">
                        </div>
                        <div class="form-inline mb-3">
                            <label class="col-4 font-weight-bold">Car Number: </label>
                            <input type="text" class="form-control form-check " asp-for="CarNumber">
                        </div>
                        <div class="form-inline mb-3">
                            <label class="col-4 font-weight-bold">Entered By: </label>
                            <custom-select select-for="ConfigGuy" selected-value="@Model.ConfigGuy" class="form-control form-control-sm" asp-for="@Model.ConfigGuy"></custom-select>
                        </div>
                        <div class="form-inline mb-3">
                            <label class="col-4 font-weight-bold">Notes: </label>
                            <textarea class="form-control col-8" asp-for="PrintableNotes" rows="4"></textarea>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
                        <button class="btn btn-warning btn-sm" type="submit">Go</button>
                    </div>

                </div>
            </div>
        </div>
    </form>
}

