@model City
@{
    ViewBag.Title = "Edit City";
    Layout = "_AdminLayoutWO";
}
<div class="bg-dark m-1 p-1"><h4 style="color:white">Edit City: @Model.Name</h4></div>
<form asp-controller="City" asp-action="Edit" method="post">
    <input type="hidden" asp-for="CityID" />
    <div class="form-group">
        <label asp-for="StateID" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <select asp-for="StateID" asp-items="@(new SelectList(@ViewBag.StateList,"StateID","Name"))"></select>
            <span asp-validation-for="StateID" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="FirecodeID" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <select asp-for="FirecodeID" asp-items="@(new SelectList(@ViewBag.FireCodeList,"FireCodeID","Name"))"></select>
            <span asp-validation-for="FirecodeID" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Name"></label>
        <div><span asp-validation-for="Name" class="text-danger"></span></div>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class=" text-center">
        <button class="btn btn-primary" type="submit">Save</button>
        <a asp-action="List" class="btn btn-secondary">Cancel</a>
    </div>
</form>