@model ProdFloor.Models.ViewModels.Testing.StepViewModel
@{
    ViewBag.Title = "Steps";
    Layout = "_AdminLayoutWO";
}
<div class="row" style="padding-right:20px">
    <h2 class="col-sm-10">
        Step Table
    </h2>
    <a class="btn btn-success  col-sm-2" asp-action="NewStep" asp-controller="Step" style="padding-top:10px;background-color:dodgerblue;min-width:100px">
        <i class="fa fa-plus"></i>
        New Step
    </a>
</div>
<br />
<form asp-action="SeedXML" asp-controller="Step" method="post">
    @if (Model.StepList.Count() == 0)
    {
        <button type="submit" name="buttonImportXML" value="All" class="btn btn-danger btn-sm">Import All Jobs from XML <i class="fas fa-file-alt"></i></button>
    }
</form>
<form asp-controller="Step" asp-action="List" method="get">
    <div class="btn-group" role="group">
        <button class="btn btn-dark" type="submit" name="filtrado" value="Traction">Element Traction</button>
        <button class="btn btn-dark" type="submit" name="filtrado" value="Hydro">Element Hydro</button>
        <button class="btn btn-dark" type="submit" name="filtrado" value="M2000">M2000</button>
        <button class="btn btn-dark" type="submit" name="filtrado" value="M4000">M4000</button>
    </div>
</form>
<br />
<div>
    <table class="table table-hover table-striped border table-sm" style="text-align:center">
        <tr class="table-info">
            <th>
                <label>Job Type</label>
            </th>
            <th>
                <label>Stage</label>
            </th>
            <th>
                <label>Description</label>
            </th>
            <th>
                <label>Order</label>
            </th>
            <th>
                <label>Trigger Features</label>
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.StepList)
        {
            var jobType = Model.JobTypesList.FirstOrDefault(m => m.JobTypeID == item.JobTypeID);
            <tr>
                <td>
                    @Html.DisplayFor(m => jobType.Name)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Stage)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Order)
                </td>
                <td>
                    @foreach (TriggeringFeature trigger in Model.TriggeringList.Where(n => n.StepID == item.StepID && n.Name != null && n.Name != ""))
                    {
                        <div class="form-group form-inline text-center" style="margin-bottom:0em;padding-bottom:0em;">
                            <div class="input-group mb-3" style="margin-bottom:0em;padding-bottom:0em;">
                                <div class="input-group-prepend" style="margin-bottom:0em;padding-bottom:0em;">
                                    <div class="input-group-text">
                                        @if (trigger.IsSelected)
                                        {
                                            <i class="fas fa-check-circle"></i>
                                        }
                                        else
                                        {
                                            <i class="fas fa-times-circle"></i>
                                        }
                                    </div>
                                </div>
                                <input type="text" class="form-control form-control-sm col-sm" value="@trigger.Name" readonly />
                            </div>
                        </div>
                    }
                </td>
                <td style="width:100px">
                    <form asp-action="Delete" asp-route-id="@item.StepID" method="post">
                        <button type="submit" class="btn btn-danger btn-sm">
                            <i class="far fa-trash-alt"></i>
                        </button>
                        <a asp-action="Edit" class="btn btn-sm btn-warning"
                           asp-route-Id="@item.StepID">
                            <i class="fas fa-edit"></i>
                        </a>
                    </form>
                </td>
            </tr>
        }
    </table>
</div>
<br />
<cool-pagination-steps elm-hydro-paging-info="@Model.ElmHydroPagingInfo" elm-traction-paging-info="@Model.ElmTractionPagingInfo" m2000-paging-info="@Model.M2000PagingInfo" m4000-paging-info="Model.M4000PagingInfo"
                 page-action="List"  job-type-selected="JobTypeName" page-class="btn" page-class-normal="btn-secondary" page-classes-enabled="true" current-model="@Model.JobTypeSelected"
                 page-class-selected="btn-dark"  elm-hydro-url-value="ElmHydroPage" elm-traction-url-value="ElmTractionPage" m2000-url-value="M2000Page"  m4000-url-value="M4000Page"
                 class="btn-group pull-right m-1">
</cool-pagination-steps>
<div>
    <form asp-controller="Step" asp-action="ExportToXML" method="post">
        <button class="btn btn-sm " name="buttonXML" style="background-color:steelblue;color:white;margin-bottom:30px">Export Table to an XML File</button>
    </form>
</div>
