@model ProdFloor.Models.ViewModels.Testing.StepViewModel
<button asp-action="NextForm" type="submit" value="AddSF" name="buttonAction" class="btn btn-success btn-sm col-sm-2" style="padding-top:10px;margin-bottom:10px;min-width:100px;float:left">
    <i class="fa fa-plus"></i>&nbsp; Trigger Feature
</button>
<input type="hidden" asp-for="Step.StepID" />
<input type="hidden" asp-for="Time" />
<div class="table-responsive">
    <table class="table form-control">
        <thead>
            <tr>
                <th style="text-align:center;width:100%">Feature</th>
            </tr>
        </thead>
        <tbody style="text-align:">
            @for (int i = 0; i < Model.TriggeringList.Count; i++)
            {
                @Html.HiddenFor(m => m.TriggeringList[i].StepID)
                @Html.HiddenFor(m => m.TriggeringList[i].TriggeringFeatureID)
                <tr>
                    <td>
                        <div class="input-group mb-3 ">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    @Html.CheckBoxFor(m => m.TriggeringList[i].IsSelected, new { Class = "form-control;" })
                                </div>
                            </div>
                            <trigger2-select class="form-control form-control-sm;" asp-for="@Model.TriggeringList[i].Name" select-for="TriggerFeature" selected-value="@Model.TriggeringList[i].Name"></trigger2-select>
                            @*@Html.TextBoxFor(m => m.TriggeringList[i].Name, new { Class = "form-control col-8;" })*@
                        </div>
                    </td>
                    <td style="text-align:center;">
                        <form asp-action="DeleteSF" method="post">
                            <input type="hidden" name="fieldID" value="@Model.TriggeringList[i].TriggeringFeatureID" />
                            <input type="hidden" name="returnUrl" value="\Step\Edit\@Model.TriggeringList[i].StepID" />
                            <button type="submit" class="btn btn-danger btn-sm">
                                <i class="fa fa-minus-circle"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
