@model ProdFloor.Models.ViewModels.WireTypesSize.WireTypesSizeListViewModel
@{
    ViewBag.Title = "WireTypesSize";
    Layout = "_AdminLayoutWO";
}
@if (Model.TotalItems == 0)
{
    <div class="text-right m-2">
        <form asp-action="SeedWire" method="post">
            <button type="submit" name="buttonImportXML" value="Wire" class="btn btn-danger">Import data from XML <i class="fas fa-file-alt"></i></button>
        </form>
    </div>
}
<br />
<form asp-action="List" method="get">
    <div id="accordionSearch" style="padding-top:5px;">
        <div class="card">
            <div class="card-header bg-dark text-center">
                <div class="btn-group" style="float:left">
                    <!--Search and Clean-->
                    <button class="btn btn-dark" style="border-color:transparent" type="submit" value="Search"><i class="fa fa-search" aria-hidden="true"></i></button>
                    <button class="btn btn-dark" style="border-color:transparent" name="CleanFields" type="submit" value="true"><i class="fas fa-undo"></i></button>
                </div>
                <div class="btn-group">
                    <!--Header Info-->
                    <button type="button" id="headingJobInfo" class="btn btn-dark" style="border-color:transparent" data-toggle="collapse" data-target="#collapseJobInfo" aria-expanded="true" aria-controls="collapseJobInfo">
                        <h6 class="mb-0 text-center">WireTypesSizes</h6>
                    </button>
                </div>
                <div class="btn-group" style="float:right">
                    <a class="btn btn-sm" asp-action="Add" asp-controller="WireTypesSize" style="padding-top:5px;min-width:100px;background-color:seagreen;color:white">
                        New Wire Type Size
                    </a>
                </div>
            </div>

            <!--Body Job Info-->
            <div id="collapseJobInfo" class="collapse" aria-labelledby="headingJobInfo" data-parent="#accordionSearch">
                <div class="card-body">
                    <div class="row">
                        <div class="col-3 border-right">
                            <div class="form-group row" style="margin-bottom:0px;">
                                <label asp-for="Type" class="col-sm-7 col-form-label"></label>
                                <input type="text" class="form-control form-control-sm col-sm-3" asp-for="Type">
                            </div>
                        </div>
                        <div class="col-3 border-right">
                            <div class="form-group row" style="margin-bottom:0px;">
                                <label asp-for="Size" class="col-sm-7 col-form-label"></label>
                                <input type="text" class="form-control form-control-sm col-sm-3" asp-for="Size">
                            </div>
                        </div>
                        <div class="col-3 border-right">
                            <div class="form-group row" style="margin-bottom:0px;">
                                <label asp-for="AMPRating" class="col-sm-7 col-form-label"></label>
                                <input type="text" class="form-control form-control-sm col-sm-3" asp-for="AMPRating">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</form>
<div>
    <table class="table table-striped text-center table-sm" style="text-align:center">
        <thead style="background-color:#343a40!important;color:#fff;">
            <tr>
                <th>
                    <label>Type</label>
                </th>
                <th>
                    <label>Size</label>
                </th>
                <th>
                    <label>AMP Rating</label>
                </th>
                <th></th>
            </tr>
        </thead>
            @foreach (var item in Model.WireTypes)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(m => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.Size)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.AMPRating)
                    </td>
                    <td style="width:100px">
                        <form asp-action="Delete" asp-route-id="@item.WireTypesSizeID" method="post">
                            <button type="submit" class="btn btn-danger btn-sm">
                                <i class="far fa-trash-alt"></i>
                            </button>
                            <a asp-action="Edit" class="btn btn-sm btn-warning"
                               asp-route-Id="@item.WireTypesSizeID">
                                <i class="fas fa-edit"></i>
                            </a>
                        </form>
                    </td>
                </tr>

            }
</table>
</div>
<coool-pagination-search page-model="@Model.PagingInfo" page-action="List" page-classes-enabled="true"
                         page-class="btn" page-class-normal="btn-secondary"
                         page-class-selected="btn-dark"
                         class="btn-group pull-right m-1">
</coool-pagination-search>
<br />
<div>
    <form asp-controller="Item" asp-action="ExportToXML" method="post">
        <button class="btn btn-sm " name="buttonXML" value="WireTypesSizes" style="background-color:steelblue;color:white">Export List to an XML File</button>
    </form>
</div>
