@model ProdFloor.Models.ViewModels.Wiring.WiringStopViewModel
@{
    ViewBag.Title = "End Stops";
    <script src="~/Scripts/CascadingR1R2R3R4R5.js" type="text/javascript"></script>
}
<div class="bg-dark m-1 p-1"><h4 style="color:white">Restar Stop</h4></div>
<form asp-action="FinishPendingStops" method="post">
    <input type="hidden" asp-for="Stop.WiringStopID" />
    <input type="hidden" asp-for="Stop.WiringID" />
    <input type="hidden" asp-for="WiringID" />
    <input type="hidden" asp-for="Stop.StartDate" />
    <div class="form-group row">
        <label asp-for="JobNum" class="col-sm-1 col-form-label"></label>
        <div>
            <input asp-for="JobNum" class="form-control col-10" disabled />
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="PONum" class="col-sm-1 col-form-label"></label>
        <div>
            <input asp-for="PONum" class="form-control col-10" disabled />
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Stop.StartDate" class="col-sm-1 col-form-label"></label>
        <div>
            <input asp-for="Stop.StartDate" class="form-control col-10" />
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Stop.StopDate" class="col-sm-1 col-form-label"></label>
        <div>
            <input asp-for="Stop.StopDate" class="form-control col-10" />
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Stop.Reason1" class="col-sm-1 col-form-label"></label>
        <div>
            <reasons1-select area="Wiring" selected-value="@Model.Stop.Reason1" class="form-control-sm form-control col-12" asp-for="Stop.Reason1" id="Reason1ID"></reasons1-select>
            <span asp-validation-for="Stop.Reason1" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Stop.Reason2" class="col-sm-1 col-form-label"></label>
        <div>
            <reasons2-select  area="Wiring" selected-in-r5-value="@Model.Stop.Reason5ID" class="form-control-sm form-control col-12" asp-for="Stop.Reason2" id="Reason2ID"></reasons2-select>
            <span asp-validation-for="Stop.Reason2" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Stop.Reason3" class="col-sm-1 col-form-label"></label>
        <div>
            <reasons3-select area="Wiring" selected-in-r5-value="@Model.Stop.Reason5ID" class="form-control-sm form-control col-12" asp-for="Stop.Reason3" id="Reason3ID"></reasons3-select>
            <span asp-validation-for="Stop.Reason3" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Stop.Reason4" class="col-sm-1 col-form-label"></label>
        <div>
            <reasons4-select area="Wiring" selected-in-r5-value="@Model.Stop.Reason5ID" class="form-control-sm form-control col-12" asp-for="Stop.Reason4" id="Reason4ID"></reasons4-select>
            <span asp-validation-for="Stop.Reason4" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Stop.Reason5ID" class="col-sm-1 col-form-label"></label>
        <div>
            <reasons5-select area="Wiring" selected-value="@Model.Stop.Reason5ID" class="form-control-sm form-control col-12" asp-for="Stop.Reason5ID" id="Reason5ID"></reasons5-select>
            <span asp-validation-for="Stop.Reason5ID" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Stop.Description"></label>
        <div><span asp-validation-for="Stop.Description" class="text-danger"></span></div>
        <textarea asp-for="Stop.Description" class="form-control"></textarea>
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Save</button>
        <a asp-action="List" asp-controller="Wiring" class="btn btn-secondary">Cancel</a>
    </div>
</form>
