<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script>$(document).ready(function () { $('[data-tooltip="tooltip"]').tooltip(); });</script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/fontawesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/lib/fontawesome/css/all.min.css" rel="stylesheet" />
    <link href="~/css/DashBoard.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color:#1B2831">
            <a class="navbar-brand" href="\">
                <img src="~/Images/nidec.png" class="img-fluid" style="width:120px;height:30px;margin-left:36px;margin-right:27px;" alt="Responsive image">
            </a>
            <a class="navbar-brand" href="\">@(ViewBag.Brand = "ProdFloor")</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse border-left" id="navbarNavDropdown">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="\">Home</a>
                    </li>
                    @if ((User.IsInRole("Engineer")))
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Job" asp-action="List">All Jobs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Job" asp-action="List" asp-route-EngID=" @UserManager.GetUserAsync(User).Result.EngID">My Jobs</a>
                        </li>
                    }
                </ul>
            </div>
            <div class="nav navbar-nav navbar-right">
                <ul class="navbar-nav">
                    @if (!User.Identity.IsAuthenticated)
                    {

                        <li class="nav-item">
                            <a href="\Account\LogIn">
                                Login <i class="fa fa-sign-in"></i>
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item"><a title="Edit Profile" class="nav-link" asp-controller="Account" asp-action="Edit" asp-route-Id="@UserManager.GetUserId(User)">Hello, @UserManager.GetUserAsync(User).Result.FullName</a></li>
                        <li class="nav-item"><a class="nav-link" href="\Account\LogOut"> Log out <span class="fas fa-sign-out-alt"></span></a></li>
                    }
                </ul>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <div class="row">
            <nav class="col-sm-2 col-md-2 d-none d-sm-block sidebar" style="background-color:#263B49">
                @if (User.IsInRole("Admin"))
                {
                    @await Component.InvokeAsync("AdminMenu")
                }
                else if (User.IsInRole("TechAdmin"))
                {
                    @await Component.InvokeAsync("AdminTechMenu")
                }
                else if (User.IsInRole("Engineer"))
                {
                    @await Component.InvokeAsync("EngineerMenu")
                }
                else if (User.IsInRole("Technician"))
                {
                    @await Component.InvokeAsync("TechMenu")
                }
                else
                {
                    @await Component.InvokeAsync("NavigationMenu")
                }
            </nav>
            <main role="main" class="col-sm-10 ml-sm-auto col-md-10 pt-3">
                @if (TempData["message"] != null)
                {
                    <div class="alert @(TempData["alert"] == null ? "alert-success" : TempData["alert"]) alert-dismissible fade show">
                        @TempData["message"]
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                }
                @RenderBody()
            </main>
        </div>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="~/lib/bootstrap/assets/js/vendor/popper.min.js"></script>
    </div>
</body>
</html>
