@model ProdFloor.Models.ViewModels.TestJob.TestJobViewModel
@{
    ViewBag.Title = "Steps For Job";
    Layout = "_AdminLayoutWO";
    int nextNum = Model.StepsForJob.Consecutivo + 1;
    int prevNum = Model.StepsForJob.Consecutivo - 1;
}
<form asp-controller="TestJob" asp-action="StepsForJob" method="post">
    <input type="hidden" asp-for="Job.JobNum" value="@Model.Job.JobNum" />
    <input type="hidden" asp-for="Step.Stage" />
    <input type="hidden" asp-for="TestJob.TestJobID" value="@Model.TestJob.TestJobID" />
    <input type="hidden" asp-for="StepsForJob.Consecutivo" value="@Model.StepsForJob.Consecutivo" />
    <input type="hidden" asp-for="StepsForJob.StepsForJobID" value="@Model.StepsForJob.StepsForJobID" />
    <input type="hidden" asp-for="Step.Description" />
    <input type="hidden" asp-for="TestFeature.TestJobID" value="@Model.TestJob.TestJobID" />
    <input type="hidden" asp-for="TestJob.JobID" />
    <div class="container justify-content-md-center">
        <div class="row justify-content-md-center"><h2>@Model.Job.JobNum</h2></div>
        <br />
        <div class="row justify-content-md-center"><h3>@Model.Step.Stage</h3></div>
        <br />
        <div class="row justify-content-md-center"><h4>@Model.StepsForJob.Consecutivo</h4></div>
        <br />
        <div class="row justify-content-md-center"><h3>@Model.Step.Description</h3></div>
    </div>
    <br />
    <div class="justify-content-md-center text-center">
        <div class="btn-group row " style="position:center" role="group" aria-label="Basic example">
            <button type="submit" class="btn btn-primary" name="next" value="@prevNum" disabled="@(Model.StepsForJob.Consecutivo <= 1 ? true: false)">Atras</button>
            <button type="submit" class="btn btn-success" name="next" value="@nextNum">Siguiente</button>
            <a class="btn btn-danger" asp-controller="Stop" asp-action="NewStop" asp-route-id="@Model.TestJob.TestJobID">Stop</a>
        </div>
    </div>
</form>