@model ProdFloor.Models.ViewModels.Report.ReportsViewModel
@{
    ViewData["Title"] = "ProdFloor Stats";
    <script>
        $(document).ready(function () {
            setInterval(function () {
                location.reload(true);
            }, 60000);

        });
    </script>
    DailyReport dailyM2000 = Model.dailyReports.FirstOrDefault(m => m.JobTypeName == "M2000");
    DailyReport dailyHydro = Model.dailyReports.FirstOrDefault(m => m.JobTypeName == "ElmHydro");
    DailyReport dailyM4000 = Model.dailyReports.FirstOrDefault(m => m.JobTypeName == "M4000");
    DailyReport dailyTraction = Model.dailyReports.FirstOrDefault(m => m.JobTypeName == "ElmTract");

    DailyReport weekM2000 = Model.WeekReports.FirstOrDefault(m => m.JobTypeName == "M2000");
    DailyReport weekHydro = Model.WeekReports.FirstOrDefault(m => m.JobTypeName == "ElmHydro");
    DailyReport weekM4000 = Model.WeekReports.FirstOrDefault(m => m.JobTypeName == "M4000");
    DailyReport weekTraction = Model.WeekReports.FirstOrDefault(m => m.JobTypeName == "ElmTract");

    DailyReport monthM2000 = Model.MonthReports.FirstOrDefault(m => m.JobTypeName == "M2000");
    DailyReport monthHydro = Model.MonthReports.FirstOrDefault(m => m.JobTypeName == "ElmHydro");
    DailyReport monthM4000 = Model.MonthReports.FirstOrDefault(m => m.JobTypeName == "M4000");
    DailyReport monthTraction = Model.MonthReports.FirstOrDefault(m => m.JobTypeName == "ElmTract");

    DailyReport lastMonthM2000 = Model.PastMonthReports.FirstOrDefault(m => m.JobTypeName == "M2000");
    DailyReport lastMonthHydro = Model.PastMonthReports.FirstOrDefault(m => m.JobTypeName == "ElmHydro");
    DailyReport lastMonthM4000 = Model.PastMonthReports.FirstOrDefault(m => m.JobTypeName == "M4000");
    DailyReport lastMonthTraction = Model.PastMonthReports.FirstOrDefault(m => m.JobTypeName == "ElmTract");
}

<div>
    <div class="row mb-1 pb-1">
        @Html.Partial("TestSlidesDuo", Model)
    </div>
    <div class="row mt-1 pt-1 pl-5">
        <div class="col-12 mr-auto">
            <div id="carouselEFFData" class="carousel slide" data-ride="carousel" data-interval="15000" style="width: 90rem;">
                <div class="carousel-inner">
                    <div class="carousel-item active">

                        <div class="card text-white bg-success" style="height: 7rem">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-2 pl-0 border-right text-center">
                                        <h2>@dailyM4000.JobTypeName</h2>
                                    </div>
                                    <div class="col font-weight-bold border-right" style="font-size: 18px">
                                        <span>@dailyM4000.TodayDate</span><br />
                                        <span>Eficiencia:  @dailyM4000.TotalEfficiency%</span>
                                        <div class="progress bg-secondary" style="height: 0.2rem;width: 12rem">
                                            <div class="progress-bar bg-white" role="progressbar" style="width: @dailyM4000.TotalEfficiency%;"
                                                 aria-valuenow="@dailyM4000.TotalEfficiency" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <span>Completados: @dailyM4000.TestJobsCounted </span>
                                    </div>
                                    <div class="col font-weight-bold border-right" style="font-size: 18px">
                                        <span>En esta semana</span><br />
                                        <span>Eficiencia:  @weekM4000.TotalEfficiency%</span>
                                        <div class="progress bg-secondary" style="height: 0.2rem;width: 12rem">
                                            <div class="progress-bar bg-white" role="progressbar" style="width: @weekM4000.TotalEfficiency%;"
                                                 aria-valuenow="@weekM4000.TotalEfficiency" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <span>Completados: @weekM4000.TestJobsCounted </span>
                                    </div>
                                    <div class="col font-weight-bold border-right" style="font-size: 18px">
                                        <span>En este mes</span><br />
                                        <span>Eficiencia:  @monthM4000.TotalEfficiency%</span>
                                        <div class="progress bg-secondary" style="height: 0.2rem;width: 12rem">
                                            <div class="progress-bar bg-white" role="progressbar" style="width: @monthM4000.TotalEfficiency%;"
                                                 aria-valuenow="@monthM4000.TotalEfficiency" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <span>Completados: @monthM4000.TestJobsCounted </span>
                                    </div>
                                    <div class="col font-weight-bold" style="font-size: 18px">
                                        <span>En el mes pasado</span><br />
                                        <span>Eficiencia:  @lastMonthM4000.TotalEfficiency%</span>
                                        <div class="progress bg-secondary" style="height: 0.2rem;width: 12rem">
                                            <div class="progress-bar bg-white" role="progressbar" style="width: @lastMonthM4000.TotalEfficiency%;"
                                                 aria-valuenow="@lastMonthM4000.TotalEfficiency" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <span>Completados: @lastMonthM4000.TestJobsCounted </span>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="carousel-item">

                        <div class="card text-white bg-danger" style="height: 7rem">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-2 pl-0 border-right text-center">
                                        <h3>Element Traction</h3>
                                    </div>
                                    <div class="col font-weight-bold border-right" style="font-size: 18px">
                                        <span>@dailyTraction.TodayDate</span><br />
                                        <span>Eficiencia:  @dailyTraction.TotalEfficiency%</span>
                                        <div class="progress bg-secondary" style="height: 0.2rem;width: 12rem">
                                            <div class="progress-bar bg-white" role="progressbar" style="width: @dailyTraction.TotalEfficiency%;"
                                                 aria-valuenow="@dailyTraction.TotalEfficiency" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <span>Completados: @dailyTraction.TestJobsCounted </span>
                                    </div>
                                    <div class="col font-weight-bold border-right" style="font-size: 18px">
                                        <span>En esta semana</span><br />
                                        <span>Eficiencia:  @weekTraction.TotalEfficiency%</span>
                                        <div class="progress bg-secondary" style="height: 0.2rem;width: 12rem">
                                            <div class="progress-bar bg-white" role="progressbar" style="width: @weekTraction.TotalEfficiency%;"
                                                 aria-valuenow="@weekTraction.TotalEfficiency" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <span>Completados: @weekTraction.TestJobsCounted </span>
                                    </div>
                                    <div class="col font-weight-bold border-right" style="font-size: 18px">
                                        <span>En este mes</span><br />
                                        <span>Eficiencia:  @monthTraction.TotalEfficiency%</span>
                                        <div class="progress bg-secondary" style="height: 0.2rem;width: 12rem">
                                            <div class="progress-bar bg-white" role="progressbar" style="width: @monthTraction.TotalEfficiency%;"
                                                 aria-valuenow="@monthTraction.TotalEfficiency" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <span>Completados: @monthTraction.TestJobsCounted </span>
                                    </div>
                                    <div class="col font-weight-bold" style="font-size: 18px">
                                        <span>En el mes pasado</span><br />
                                        <span>Eficiencia:  @lastMonthTraction.TotalEfficiency%</span>
                                        <div class="progress bg-secondary" style="height: 0.2rem;width: 12rem">
                                            <div class="progress-bar bg-white" role="progressbar" style="width: @lastMonthTraction.TotalEfficiency%;"
                                                 aria-valuenow="@lastMonthTraction.TotalEfficiency" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <span>Completados: @lastMonthTraction.TestJobsCounted </span>
                                    </div>
                                </div>

                            </div>
                        </div>


                    </div>
                    <div class="carousel-item">

                        <div class="card text-dark bg-warning" style="height: 7rem">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-2 pl-0 border-right text-center">
                                        <h2>@dailyM2000.JobTypeName</h2>
                                    </div>
                                    <div class="col font-weight-bold border-right" style="font-size: 18px">
                                        <span>@dailyM2000.TodayDate</span><br />
                                        <span>Eficiencia:  @dailyM2000.TotalEfficiency%</span>
                                        <div class="progress bg-secondary" style="height: 0.2rem;width: 12rem">
                                            <div class="progress-bar bg-white" role="progressbar" style="width: @dailyM2000.TotalEfficiency%;"
                                                 aria-valuenow="@dailyM2000.TotalEfficiency" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <span>Completados: @dailyM2000.TestJobsCounted </span>
                                    </div>
                                    <div class="col font-weight-bold border-right" style="font-size: 18px">
                                        <span>En esta semana</span><br />
                                        <span>Eficiencia:  @weekM2000.TotalEfficiency%</span>
                                        <div class="progress bg-secondary" style="height: 0.2rem;width: 12rem">
                                            <div class="progress-bar bg-white" role="progressbar" style="width: @weekM2000.TotalEfficiency%;"
                                                 aria-valuenow="@weekM2000.TotalEfficiency" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <span>Completados: @weekM2000.TestJobsCounted </span>
                                    </div>
                                    <div class="col font-weight-bold border-right" style="font-size: 18px">
                                        <span>En este mes</span><br />
                                        <span>Eficiencia:  @monthM2000.TotalEfficiency%</span>
                                        <div class="progress bg-secondary" style="height: 0.2rem;width: 12rem">
                                            <div class="progress-bar bg-white" role="progressbar" style="width: @monthM2000.TotalEfficiency%;"
                                                 aria-valuenow="@monthM2000.TotalEfficiency" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <span>Completados: @monthM2000.TestJobsCounted </span>
                                    </div>
                                    <div class="col font-weight-bold" style="font-size: 18px">
                                        <span>En el mes pasado</span><br />
                                        <span>Eficiencia:  @lastMonthM2000.TotalEfficiency%</span>
                                        <div class="progress bg-secondary" style="height: 0.2rem;width: 12rem">
                                            <div class="progress-bar bg-white" role="progressbar" style="width: @lastMonthM2000.TotalEfficiency%;"
                                                 aria-valuenow="@lastMonthM2000.TotalEfficiency" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <span>Completados: @lastMonthM2000.TestJobsCounted </span>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="carousel-item">

                        <div class="card text-white bg-info" style="height: 7rem">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-2 pl-0 border-right text-center">
                                        <h3>Element Hydro</h3>
                                    </div>
                                    <div class="col font-weight-bold border-right" style="font-size: 18px">
                                        <span>@dailyHydro.TodayDate</span><br />
                                        <span>Eficiencia:  @dailyHydro.TotalEfficiency%</span>
                                        <div class="progress bg-secondary" style="height: 0.2rem;width: 12rem">
                                            <div class="progress-bar bg-white" role="progressbar" style="width: @dailyHydro.TotalEfficiency%;"
                                                 aria-valuenow="@dailyHydro.TotalEfficiency" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <span>Completados: @dailyHydro.TestJobsCounted </span>
                                    </div>
                                    <div class="col font-weight-bold border-right" style="font-size: 18px">
                                        <span>En esta semana</span><br />
                                        <span>Eficiencia:  @weekHydro.TotalEfficiency%</span>
                                        <div class="progress bg-secondary" style="height: 0.2rem;width: 12rem">
                                            <div class="progress-bar bg-white" role="progressbar" style="width: @weekHydro.TotalEfficiency%;"
                                                 aria-valuenow="@weekHydro.TotalEfficiency" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <span>Completados: @weekHydro.TestJobsCounted </span>
                                    </div>
                                    <div class="col font-weight-bold border-right" style="font-size: 18px">
                                        <span>En este mes</span><br />
                                        <span>Eficiencia:  @monthHydro.TotalEfficiency%</span>
                                        <div class="progress bg-secondary" style="height: 0.2rem;width: 12rem">
                                            <div class="progress-bar bg-white" role="progressbar" style="width: @monthHydro.TotalEfficiency%;"
                                                 aria-valuenow="@monthHydro.TotalEfficiency" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <span>Completados: @monthHydro.TestJobsCounted </span>
                                    </div>
                                    <div class="col font-weight-bold" style="font-size: 18px">
                                        <span>En el mes pasado</span><br />
                                        <span>Eficiencia:  @lastMonthHydro.TotalEfficiency%</span>
                                        <div class="progress bg-secondary" style="height: 0.2rem;width: 12rem">
                                            <div class="progress-bar bg-white" role="progressbar" style="width: @lastMonthHydro.TotalEfficiency%;"
                                                 aria-valuenow="@lastMonthHydro.TotalEfficiency" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <span>Completados: @lastMonthHydro.TestJobsCounted </span>
                                    </div>
                                </div>

                            </div>
                        </div>


                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselEFFData" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselEFFData" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

    </div>
</div>






