@model ProdFloor.Models.ViewModels.TestJob.TestJobViewModel
@{
    <script src="~/Scripts/CascadingJobTypeLanding.js" type="text/javascript"></script>
}
    <input type="hidden" asp-for="@Model.Indicator.IndicatorID">
    <input type="hidden" asp-for="@Model.SpecialFeature.SpecialFeaturesID">
    <input type="hidden" asp-for="@Model.GenericFeatures.GenericFeaturesID">
    <input type="hidden" asp-for="@Model.Job.JobID"/>
    <input type="hidden" asp-for="@Model.isNotDummy"/>
    <h3 class="text-left">Job Information</h3>
    <br>
    <div class="form-row col-sm-12" style="padding-bottom:15px">
        <div class="col-6 form-line border-right justify-content-md-center">
            <input type="hidden" asp-for="Job.JobID" />
            <div class="form-group row">
                <label asp-for="Job.Name" class="col-sm-4 col-form-label" ></label>
                <div>
                    <input asp-for="Job.Name" class="form-control col-sm-11" readonly="@Model.isNotDummy"/>
                    <span asp-validation-for="Job.Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Job.JobNum" class="col-sm-4 col-form-label" ></label>
                <div>
                    <input asp-for="Job.JobNum" class="form-control col-sm-11" readonly="@Model.isNotDummy"/>
                    <span asp-validation-for="Job.JobNum" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Job.ShipDate" class="col-sm-4 col-form-label"></label>
                <div>
                    <input asp-for="Job.ShipDate" class="form-control col-sm-11" readonly="@Model.isNotDummy"/>
                    <span asp-validation-for="Job.ShipDate" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Job.JobTypeID" class="col-sm-4 col-form-label"></label>
                <job-type-select selected-value="@Model.Job.JobTypeID" class="form-control-sm form-control col-sm-4" id="JobTypeID" asp-for="Job.JobTypeID" required readonly="@Model.isNotDummy"></job-type-select>
                <span asp-validation-for="Job.JobTypeID" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="JobExtension.JobTypeMain" class="col-sm-4 col-form-label"></label>
                <indicators select-for="JobType" selected-value="@Model.JobExtension.JobTypeMain" class="form-control-sm form-control col-sm-4" asp-for="JobExtension.JobTypeMain" required readonly="@Model.isNotDummy"></indicators>
                <span asp-validation-for="JobExtension.JobTypeMain" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="HoistWayData.LandingSystemID" class="col-sm-4 col-form-label"></label>
                <landing-sys-select selected-value="@Model.HoistWayData.LandingSystemID" class="form-control-sm form-control col-sm-4" id="LandingSystemID" asp-for="HoistWayData.LandingSystemID" required readonly="@Model.isNotDummy"></landing-sys-select>
                <span asp-validation-for="HoistWayData.LandingSystemID" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="PO.PONumb" class="col-sm-4 col-form-label"></label>
                <div class="form-inline">
                    <input asp-for="PO.PONumb" readonly="@true" class="form-control col-sm-8" />
                    <span asp-validation-for="PO.PONumb" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-6 form-line justify-content-md-center">
            <div class="container">
                <div class="form-group row" style="padding-left:15px;">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" asp-for="Canada" class="custom-control-input" readonly="@Model.isNotDummy">
                        <div><span asp-validation-for="Canada" class="text-danger"></span></div>
                        <label class="custom-control-label" asp-for="Canada"></label>
                    </div>
                </div>
                <div class="form-group row" style="padding-left:15px;">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" asp-for="Ontario" class="custom-control-input" readonly="@Model.isNotDummy">
                        <div><span asp-validation-for="Ontario" class="text-danger"></span></div>
                        <label class="custom-control-label" asp-for="Ontario"></label>
                    </div>
                </div>
                <div class="form-group row" style="padding-left:15px;">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" asp-for="MOD" class="custom-control-input" readonly="@Model.isNotDummy">
                        <div><span asp-validation-for="MOD" class="text-danger"></span></div>
                        <label class="custom-control-label" asp-for="MOD"></label>
                    </div>
                </div>
                <div class="form-group row" style="padding-left:15px;">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" asp-for="Manual" class="custom-control-input"readonly="@Model.isNotDummy">
                        <div><span asp-validation-for="Manual" class="text-danger"></span></div>
                        <label class="custom-control-label" asp-for="Manual"></label>
                    </div>
                </div>
                <div class="form-group row" style="padding-left:15px;">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" asp-for="IMonitor" class="custom-control-input" readonly="@Model.isNotDummy">
                        <div><span asp-validation-for="IMonitor" class="text-danger"></span></div>
                        <label class="custom-control-label" asp-for="IMonitor"></label>
                    </div>
                </div>
                <div class="form-group row" style="padding-left:15px;">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" asp-for="MView" class="custom-control-input" readonly="@Model.isNotDummy">
                        <div><span asp-validation-for="MView" class="text-danger"></span></div>
                        <label class="custom-control-label" asp-for="MView"></label>
                    </div>
                </div>
                <div class="form-group row" style="padding-left:15px;">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" asp-for="TwosStarters" class="custom-control-input" readonly="@Model.isNotDummy">
                        <div><span asp-validation-for="TwosStarters" class="text-danger"></span></div>
                        <label class="custom-control-label" asp-for="TwosStarters"></label>
                    </div>
                </div>
                <div class="form-group row" style="padding-left:15px;">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" asp-for="JobExtension.SCOP" class="custom-control-input" readonly="@Model.isNotDummy">
                        <div><span asp-validation-for="JobExtension.SCOP" class="text-danger"></span></div>
                        <label class="custom-control-label" asp-for="JobExtension.SCOP"></label>
                    </div>
                </div>
                <div class="form-group row" style="padding-left:15px;">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" asp-for="JobExtension.SHC" class="custom-control-input" readonly="@Model.isNotDummy">
                        <div><span asp-validation-for="JobExtension.SHC" class="text-danger"></span></div>
                        <label class="custom-control-label" asp-for="JobExtension.SHC"></label>
                    </div>
                </div>
                <div class="form-group row" style="padding-left:15px;">
                    <div class="form-inline">
                        <input id="BatterySelected" asp-for="HydroSpecific.Battery" class="form-check-input" type="checkbox" readonly="@Model.isNotDummy"/>
                        <div><span asp-validation-for="HydroSpecific.Battery" class="text-danger"></span></div>
                        <label asp-for="HydroSpecific.Battery" class="col-form-label" style="margin-left:15px;"></label>
                    </div>
                </div>
                <div class="form-group row" id="BatteryBrand" style="padding-left:15px;">
                    <label asp-for="HydroSpecific.BatteryBrand" class="col-sm-2 col-form-label" style="margin-right:10px" readonly="@Model.isNotDummy"></label>
                    <div>
                        <custom-select id="OtherBatteryBrandSelected" selected-value="@Model.HydroSpecific.BatteryBrand" class="form-control-sm form-control" asp-for="HydroSpecific.BatteryBrand" select-for="Battery Brand" readonly="@Model.isNotDummy"></custom-select>
                        <span asp-validation-for="HydroSpecific.BatteryBrand" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
@if (Model.HydroSpecific.Battery == false)
{
    <script type="text/javascript">
        $("#BatterySelected").ready(function () {
            $("#BatteryBrand").hide();
        });

        $("#BatterySelected").click(function () {
            $("#BatteryBrand")[this.checked ? "show" : "hide"]();
            if (this.checked) {
                $("#OtherBatteryBrandSelected").attr('required', true);
            } else {
                $("#OtherBatteryBrandSelected").attr('required', false);
            }
        });
    </script>
}