@model ProdFloor.Models.ViewModels.TestJob.TestJobViewModel
    <h4>Ongoing TestJob(s)</h4>
    <table class="table table-sm">
        <thead style="background-color:#1B2831;color:#fff">
            <tr>
                <th scope="col">
                    Job#
                </th>
                <th scope="col">
                    PO#
                </th>
                <th scope="col">
                    Status
                </th>
                <th scope="col">
                    Station
                </th>
                <th scope="col">
                    Options
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.TestJobList.Count() == 0)
            {
                <tr>
                    <td>No Test Jobs!</td>
                </tr>
            }
            else
            {
                @foreach (var j in Model.TestJobList)
                {
                    AppUser CurrentUser = UserManager.Users.FirstOrDefault(m => m.EngID == j.TechnicianID);
                <tr>
                    <th scope="row">
                        @if (j.Status != "Incomplete")
                        {
                            <a asp-action="EditTestFeatures"
                               asp-route-Id="@j.TestJobID">
                                @Model.JobList.FirstOrDefault(m => m.JobID == j.JobID).JobNum
                            </a>
                        }
                        else
                        {
                            @Model.JobList.FirstOrDefault(m => m.JobID == j.JobID).JobNum
                        }
                    </th>
                    <td>@j.SinglePO</td>
                    <td>
                        @j.Status
                    </td>
                    <td>
                        @Model.StationsList.FirstOrDefault(m => m.StationID == j.StationID).Label
                    </td>
                    <td>

                        <form asp-action="EditTestFeatures" asp-controller="TestJob" method="get">
                            <button type="submit" value="@j.TestJobID" name="ID" class="btn btn-light"
                                    style="float:left;background-color:transparent">
                                <i class="fas fa-edit"></i>
                            </button>
                        </form>
                        <form asp-action="AllStepsForJob" asp-controller="TestJob" method="get">
                            <button type="submit" value="@j.TestJobID" name="ID" class="btn btn-light"
                                    style="float:left;background-color:transparent">
                                <i class="fas fa-shoe-prints"></i>
                            </button>
                        </form>
                        <form asp-action="StopsFromTestJob" asp-controller="TestJob" method="get">
                            <button type="submit" value="@j.TestJobID" name="ID" class="btn btn-light"
                                    style="float:left;background-color:transparent">
                                <i class="fas fa-hourglass-half"></i>
                            </button>
                        </form>

                        @if (j.Status != "Incomplete" && j.Status != "Completed")
                        {
                            <!-- Button trigger to  reassign-->
                            <button type="button" class="btn btn-light" data-toggle="modal" data-target="#exampleModalreassign @j.TestJobID" style="float:left;background-color:transparent">
                                <i class="fas fa-user-edit"></i>
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModalreassign @j.TestJobID" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Are you sure you want to reassign the Test Job with PO #@j.SinglePO?</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <form asp-action="Reassignment" asp-controller="TestJob" method="get">
                                            <div class="modal-body">
                                                <table class="table text-center align-content-center">
                                                    <thead>
                                                        <tr>
                                                            <th>Current Technician</th>
                                                            <th>Current Station</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td><user-select selected-value="@j.TechnicianID" class="form-control form-control-sm" asp-for="@Model.NewTechnicianID" roles="T"></user-select></td>
                                                            <td><station-select selected-value="@j.StationID" class="form-control form-control-sm" asp-for="@Model.NewStationID"></station-select></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
                                                <input type="hidden" asp-for="@Model.TestJob.TestJobID" value="@j.TestJobID" />
                                                <button type="submit" value="Completed" name="buttonAction" class="btn btn-warning btn-sm">
                                                    Reassign it!
                                                </button>

                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        }

                        @if (j.Status == "Completed")
                        {
                            <!-- Button trigger to  return to working on it-->
                            <button type="button" class="btn btn-light" data-toggle="modal" data-target="#exampleModalReturn @j.TestJobID" style="float:left;background-color:transparent">
                                <i class="fas fa-undo"></i>
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModalReturn @j.TestJobID" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">"Are you sure you want to return Job# @Model.JobList.FirstOrDefault(m => m.JobID == j.JobID).JobNum with PO @j.SinglePO to "Working on it" Status?"</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <form asp-action="ReturnFromComplete" asp-controller="TestJob" method="get">
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
                                                <input type="hidden" asp-for="@Model.TestJob.TestJobID" value="@j.TestJobID" />
                                                <button type="submit" value="Completed" name="buttonAction" class="btn btn-danger btn-sm">
                                                    Return it!
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        }


                    </td>
                </tr>
                }
            }
        </tbody>
    </table>
    @if (Model.TestJobList.Count() > 0)
    {
    <coool-pagination-all page-model="@Model.PagingInfo" page-action="SearchTestJob" page-classes-enabled="true"
                          page-class="btn" page-class-normal="btn-secondary"
                          page-class-selected="btn-primary"
                          class="btn-group pull-right m-1">
    </coool-pagination-all>
    }