@model ProdFloor.Models.ViewModels.TestJob.TestJobViewModel
<table class="table table-striped  text-center table-sm" style="text-align:center">
    <thead style="background-color:#343a40!important;color:#fff;">
        <tr>
            <th class="text-center" colspan="7">
                <h5>Incomplete TestJob(s)</h5>
            </th>
        </tr>
        <tr>
            <th scope="col">
                Job#
            </th>
            <th scope="col">
                PO#
            </th>
            <th scope="col">
                JobType
            </th>
            <th scope="col">
                Technician
            </th>
            <th scope="col">
                Status
            </th>
            <th scope="col">
                Station
            </th>
            <th width="22%">
                Options
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.TestJobIncompletedList.Count() == 0)
        {
            <tr>
                <td>No Test Jobs!</td>
            </tr>
        }
        else
        {
            @foreach (var j in Model.TestJobIncompletedList)
            {
                AppUser CurrentUser = UserManager.Users.FirstOrDefault(m => m.EngID == j.TechnicianID);
                Job MyJob = Model.JobList.FirstOrDefault(m => m.JobID == j.JobID);

                <tr>
                    <th scope="row">

                            @Model.JobList.FirstOrDefault(m => m.JobID == j.JobID).JobNum
                    </th>
                    <td>@j.SinglePO</td>
                    <td>@Model.JobTypeList.FirstOrDefault(m => m.JobTypeID == MyJob.JobTypeID).Name</td>
                    <td>@CurrentUser.FullName</td>
                    <td>
                        @j.Status
                    </td>
                    <td>
                        @Model.StationsList.FirstOrDefault(m => m.StationID == j.StationID).Label
                    </td>
                    <td>
                        @if (j.Status != "Incomplete")
                        {
                            <form asp-action="EditTestJob" asp-controller="TestJob" method="get">
                                <button type="submit" value="@j.TestJobID" name="ID" class="btn btn-light" data-tooltip="tooltip" data-placement="top" title="Edit"
                                        style="float:left;background-color:transparent">
                                    <i class="fas fa-edit"></i>
                                </button>
                            </form>
                            <form asp-action="TestJobWorkSheet" asp-controller="TestJob" method="get">
                                <button type="submit" value="@j.TestJobID" name="ID" class="btn btn-light" data-tooltip="tooltip" data-placement="top" title="Resume"
                                        style="float:left;background-color:transparent">
                                    <i class="fas fa-file-word"></i>
                                </button>
                            </form>
                            <!-- Button trigger to  reassign-->
                            <button type="button" class="btn btn-light" data-toggle="modal" data-target="#exampleModalreassign @j.TestJobID" style="float:left;background-color:transparent" data-tooltip="tooltip" data-placement="top" title="Reassign TestJob">
                                <i class="fas fa-user-edit"></i>
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModalreassign @j.TestJobID" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Are you sure you want to reassign the Test Job with PO #@j.SinglePO?</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <form asp-action="Reassignment" asp-controller="TestJob" method="get">
                                            <div class="modal-body">
                                                <table class="table text-center align-content-center">
                                                    <thead>
                                                        <tr>
                                                            <th>Current Technician</th>
                                                            <th>Current Station</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td><user-select selected-value="@j.TechnicianID" class="form-control form-control-sm" asp-for="@Model.NewTechnicianID" roles="Technician"></user-select></td>
                                                            <td><station-select select-for="Model.JobList.FirstOrDefault(m => m.JobID == j.JobID).JobTypeID" selected-value="@j.StationID" class="form-control form-control-sm" asp-for="@Model.NewStationID"></station-select></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
                                                <input type="hidden" asp-for="@Model.TestJob.TestJobID" value="@j.TestJobID" />
                                                <button type="submit" value="Completed" name="buttonAction" class="btn btn-warning btn-sm">
                                                    Reassign it!
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <form asp-action="AllStepsForJob" asp-controller="TestJob" method="get">
                                <button type="submit" value="@j.TestJobID" name="ID" class="btn btn-light" data-tooltip="tooltip" data-placement="top" title="Steps from Testjob"
                                        style="float:left;background-color:transparent">
                                    <i class="fas fa-shoe-prints"></i>
                                </button>
                            </form>
                            <form asp-action="StopsFromTestJob" asp-controller="TestJob" method="get">
                                <button type="submit" value="@j.TestJobID" name="ID" class="btn btn-light" data-tooltip="tooltip" data-placement="top" title="Stops from Testjob"
                                        style="float:left;background-color:transparent">
                                    <i class="fas fa-hourglass-half"></i>
                                </button>
                            </form>
                            <!-- Button trigger to complete-->
                            <button type="button" class="btn btn-light" data-toggle="modal" data-target="#exampleModalReturn @j.TestJobID" style="float:left;background-color:transparent" data-tooltip="tooltip" data-placement="top" title="Send To Completed">
                                <i class="fas fa-forward"></i>
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModalReturn @j.TestJobID" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Are you sure you want to complete the Test Job with PO #@j.SinglePO?</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        @if (Model.StopList.Where(m => m.TestJobID == j.TestJobID).Count() > 0)
                                        {
                                            <div class="modal-body text-center">
                                                <h5><i class="fas fa-exclamation-triangle"></i>&nbsp; This TestJob have pending stops &nbsp;<i class="fas fa-exclamation-triangle"></i></h5>
                                            </div>
                                            <form asp-action="FinishPendingStops" asp-controller="Stop" method="get">
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
                                                    <input type="hidden" id="TestJobID" name="TestJobID" value="@j.TestJobID" />
                                                    <button type="submit" value="Completed" name="buttonAction" class="btn btn-danger btn-sm">
                                                        Finish the stops first!
                                                    </button>
                                                </div>
                                            </form>
                                        }
                                        else
                                        {
                                            <form asp-action="JobCompletion" asp-controller="TestJob" method="get">
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
                                                    <input type="hidden" id="TestJobID" name="TestJobID" asp-for="@Model.TestJob.TestJobID" value="@j.TestJobID" />
                                                    <button type="submit" value="Completed" name="buttonAction" class="btn btn-danger btn-sm">
                                                        To complete!
                                                    </button>
                                                </div>
                                            </form>
                                        }

                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <form asp-action="ContinueForm" asp-controller="TestJob" method="get">
                                <button type="submit" value="@j.TestJobID" name="ID" class="btn btn-light" data-tooltip="tooltip" data-placement="top" title="Continue Form"
                                        style="float:left;background-color:transparent">
                                    <i class="fas fa-edit"></i>
                                </button>
                            </form>
                        }

                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-light" style="float:left;background-color:transparent" data-toggle="modal" data-target="#delete @j.TestJobID" data-tooltip="tooltip" data-placement="top" title="Delete TestJob">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                        <!-- Modal -->
                        <form asp-action="Delete" asp-controller="TestJob" method="post" asp-route-Id="@j.TestJobID">
                            <div class="modal fade" id="delete @j.TestJobID" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle"><i class="fas fa-exclamation-triangle"></i>&nbsp;Warning</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure want to delete permanently this Testjob with PO #@j.SinglePO?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
                                            <button type="submit" class="btn btn-danger btn-sm">
                                                Delete
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>




                    </td>
                </tr>
            }
        }
    </tbody>
</table>
@if (Model.TestJobIncompletedList.Count() > 0)
{
    <cool-pagination-dash-board-job-num current-model="MyJobs" my-jobs-page-model="@Model.PagingInfoIncompleted" page-action="SearchTestJob" page-classes-enabled="true"
                                        page-class="btn" page-class-normal="btn-secondary" on-cross-page-model="@Model.PagingInfoCompleted" pending-to-cross-page-model="@Model.PagingInfoWorkingOnIt"
                                        page-class-selected="btn-dark" my-jobs-url-value="MyJobsPage" on-cross-url-value="OnCrossJobPage"
                                        pending-to-cross-url-value="PendingToCrossJobPage" job-numb="JobNumb"
                                        class="btn-group pull-right m-1">
    </cool-pagination-dash-board-job-num>
}