@model ProdFloor.Models.ViewModels.TestJob.TestJobViewModel
@foreach (var j in Model.TestJobList)
{
    AppUser CurrentUser = UserManager.Users.FirstOrDefault(m => m.EngID == j.TechnicianID);
    Job MyJob = Model.JobList.FirstOrDefault(m => m.JobID == j.JobID);


    <div class="card card-outline-primary m-1 p-1">
        <div class="bg-faded p-1">
            <h4>
                Job #@MyJob.JobNum | PO #@j.SinglePO
                <span class="badge badge-pill badge-secondary" style="float:right">
                    <small>@j.Status</small>
                </span>
                <span class="badge badge-pill badge-primary" style="float:right">
                    <small>Station @Model.StationsList.FirstOrDefault(m => m.StationID == j.StationID).Label</small>
                </span>
                <span class="badge badge-pill badge-secondary" style="float:right">
                    <small>@Model.JobTypeList.FirstOrDefault(m => m.JobTypeID == MyJob.JobTypeID).Name</small>
                </span>
                <span class="badge badge-pill badge-primary" style="float:right">
                    <small>@CurrentUser.FullName</small>
                </span>
            </h4>
        </div>
        <div class="card-text p-1">
            <form asp-action="Delete" method="post" asp-route-Id="@j.TestJobID">
                @if (User.IsInRole("Admin"))
                {
                    <a asp-action="EditTestFeatures" class="btn btn-sm btn-info"
                       asp-route-Id="@j.TestJobID">
                        Edit Features
                    </a>
                    <a asp-action="AllStepsForJob" class="btn btn-sm btn-success"
                       asp-route-Id="@j.TestJobID">
                        Steps
                    </a>
                    <a asp-action="StopsFromTestJob" class="btn btn-sm btn-warning"
                       asp-route-Id="@j.TestJobID">
                        Stops
                    </a>
                }
                else
                {
                    @if (j.Status == "Stoped")
                    {
                        <a asp-action="WaitingForRestar" asp-controller="Stop"
                           asp-route-id="@j.TestJobID" class="btn btn-warning btn-sm">
                            Continue
                        </a>
                    }
                    else if (j.Status == "Working on it")
                    {
                        <a asp-action="ContinueStep" asp-controller="TestJob"
                           asp-route-id="@j.TestJobID" class="btn btn-info btn-sm">
                            Continue
                        </a>
                        <a asp-action="EditTestFeatures" class="btn btn-sm btn-warning"
                           asp-route-Id="@j.TestJobID">
                            Edit
                        </a>

                    }
                    @if (User.IsInRole("Admin") && j.Status == "Working on it")
                    {
                        <a asp-action="NewStop" asp-controller="Stop" class="btn btn-sm btn-dark"
                           asp-route-Id="@j.TestJobID">
                            New Stop
                        </a>
                    }
                }

            </form>
        </div>
    </div>
}

