@model ProdFloor.Models.ViewModels.Wiring.WiringViewModel
@{
    ViewBag.Title = "Search Job";

}
<br />
{<form asp-controller="Wiring" asp-action="NewWiringJob" method="post">
     <div class="row col-12">
         <div class="form-group row">
             <label asp-for="@Model.Wiring.StationID" class="col-4 col-form-label"></label>
             <div class="col-7">
                 <station-select job-type="Wiring" selected-value="@Model.Wiring.StationID" class="form-control form-control-sm col-12"
                                 asp-for="Wiring.StationID" required></station-select>
                 <span asp-validation-for="Wiring.StationID" class="text-danger"></span>
             </div>
         </div>
     </div>
        <div class="row col-12">
            <div class="col-8">
                <div class="form-group row" style="margin-bottom:0em;">
                    <label class="col-4 col-form-label">Material:</label>
                    <div class="col-5">
                        <input type="text" value="@Model.Job.Name" class="form-control form-control-sm col-12" disabled asp-for="Job.Name">
                    </div>
                </div>
                <div class="form-group row" style="margin-bottom:0em;">
                    <label class="col-4 col-form-label">Job Number:</label>
                    <div class="col-5">
                        <input type="text" value="@Model.Job.JobNum" class="form-control form-control-sm col-12" disabled asp-for="Job.JobNum">
                    </div>
                </div>
                <div class="form-group row" style="margin-bottom:0em;">
                    <label class="col-4 col-form-label">PO: &nbsp;</label>
                    <div class="col-5">
                        <input type="text" value="@Model.PO.PONumb" class="form-control form-control-sm col-sm-12" disabled asp-for="PO.PONumb">
                    </div>
                </div>
                <div class="form-group row" style="margin-bottom:0em;">
                    <label class="col-4 col-form-label">Sold-To pt: &nbsp;</label>
                    <div class="col-5">
                        <job-type-input job-type-id="@Model.Job.JobTypeID" disabled asp-for="Job.JobTypeID"></job-type-input>
                    </div>
                </div>
                <div class="form-group row" style="margin-bottom:0em;">
                    <label class="col-4 col-form-label">Sold-To pt: &nbsp;</label>
                    <div class="col-5">
                        <input type="text" value="@Model.Job.ShipDate" class="form-control form-control-sm col-sm-12" disabled asp-for="Job.ShipDate">
                    </div>
                </div>
            </div>
        </div>
        <div class="row col-12 text-center">
            <div class="col text-center">
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
                <button class="btn btn-warning btn-sm" type="submit">Go</button>
            </div>
        </div>
</form>
