@model ProdFloor.Models.ViewModels.Wiring.WiringViewModel
<table class="table table-striped  text-center table-sm" style="text-align:center">
    <thead style="background-color:#343a40!important;color:#fff;">
        <tr>
            <th scope="col">
                Job#
            </th>
            <th scope="col">
                PO#
            </th>
            <th scope="col">
                JobType
            </th>
            <th scope="col">
                Wirer
            </th>
            <th scope="col">
                Status
            </th>
            <th scope="col">
                Station
            </th>
            <th width="22%">
                Options
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.WiringJobCompletedList.Count() == 0)
        {
            <tr>
                <td>No Wiring Jobs!</td>
            </tr>
        }
        else
        {
            @foreach (var j in Model.WiringJobCompletedList)
            {
                AppUser CurrentUser = UserManager.Users.FirstOrDefault(m => m.EngID == j.WirerID);
                PO po = Model.POList.FirstOrDefault(m => m.POID == j.POID);
                StatusPO statusPO = Model.StatusPOList.FirstOrDefault(m => m.POID == j.POID);
                Job MyJob = Model.JobList.FirstOrDefault(m => m.JobID == po.JobID); ;

                <tr>
                    <th scope="row">
                        @MyJob.JobNum
                    </th>
                    <td>@po.PONumb</td>
                    <td>@Model.JobTypeList.FirstOrDefault(m => m.JobTypeID == MyJob.JobTypeID).Name</td>
                    <td>@CurrentUser.FullName</td>
                    <td>
                        @statusPO.Status
                    </td>
                    <td>
                        @Model.StationsList.FirstOrDefault(m => m.StationID == j.StationID).Label
                    </td>
                    <td>
                        <form asp-action="StepsByWiring" asp-controller="Wiring" method="get">
                            <button type="submit" value="@j.WiringID" name="ID" class="btn btn-light" data-tooltip="tooltip" data-placement="top" title="Steps from wiringjob"
                                    style="float:left;background-color:transparent">
                                <i class="fas fa-shoe-prints"></i>
                            </button>
                        </form>
                        <form asp-action="StopsByWiring" asp-controller="Wiring" method="get">
                            <button type="submit" value="@j.WiringID" name="ID" class="btn btn-light" data-tooltip="tooltip" data-placement="top" title="Stops from wiringjob"
                                    style="float:left;background-color:transparent">
                                <i class="fas fa-hourglass-half"></i>
                            </button>
                        </form>

                        <!-- Return Button trigger modal -->
                        <button type="button" class="btn btn-light" style="float:left;background-color:transparent" data-toggle="modal" data-target="#ReturnFromComplete @j.WiringID" data-tooltip="tooltip" data-placement="top" title="Return From Complete">
                            <i class="fas fa-undo"></i>
                        </button>
                        <!-- Modal -->
                        <form asp-action="ReturnFromComplete" asp-controller="Wiring" method="post" asp-route-WiringId="@j.WiringID">
                            <div class="modal fade" id="ReturnFromComplete @j.WiringID" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle"><i class="fas fa-exclamation-triangle"></i>&nbsp;Warning</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure want to ReturnFromComplete this Wiring with PO #@po.PONumb?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
                                            <button type="submit" class="btn btn-danger btn-sm">
                                                Return it!
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <!-- Delete Button trigger modal -->
                        <button type="button" class="btn btn-light" style="float:left;background-color:transparent" data-toggle="modal" data-target="#delete @j.WiringID" data-tooltip="tooltip" data-placement="top" title="Delete Wiring">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                        <!-- Modal -->
                        <form asp-action="Delete" asp-controller="Wiring" method="post" asp-route-WiringId="@j.WiringID">
                            <div class="modal fade" id="delete @j.WiringID" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle"><i class="fas fa-exclamation-triangle"></i>&nbsp;Warning</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure want to delete this Wiring with PO #@po.PONumb?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
                                            <button type="submit" class="btn btn-danger btn-sm">
                                                Delete
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
@if (Model.WiringJobCompletedList.Count() > 0)
{
    <cool-pagination-dash-board-job-num current-model="MyJobs" my-jobs-page-model="@Model.PagingInfoCompleted" page-action="AdminDashboard" page-classes-enabled="true"
                                        page-class="btn" page-class-normal="btn-secondary" on-cross-page-model="@Model.PagingInfoWorkingOnIt" pending-to-cross-page-model="@Model.PagingInfoIncompleted"
                                        page-class-selected="btn-dark" my-jobs-url-value="MyJobsPage" on-cross-url-value="OnCrossJobPage"
                                        pending-to-cross-url-value="PendingToCrossJobPage" job-numb="JobNumb"
                                        class="btn-group pull-right m-1">
    </cool-pagination-dash-board-job-num>
}