@model ProdFloor.Models.ViewModels.Job.JobElementHydroViewModel
@{
    <script src="~/Scripts/CascadingStyleBrandDoorOperator.js" type="text/javascript"></script>
    <script src="~/Scripts/CascadingJobType.js" type="text/javascript"></script>
}
<input type="hidden" asp-for="CurrentJob.JobID" />
<input type="hidden" asp-for="CurrentJob.Status" />
<input type="hidden" asp-for="CurrentJob.EngID" />
<input type="hidden" asp-for="Element.JobID" />
<input type="hidden" asp-for="Element.ElementID" />
<div class="form-row col-sm-12" style="padding-bottom:15px">
    <div class="col-md-6 form-line border-right">
        <h3>Additional Information</h3>
        <div class="form-group row" style="margin-bottom:0.5em;">
            <label asp-for="Element.DoorGate" class="col-sm-5 col-form-label"></label>
            <div>
                <door-operator-style-select id="Style" asp-for="Element.DoorGate" asp-is-disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin") ? false : true)" selected-value="@Model.Element.DoorOperatorID" class="form-control form-control-sm">
                </door-operator-style-select>
                <span asp-validation-for="Element.DoorGate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row" style="margin-bottom:0.5em;">
            <label asp-for="Element.DoorBrand" class="col-sm-5 col-form-label"></label>
            <div>
                <door-operator-brand-select id="Brand" asp-for="Element.DoorBrand" asp-is-disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")  ? false : true)" selected-value="@Model.Element.DoorOperatorID" class="form-control form-control-sm">
                </door-operator-brand-select>
                <span asp-validation-for="Element.DoorBrand" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row" style="margin-bottom:0.5em;">
            <label asp-for="Element.DoorOperatorID" class="col-sm-5 col-form-label"></label>
            <div>
                <door-operator-select id="DoorOperatorID" asp-for="Element.DoorOperatorID" asp-is-disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")  ? false : true )" selected-value="Model.Element.DoorOperatorID" class="form-control form-control-sm">
                </door-operator-select>
                <span asp-validation-for="Element.DoorOperatorID" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        @*Grid for checkboxes*@
        <div class="container text-left" style="padding-left:30px;">
            <div id="GroupSelected" class="border-bottom">
                <h3>Group</h3>

                <div class="form-group row">
                    <div class="form-inline">
                        <input id="SecuritySelected" asp-for="Element.CallEnable" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin") ? false : true)" class="form-check-input" />
                        <div><span asp-validation-for="Element.CallEnable" class="text-danger" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)"></span></div>
                        <label asp-for="Element.CallEnable" class="col-form-label" style="margin-left:15px;"></label>
                    </div>
                </div>
                <div id="Security" style="padding-left:15px;">
                    <div class="form-check form-check-inline">
                        <h5>Car &nbsp;</h5>
                    </div>
                    <div class="form-check form-check-inline">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" asp-for="Element.CarKey" class="custom-control-input" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)">
                            <div><span asp-validation-for="Element.CarKey" class="text-danger" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)"></span></div>
                            <label class="custom-control-label" asp-for="Element.CarKey" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)"></label>
                        </div>
                    </div>
                    <div class="form-check form-check-inline">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" asp-for="Element.CarCardReader" class="custom-control-input" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)">
                            <div><span asp-validation-for="Element.CarCardReader" class="text-danger" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)"></span></div>
                            <label class="custom-control-label" asp-for="Element.CarCardReader" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)"></label>
                        </div>
                    </div>
                    <div class="form-check form-check-inline">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" asp-for="Element.CRO" class="custom-control-input" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)">
                            <div><span asp-validation-for="Element.CRO" class="text-danger" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)"></span></div>
                            <label class="custom-control-label" asp-for="Element.CRO" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)"></label>
                        </div>
                    </div><br /><br />
                    <div class="form-check form-check-inline">
                        <h5>Hall&nbsp;</h5>
                    </div>
                    <div class="form-check form-check-inline">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" asp-for="Element.HallKey" class="custom-control-input" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)">
                            <div><span asp-validation-for="Element.HallKey" class="text-danger" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)"></span></div>
                            <label class="custom-control-label" asp-for="Element.HallKey" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)"></label>
                        </div>
                    </div>
                    <div class="form-check form-check-inline">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" asp-for="Element.HallCardReader" class="custom-control-input" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)">
                            <div><span asp-validation-for="Element.HallCardReader" class="text-danger" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)"></span></div>
                            <label class="custom-control-label" asp-for="Element.HallCardReader" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)"></label>
                        </div>
                    </div>
                    <div class="form-check form-check-inline">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" asp-for="Element.HCRO" class="custom-control-input" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)">
                            <div><span asp-validation-for="Element.HCRO" class="text-danger" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)"></span></div>
                            <label class="custom-control-label" asp-for="Element.HCRO" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>