@model ProdFloor.Models.ViewModels.Job.ElementSearchViewModel
<div id="accordionSearch">
    <div class="card">
        <div class="card-header bg-dark text-center">
            <div class="btn-group" style="float:left">
                <!--Search and Clean-->
                <button class="btn btn-dark" style="border-color:transparent" type="submit" value="Search"><i class="fa fa-search" aria-hidden="true"></i></button>
                <button class="btn btn-dark" style="border-color:transparent" name="CleanFields" type="submit" value="true"><i class="fas fa-undo"></i></button>
            </div>
            <div class="btn-group">
                <!--Header 1-->
                <button type="button" id="headingJobInfo" class="btn btn-dark" style="border-color:transparent" data-toggle="collapse" data-target="#collapseJobInfo" aria-expanded="true" aria-controls="collapseJobInfo">
                    <h6 class="mb-0 text-center"> Job Information</h6>
                </button>
                <!--Header 2-->
                <button type="button" id="headingJobExt" class="btn btn-dark" style="border-color:transparent" data-toggle="collapse" data-target="#collapseJobExt" aria-expanded="true" aria-controls="collapseJobExt">
                    <h6 class="mb-0 text-center">Element Info</h6>
                </button>
                <!--Header 3-->
                <button type="button" id="headingHydro" class="btn btn-dark" style="border-color:transparent" data-toggle="collapse" data-target="#collapseHydro" aria-expanded="true" aria-controls="collapseHydro">
                    <h6 class="mb-0 text-center">Element Hydro</h6>
                </button>
                <!--Header 4-->
                <button type="button" id="headingSpecial" class="btn btn-dark" style="border-color:transparent" data-toggle="collapse" data-target="#collapseSpecial" aria-expanded="true" aria-controls="collapseSpecial">
                    <h6 class="mb-0 text-center">Special Features</h6>
                </button>
            </div>

        </div>
        <!--Body 1-->
        <div id="collapseJobInfo" class="collapse show" aria-labelledby="headingJobInfo" data-parent="#accordionSearch">
            <div class="card-body">
                <div class="row">
                    <div class="col-3 border-right" style="padding-right:0px;margin-right:0px;padding-left:0px;margin-left:0px">
                        <div class="form-group form-inline" style="margin-bottom:0px;">
                            <label asp-for="NameJobSearch" class="col-sm-4 col-form-label"></label>
                            <input type="text" class="form-control form-control-sm col-sm-7" asp-for="NameJobSearch">
                        </div>
                        <div class="form-group form-inline" style="margin-bottom:0px;">
                            <label asp-for="Name2" class="col-sm-4 col-form-label"></label>
                            <input type="text" class="form-control form-control-sm col-sm-7" asp-for="Name2">
                        </div>
                        <div class="form-group form-inline" style="margin-bottom:0px;">
                            <label asp-for="ContractorJobSearch" class="col-sm-4 col-form-label"></label>
                            <input type="text" class="form-control form-control-sm col-sm-7" asp-for="ContractorJobSearch">
                        </div>
                    </div>
                    <div class="col-2 border-right" style="padding-right:0px;margin-right:0px;padding-left:0px;margin-left:0px">
                        <div class="form-group form-inline" style="margin-bottom:0px;">
                            <label asp-for="CountryID" class="col-sm-4 col-form-label"></label>
                            <country-select id="CountryID" asp-for="CountryID" class="form-control form-control-sm col-7" selected-default-value="@Model.CountryID"></country-select>
                        </div>
                        <div class="form-group form-inline" style="margin-bottom:0px;">
                            <label asp-for="StateID" class="col-sm-4 col-form-label"></label>
                            <state-select id="StateID" asp-for="StateID" class="form-control form-control-sm col-7 " selected-default-value="@Model.StateID"></state-select>
                        </div>
                        <div class="form-group form-inline" style="margin-bottom:0px;">
                            <label asp-for="CityID" class="col-sm-4 col-form-label"></label>
                            <city-select selected-value="@Model.CityID" id="CityID" class="form-control form-control-sm col-7" asp-for="CityID"></city-select>
                        </div>
                    </div>
                    <div class="col-3 border-right" style="padding-right:0px;margin-right:0px;padding-left:0px;margin-left:0px">
                        <div class="form-group form-inline" style="margin-bottom:0px;">
                            <label asp-for="StatusJobSearch" class="col-sm-5 col-form-label"></label>
                            <select asp-for="StatusJobSearch" class="form-control form-control-sm col-6" asp-items="Model.Status"><option value="">Select a Status</option></select>
                        </div>
                        <div class="form-group form-inline" style="margin-bottom:0px;">
                            <label asp-for="JobTypeID" class="col-sm-5 col-form-label"></label>
                            <job-type-in-job-select selected-value="@Model.JobTypeID" class="form-control form-control-sm col-6" asp-for="JobTypeID"></job-type-in-job-select>
                        </div>
                        <div class="form-group form-inline" style="margin-bottom:0px;">
                            <label asp-for="FireCodeID" class="col-sm-5 col-form-label"></label>
                            <fire-code-in-jobs-select selected-value="@Model.FireCodeID" class="form-control form-control-sm col-6" asp-for="FireCodeID"></fire-code-in-jobs-select>
                        </div>
                    </div>
                    <div class="col-2 border-right" style="padding-right:0px;margin-right:0px;padding-left:0px;margin-left:0px">
                        <div class="form-group form-inline" style="margin-bottom:0px;">
                            <label asp-for="NumJobSearch" class="col-sm-6 col-form-label"></label>
                            <input type="text" class="form-control form-control-sm col-sm-5" asp-for="NumJobSearch">
                        </div>
                        <div class="form-group form-inline" style="margin-bottom:0px;">
                            <label asp-for="POJobSearch" class="col-sm-6 col-form-label"></label>
                            <input type="text" class="form-control form-control-sm col-sm-5" asp-for="POJobSearch">
                        </div>
                        <div class="form-group form-inline" style="margin-bottom:0px;">
                            <label asp-for="CustJobSearch" class="col-sm-6 col-form-label"></label>
                            <input type="text" class="form-control form-control-sm col-sm-5" asp-for="CustJobSearch">
                        </div>
                    </div>
                    <div class="col-2" style="padding-right:0px;margin-right:0px;padding-left:0px;margin-left:0px">
                        <div class="form-group form-inline" style="margin-bottom:0px;">
                            <label asp-for="EngID" class="col-sm-6 col-form-label"></label>
                            <input type="text" class="form-control form-control-sm col-sm-4" asp-for="EngID">
                        </div>
                        <div class="form-group form-inline" style="margin-bottom:0px;">
                            <label asp-for="CrossAppEngID" class="col-sm-6 col-form-label"></label>
                            <input type="text" class="form-control form-control-sm col-sm-4" asp-for="CrossAppEngID">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Body 2-->
        <div id="collapseJobExt" class="collapse " aria-labelledby="headingJobExt" data-parent="#accordionSearch">
            <div class="card-body">
                <div class="row">
                    <div class="col-3 border-right">
                        <div class="form-group row" style="margin-bottom:0px;">
                            <label asp-for="DoorGate" class="col-sm-5 col-form-label"></label>
                            <door-operator-style-select id="Style" asp-for="@Model.DoorGate" class="form-control form-control-sm col-sm-6">
                            </door-operator-style-select>
                        </div>
                        <div class="form-group row" style="margin-bottom:0px;">
                            <label asp-for="DoorBrand" class="col-sm-5 col-form-label"></label>
                            <door-operator-brand-select id="Brand" asp-for="@Model.DoorBrand" class="form-control form-control-sm col-sm-6">
                            </door-operator-brand-select>
                            <br />
                        </div>
                        <div class="form-group row" style="margin-bottom:0px;">
                            <label asp-for="DoorOperatorID" class="col-sm-5 col-form-label"></label>
                            <door-operator-select id="DoorOperatorID" asp-for="@Model.DoorOperatorID" class="form-control form-control-sm col-sm-6">
                            </door-operator-select>
                            <br />
                        </div>
                    </div>
                    <div class="col-2 border-right">
                        <div class="form-group row" style="margin-bottom:0px;">
                            <label asp-for="LandingSystemID" class="col-sm-7 col-form-label"></label>
                            <landing-sys-select select-for="Model.jobTypeAux.JobTypeID" selected-value="@Model.LandingSystemID" class="form-control form-control-sm col-sm-4" asp-for="LandingSystemID"></landing-sys-select>
                        </div>
                        <div class="form-group row" style="margin-bottom:0px;">
                            <label asp-for="INA" class="col-sm-7 col-form-label"></label>
                            <custom-select selected-value="@Model.INA" class="form-control-sm form-control col-sm-4" asp-for="INA" select-for="INA"></custom-select>
                        </div>
                        <div class="form-group row" style="margin-bottom:0px;">
                            <label asp-for="LoadWeigher" class="col-sm-7 col-form-label"></label>
                            <custom-select selected-value="@Model.LoadWeigher" class="form-control-sm form-control col-sm-4" asp-for="LoadWeigher" select-for="LoadWeigher"></custom-select>
                        </div>
                    </div>
                    <div class="col-2 border-right">
                        <div class="form-group row" style="margin-bottom:0px;">
                            <label asp-for="Capacity" class="col-sm-8 col-form-label"></label>
                            <input type="text" class="form-control form-control-sm col-sm-3" asp-for="Capacity">
                        </div>
                        <div class="form-group row" style="margin-bottom:0px;">
                            <label asp-for="Speed" class="col-sm-8 col-form-label"></label>
                            <input type="text" class="form-control form-control-sm col-sm-3" asp-for="Speed">
                        </div>
                        <div class="form-group row" style="margin-bottom:0px;">
                            <label asp-for="Voltage" class="col-sm-8 col-form-label"></label>
                            <input type="text" class="form-control form-control-sm col-sm-3" asp-for="Voltage">
                        </div>
                    </div>
                    <div class="col-2 border-right">
                        <div class="form-group row" style="margin-bottom:0px;">
                            <label asp-for="Phase" class="col-sm-8 col-form-label"></label>
                            <input type="text" class="form-control form-control-sm col-sm-3" asp-for="Phase">
                        </div>
                        <div class="form-group row" style="margin-bottom:0px;">
                            <label asp-for="Frequency" class="col-sm-8 col-form-label"></label>
                            <input type="text" class="form-control form-control-sm col-sm-3" asp-for="Frequency">
                        </div>
                        <div class="form-group row" style="margin-bottom:0px;">
                            <label asp-for="EMT" class="col-sm-8 col-form-label"></label>
                            <custom-select selected-value="@Model.EMT" class="form-control-sm form-control col-sm-3" asp-for="EMT" select-for="boolSearch"></custom-select>
                        </div>
                    </div>
                    <div class="col-2 ">
                        <div class="form-group row" style="margin-bottom:0px;">
                            <label asp-for="VCI" class="col-sm-9 col-form-label"></label>
                            <custom-select selected-value="@Model.VCI" class="form-control-sm form-control col-sm-3" asp-for="VCI" select-for="boolSearch"></custom-select>
                        </div>
                        <div class="form-group row" style="margin-bottom:0px;">
                            <label asp-for="CReg" class="col-sm-9 col-form-label"></label>
                            <custom-select selected-value="@Model.CReg" class="form-control-sm form-control col-sm-3" asp-for="CReg" select-for="boolSearch"></custom-select>
                        </div>
                        <div class="form-group row" style="margin-bottom:0px;">
                            <label asp-for="Egress" class="col-sm-9 col-form-label"></label>
                            <custom-select selected-value="@Model.Egress" class="form-control-sm form-control col-sm-3" asp-for="Egress" select-for="boolSearch"></custom-select>
                        </div>
                    </div>
                </div>

                <br />
                <div class="row">
                    <div class="col-2 border-right">
                        <div class="form-group row" style="margin-bottom:0px;">
                            <label asp-for="CallEnable" class="col-sm-8 col-form-label"></label>
                            <custom-select selected-value="@Model.CallEnable" class="form-control-sm form-control col-sm-3" asp-for="CallEnable" select-for="boolSearch"></custom-select>
                        </div>
                        <div class="form-group row" style="margin-bottom:0px;">
                            <label asp-for="CarKey" class="col-sm-8 col-form-label"></label>
                            <custom-select selected-value="@Model.CarKey" class="form-control-sm form-control col-sm-3" asp-for="CarKey" select-for="boolSearch"></custom-select>
                        </div>
                        <div class="form-group row" style="margin-bottom:0px;">
                            <label asp-for="CarCardReader" class="col-sm-8 col-form-label"></label>
                            <custom-select selected-value="@Model.CarCardReader" class="form-control-sm form-control col-sm-3" asp-for="CarCardReader" select-for="boolSearch"></custom-select>
                        </div>
                        <div class="form-group row" style="margin-bottom:0px;">
                            <label asp-for="CRO" class="col-sm-8 col-form-label"></label>
                            <custom-select selected-value="@Model.CRO" class="form-control-sm form-control col-sm-3" asp-for="CRO" select-for="boolSearch"></custom-select>
                        </div>
                        <div class="form-group row" style="margin-bottom:0px;">
                            <label asp-for="HallKey" class="col-sm-8 col-form-label"></label>
                            <custom-select selected-value="@Model.HallKey" class="form-control-sm form-control col-sm-3" asp-for="HallKey" select-for="boolSearch"></custom-select>
                        </div>
                    </div>
                    <div class="col-2 border-right">
                        <div class="form-group row" style="margin-bottom:0px;">
                            <label asp-for="HallCardReader" class="col-sm-8 col-form-label"></label>
                            <custom-select selected-value="@Model.HallCardReader" class="form-control-sm form-control col-sm-3" asp-for="HallCardReader" select-for="boolSearch"></custom-select>
                        </div>
                        <div class="form-group row" style="margin-bottom:0px;">
                            <label asp-for="HCRO" class="col-sm-8 col-form-label"></label>
                            <custom-select selected-value="@Model.HCRO" class="form-control-sm form-control col-sm-3" asp-for="HCRO" select-for="boolSearch"></custom-select>
                        </div>
                        <div class="form-group row" style="margin-bottom:0px;">
                            <label asp-for="INCP" class="col-sm-8 col-form-label"></label>
                            <custom-select selected-value="@Model.INCP" class="form-control-sm form-control col-sm-3" asp-for="INCP" select-for="boolSearch"></custom-select>
                        </div>
                        <div class="form-group row" style="margin-bottom:0px;">
                            <label asp-for="HAPS" class="col-sm-8 col-form-label"></label>
                            <custom-select selected-value="@Model.HAPS" class="form-control-sm form-control col-sm-3" asp-for="HAPS" select-for="boolSearch"></custom-select>
                        </div>
                        <div class="form-group row" style="margin-bottom:0px;">
                            <label asp-for="EP" class="col-sm-8 col-form-label"></label>
                            <custom-select selected-value="@Model.EP" class="form-control-sm form-control col-sm-3" asp-for="EP" select-for="boolSearch"></custom-select>
                        </div>
                    </div>
                    <div class="col-2 border-right">
                        <div class="form-group row" style="margin-bottom:0px;">
                            <label asp-for="CSD" class="col-sm-8 col-form-label"></label>
                            <custom-select selected-value="@Model.CSD" class="form-control-sm form-control col-sm-3" asp-for="CSD" select-for="boolSearch"></custom-select>
                        </div>
                        <div class="form-group row" style="margin-bottom:0px;">
                            <label asp-for="CTF" class="col-sm-8 col-form-label"></label>
                            <custom-select selected-value="@Model.CTF" class="form-control-sm form-control col-sm-3" asp-for="CTF" select-for="boolSearch"></custom-select>
                        </div>
                        <div class="form-group row" style="margin-bottom:0px;">
                            <label asp-for="EQ" class="col-sm-8 col-form-label"></label>
                            <custom-select selected-value="@Model.EQ" class="form-control-sm form-control col-sm-3" asp-for="EQ" select-for="boolSearch"></custom-select>
                        </div>
                        <div class="form-group row" style="margin-bottom:0px;">
                            <label asp-for="LJ" class="col-sm-8 col-form-label"></label>
                            <custom-select selected-value="@Model.LJ" class="form-control-sm form-control col-sm-3" asp-for="LJ" select-for="boolSearch"></custom-select>
                        </div>
                        <div class="form-group row" style="margin-bottom:0px;">
                            <label asp-for="Traveler" class="col-sm-8 col-form-label"></label>
                            <custom-select selected-value="@Model.Traveler" class="form-control-sm form-control col-sm-3" asp-for="Traveler" select-for="boolSearch"></custom-select>
                        </div>
                    </div>
                    <div class="col-3 border-right">

                        <div class="form-group row" style="margin-bottom:0px;">
                            <label asp-for="PSS" class="col-sm-9 col-form-label"></label>
                            <custom-select selected-value="@Model.PSS" class="form-control-sm form-control col-sm-2" asp-for="PSS" select-for="boolSearch"></custom-select>
                        </div>
                        <div class="form-group row" style="margin-bottom:0px;">
                            <label asp-for="PTFLD" class="col-sm-9 col-form-label"></label>
                            <custom-select selected-value="@Model.PTFLD" class="form-control-sm form-control col-sm-2" asp-for="PTFLD" select-for="boolSearch"></custom-select>
                        </div>
                        <div class="form-group row" style="margin-bottom:0px;">
                            <label asp-for="PHECutOut" class="col-sm-9 col-form-label"></label>
                            <custom-select selected-value="@Model.PHECutOut" class="form-control-sm form-control col-sm-2" asp-for="PHECutOut" select-for="boolSearch"></custom-select>
                        </div>
                        <div class="form-group row" style="margin-bottom:0px;">
                            <label asp-for="CTINSPST" class="col-sm-9 col-form-label"></label>
                            <custom-select selected-value="@Model.CTINSPST" class="form-control-sm form-control col-sm-2" asp-for="CTINSPST" select-for="boolSearch"></custom-select>
                        </div>
                        <div class="form-group row" style="margin-bottom:0px;">
                            <label asp-for="DHLD" class="col-sm-9 col-form-label"></label>
                            <custom-select selected-value="@Model.DHLD" class="form-control-sm form-control col-sm-2" asp-for="DHLD" select-for="boolSearch"></custom-select>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group row" style="margin-bottom:0px;">
                            <label asp-for="LOS" class="col-sm-9 col-form-label"></label>
                            <custom-select selected-value="@Model.LOS" class="form-control-sm form-control col-sm-2" asp-for="LOS" select-for="boolSearch"></custom-select>
                        </div>
                        <div class="form-group row" style="margin-bottom:0px;">
                            <label asp-for="PFGE" class="col-sm-9 col-form-label"></label>
                            <custom-select selected-value="@Model.PFGE" class="form-control-sm form-control col-sm-2" asp-for="PFGE" select-for="boolSearch"></custom-select>
                        </div>
                        <div class="form-group row" style="margin-bottom:0px;">
                            <label asp-for="FRON2" class="col-sm-9 col-form-label"></label>
                            <custom-select selected-value="@Model.FRON2" class="form-control-sm form-control col-sm-2" asp-for="FRON2" select-for="boolSearch"></custom-select>
                        </div>
                        <div class="form-group row" style="margin-bottom:0px;">
                            <label asp-for="CTL" class="col-sm-9 col-form-label"></label>
                            <custom-select selected-value="@Model.CTL" class="form-control-sm form-control col-sm-2" asp-for="CTL" select-for="boolSearch"></custom-select>
                        </div>
                        
                    </div>
                </div>

            </div>
        </div>


        <!--Body 3-->
        <div id="collapseHydro" class="collapse" aria-labelledby="headingHydro" data-parent="#accordionSearch">
            <div class="card-body">
                <div class="row">
                    <div class="col-3 border-right">
                        <div class="form-group row" style="margin-bottom:0px;">
                            <label asp-for="Starter" class="col-sm-7 col-form-label"></label>
                            <custom-select selected-value="@Model.Starter" class="form-control-sm form-control col-4" asp-for="Starter" select-for="StarterForElements"></custom-select>
                        </div>
                        <div class="form-group row" style="margin-bottom:0px;">
                            <label asp-for="FLA" class="col-sm-7 col-form-label"></label>
                            <input type="text" class="form-control form-control-sm col-sm-4" asp-for="FLA">
                        </div>
                        <div class="form-group row" style="margin-bottom:0px;">
                            <label asp-for="HP" class="col-sm-7 col-form-label"></label>
                            <input type="text" class="form-control form-control-sm col-sm-4" asp-for="HP">
                        </div>
                    </div>
                    <div class="col-3 border-right">
                        <div class="form-group row" style="margin-bottom:0px;">
                            <label asp-for="SPH" class="col-sm-7 col-form-label"></label>
                            <custom-select selected-value="@Model.SPH" class="form-control-sm form-control col-4" asp-for="SPH" select-for="SPH"></custom-select>
                        </div>
                        <div class="form-group row" style="margin-bottom:0px;">
                            <label asp-for="ValveBrand" class="col-sm-7 col-form-label"></label>
                            <custom-select selected-value="@Model.ValveBrand" class="form-control-sm form-control col-4" asp-for="ValveBrand" select-for="Valve Brand"></custom-select>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!--Body 4-->
        <div id="collapseSpecial" class="collapse" aria-labelledby="headingSpecial" data-parent="#accordionSearch">
            <div class="card-body">
                <div class="row">
                    <div class="col" style="padding-right:0px;margin-right:0px;padding-left:0px;margin-left:0px">
                        <div class="form-group row" style="margin-bottom:0px;">
                            <label asp-for="Description" class="col-sm-1 col-form-label"></label>
                            <input type="text" class="form-control form-control-sm col-sm-8" id="productName" asp-for="Description">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>