@model JobViewModel
<input type="hidden" asp-for="CurrentGenericFeatures.JobID" />
<input type="hidden" asp-for="CurrentGenericFeatures.GenericFeaturesID" />
<div class="form-row col-sm-12" style="padding-bottom:15px">
    <div class="col-4 form-line border-right justify-content-md-center">
        <div class="form-group row">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" asp-for="CurrentGenericFeatures.FRON2" class="custom-control-input" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)">
                <div><span asp-validation-for="CurrentGenericFeatures.FRON2" class="text-danger" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)"></span></div>
                <label class="custom-control-label" asp-for="CurrentGenericFeatures.FRON2" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)"></label>
            </div>
        </div>
        <div class="form-group row">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" asp-for="CurrentGenericFeatures.Attendant" class="custom-control-input" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)">
                <div><span asp-validation-for="CurrentGenericFeatures.Attendant" class="text-danger" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)"></span></div>
                <label class="custom-control-label" asp-for="CurrentGenericFeatures.Attendant" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)"></label>
            </div>
        </div>
        <div class="form-group row">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" asp-for="CurrentGenericFeatures.CarToLobby" class="custom-control-input" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)">
                <div><span asp-validation-for="CurrentGenericFeatures.CarToLobby" class="text-danger" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)"></span></div>
                <label class="custom-control-label" asp-for="CurrentGenericFeatures.CarToLobby" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)"></label>
            </div>
        </div>
        <div class="form-group row">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" asp-for="CurrentGenericFeatures.EQ" class="custom-control-input" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)">
                <div><span asp-validation-for="CurrentGenericFeatures.EQ" class="text-danger" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)"></span></div>
                <label class="custom-control-label" asp-for="CurrentGenericFeatures.EQ" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)"></label>
            </div>
        </div>
        <div class="form-group row">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" asp-for="CurrentGenericFeatures.CTINSPST" class="custom-control-input" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)">
                <div><span asp-validation-for="CurrentGenericFeatures.CTINSPST" class="text-danger" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)"></span></div>
                <label class="custom-control-label" asp-for="CurrentGenericFeatures.CTINSPST" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)"></label>
            </div>
        </div>
        <div class="form-group row">
            <div class="form-inline">
                <input id="RopedSelected" asp-for="CurrentGenericFeatures.Roped" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin") ? false : true)" class="form-check-input" />
                <div><span asp-validation-for="CurrentGenericFeatures.Roped" class="text-danger" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)"></span></div>
                <label asp-for="CurrentGenericFeatures.Roped" class="col-form-label" style="margin-left:15px;"></label>
            </div>
        </div>
        <div id="Roped" style="padding-left:5px;">
            <div class="form-group row">
                <label asp-for="CurrentGenericFeatures.GovModel" class="col-4 col-form-label"></label>
                <div>
                    <input asp-for="CurrentGenericFeatures.GovModel" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin") ? false : true)" class="col-9 form-control" />
                    <span asp-validation-for="CurrentGenericFeatures.GovModel" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" asp-for="CurrentGenericFeatures.EMT" class="custom-control-input" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)">
                <div><span asp-validation-for="CurrentGenericFeatures.EMT" class="text-danger" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)"></span></div>
                <label class="custom-control-label" asp-for="CurrentGenericFeatures.EMT" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)"></label>
            </div>
        </div>
        <div class="form-group row">
            <div class="form-inline">
                <input id="EmergencySelected" asp-for="CurrentGenericFeatures.EP" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin") ? false : true)" class="form-check-input" />
                <div><span asp-validation-for="CurrentGenericFeatures.EP" class="text-danger" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)"></span></div>
                <label asp-for="CurrentGenericFeatures.EP" class="col-form-label" style="margin-left:15px;"></label>
            </div>
        </div>
        <div id="Emergency" style="padding-left:20px;">
            <div class="form-group row">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" asp-for="CurrentGenericFeatures.EPVoltage" class="custom-control-input" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)">
                    <div><span asp-validation-for="CurrentGenericFeatures.EPVoltage" class="text-danger" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)"></span></div>
                    <label class="custom-control-label" asp-for="CurrentGenericFeatures.EPVoltage" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)"></label>
                </div>
            </div>
            <div class="form-group row">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" asp-for="CurrentGenericFeatures.EPOtherCars" class="custom-control-input" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)">
                    <div><span asp-validation-for="CurrentGenericFeatures.EPOtherCars" class="text-danger" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)"></span></div>
                    <label class="custom-control-label" asp-for="CurrentGenericFeatures.EPOtherCars" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)"></label>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="CurrentGenericFeatures.EPCarsNumber" class="col-form-label"></label>
                <div>
                    <indicators select-for="EPCars" style="margin-left:15px;" selected-value="@Model.CurrentGenericFeatures.EPCarsNumber"
                                asp-is-disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin") ? false : true)" class="col-9 form-control form-control-sm" asp-for="CurrentGenericFeatures.EPCarsNumber"></indicators>
                    <span asp-validation-for="CurrentGenericFeatures.EPCarsNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="CurrentGenericFeatures.EPContact" class="col-form-label"></label>
                <div>
                    <indicators select-for="EPContact" style="margin-left:65px;" selected-value="@Model.CurrentGenericFeatures.EPContact"
                                asp-is-disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin") ? false : true)" class="col-6 form-control form-control-sm" asp-for="CurrentGenericFeatures.EPContact"></indicators>
                    <span asp-validation-for="CurrentGenericFeatures.EPContact" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" asp-for="CurrentGenericFeatures.PTI" class="custom-control-input" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)">
                    <div><span asp-validation-for="CurrentGenericFeatures.PTI" class="text-danger" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)"></span></div>
                    <label class="custom-control-label" asp-for="CurrentGenericFeatures.PTI" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)"></label>
                </div>
            </div>
            <div class="form-group row">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" asp-for="CurrentGenericFeatures.EPSelect" class="custom-control-input" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)">
                    <div><span asp-validation-for="CurrentGenericFeatures.EPSelect" class="text-danger" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)"></span></div>
                    <label class="custom-control-label" asp-for="CurrentGenericFeatures.EPSelect" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)"></label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" asp-for="CurrentGenericFeatures.FLO" class="custom-control-input" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)">
                <div><span asp-validation-for="CurrentGenericFeatures.FLO" class="text-danger" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)"></span></div>
                <label class="custom-control-label" asp-for="CurrentGenericFeatures.FLO" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)"></label>
            </div>
        </div>
        <div class="form-group row">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" asp-for="CurrentGenericFeatures.Hosp" class="custom-control-input" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)">
                <div><span asp-validation-for="CurrentGenericFeatures.Hosp" class="text-danger" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)"></span></div>
                <label class="custom-control-label" asp-for="CurrentGenericFeatures.Hosp" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)"></label>
            </div>
        </div>
        <div class="form-group row">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" asp-for="CurrentGenericFeatures.Pit" class="custom-control-input" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)">
                <div><span asp-validation-for="CurrentGenericFeatures.Pit" class="text-danger" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)"></span></div>
                <label class="custom-control-label" asp-for="CurrentGenericFeatures.Pit" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)"></label>
            </div>
        </div>
        <div class="form-group row">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" asp-for="CurrentGenericFeatures.LoadWeigher" class="custom-control-input" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)">
                <div><span asp-validation-for="CurrentGenericFeatures.LoadWeigher" class="text-danger" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)"></span></div>
                <label class="custom-control-label" asp-for="CurrentGenericFeatures.LoadWeigher" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)"></label>
            </div>
        </div>
    </div>
    <div class="col-md-8 justify-content-md-center">
        @*Grid for checkboxes*@
        <div class="container text-left" style="padding-left:30px;">
            <div class="form-group row">
                <div class="form-inline">
                    <input id="INASelected" asp-for="CurrentGenericFeatures.INA" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin") ? false : true)" class="form-check-input" />
                    <div><span asp-validation-for="CurrentGenericFeatures.INA" class="text-danger" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)"></span></div>
                    <label asp-for="CurrentGenericFeatures.INA" class="col-form-label" style="margin-left:15px;"></label>
                </div>
            </div>
            <div id="INA">
                <div class="form-inline">
                    <input id="TopAccessSelected" asp-for="CurrentGenericFeatures.TopAccess" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin") ? false : true)" class="form-check-input" />
                    <div><span asp-validation-for="CurrentGenericFeatures.TopAccess" class="text-danger" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)"></span></div>
                    <label asp-for="CurrentGenericFeatures.TopAccess" class="col-form-label" style="margin-left:15px;"></label>
                </div>
                <div class="form-inline" id="TopAccess" style="padding-left:15px;">
                    <label asp-for="CurrentGenericFeatures.TopAccessLocation" class="col-form-label" style="margin-left:20px;"></label>
                    <div>
                        <indicators select-for="AccessSWLocation" style="margin-left:15px;" selected-value="@Model.CurrentGenericFeatures.TopAccessLocation"
                                    asp-is-disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin") ? false : true)" class="form-control form-control-sm" asp-for="CurrentGenericFeatures.TopAccessLocation"></indicators>
                        <span asp-validation-for="CurrentGenericFeatures.TopAccessLocation" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-inline">
                    <input id="BottonAccessSelected" asp-for="CurrentGenericFeatures.BottomAccess" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin") ? false : true)" class="form-check-input" />
                    <div><span asp-validation-for="CurrentGenericFeatures.BottomAccess" class="text-danger" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)"></span></div>
                    <label asp-for="CurrentGenericFeatures.BottomAccess" style="margin-left:15px;" class="col-form-label"></label>
                </div>
                <div class="form-inline" id="BottonAccess" style="padding-left:35px;">
                    <label asp-for="CurrentGenericFeatures.BottomAccessLocation" class="col-form-label"></label>
                    <div>
                        <indicators select-for="AccessSWLocation" style="margin-left:15px;" selected-value="@Model.CurrentGenericFeatures.BottomAccessLocation"
                                    asp-is-disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin") ? false : true)" class="form-control form-control-sm" asp-for="CurrentGenericFeatures.BottomAccessLocation"></indicators>
                        <span asp-validation-for="CurrentGenericFeatures.BottomAccessLocation" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="form-inline">
                    <input id="InCarSelected" asp-for="CurrentGenericFeatures.INCP" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin") ? false : true)" class="form-check-input" />
                    <div><span asp-validation-for="CurrentGenericFeatures.INCP" class="text-danger" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)"></span></div>
                    <label asp-for="CurrentGenericFeatures.INCP" class="col-form-label" style="margin-left:15px;"></label>
                </div>
            </div>
            <div id="InCar" class="form-group row" style="padding-left:15px;">
                <label asp-for="CurrentGenericFeatures.INCPButtons" class="col-form-label"></label>
                <div>
                    <indicators select-for="INCPButtons" style="margin-left:15px;" selected-value="@Model.CurrentGenericFeatures.INCPButtons"
                                asp-is-disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin") ? false : true)" class="form-control form-control-sm" asp-for="CurrentGenericFeatures.INCPButtons"></indicators>
                    <span asp-validation-for="CurrentGenericFeatures.INCPButtons" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="CurrentGenericFeatures.SwitchStyle" class="col-form-label"></label>
                <div>
                    <custom-select select-for="SwitchStyle" style="margin-left:65px;" selected-value="@Model.CurrentGenericFeatures.SwitchStyle"
                                   asp-is-disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin") ? false : true)" class="col-9 form-control form-control-sm" asp-for="CurrentGenericFeatures.SwitchStyle"></custom-select>
                    <span asp-validation-for="CurrentGenericFeatures.SwitchStyle" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="CurrentGenericFeatures.Monitoring" class="col-form-label"></label>
                <div>
                    <indicators select-for="Monitoring" style="margin-left:70px;" selected-value="@Model.CurrentGenericFeatures.Monitoring"
                                asp-is-disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin") ? false : true)" class=" col-8 form-control form-control-sm" asp-for="CurrentGenericFeatures.Monitoring"></indicators>
                    <span asp-validation-for="CurrentGenericFeatures.Monitoring" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="form-inline">
                    <input id="SecuritySelected" asp-for="CurrentGenericFeatures.CallEnable" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin") ? false : true)" class="form-check-input" />
                    <div><span asp-validation-for="CurrentGenericFeatures.CallEnable" class="text-danger" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)"></span></div>
                    <label asp-for="CurrentGenericFeatures.CallEnable" class="col-form-label" style="margin-left:15px;"></label>
                </div>
            </div>
            <div id="Security" style="padding-left:15px;">
                <div class="form-check form-check-inline">
                    <h5>Car &nbsp;</h5>
                </div>
                <div class="form-check form-check-inline">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" asp-for="CurrentGenericFeatures.CarKey" class="custom-control-input" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)">
                        <div><span asp-validation-for="CurrentGenericFeatures.CarKey" class="text-danger" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)"></span></div>
                        <label class="custom-control-label" asp-for="CurrentGenericFeatures.CarKey" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)"></label>
                    </div>
                </div>
                <div class="form-check form-check-inline">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" asp-for="CurrentGenericFeatures.CarCallRead" class="custom-control-input" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)">
                        <div><span asp-validation-for="CurrentGenericFeatures.CarCallRead" class="text-danger" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)"></span></div>
                        <label class="custom-control-label" asp-for="CurrentGenericFeatures.CarCallRead" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)"></label>
                    </div>
                </div>
                <div class="form-check form-check-inline">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" asp-for="CurrentGenericFeatures.CRO" class="custom-control-input" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)">
                        <div><span asp-validation-for="CurrentGenericFeatures.CRO" class="text-danger" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)"></span></div>
                        <label class="custom-control-label" asp-for="CurrentGenericFeatures.CRO" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)"></label>
                    </div>
                </div><br /><br />
                <div class="form-check form-check-inline">
                    <h5>Hall&nbsp;</h5>
                </div>
                <div class="form-check form-check-inline">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" asp-for="CurrentGenericFeatures.HallKey" class="custom-control-input" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)">
                        <div><span asp-validation-for="CurrentGenericFeatures.HallKey" class="text-danger" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)"></span></div>
                        <label class="custom-control-label" asp-for="CurrentGenericFeatures.HallKey" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)"></label>
                    </div>
                </div>
                <div class="form-check form-check-inline">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" asp-for="CurrentGenericFeatures.HallCallRead" class="custom-control-input" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)">
                        <div><span asp-validation-for="CurrentGenericFeatures.HallCallRead" class="text-danger" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)"></span></div>
                        <label class="custom-control-label" asp-for="CurrentGenericFeatures.HallCallRead" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)"></label>
                    </div>
                </div>
                <div class="form-check form-check-inline">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" asp-for="CurrentGenericFeatures.HCRO" class="custom-control-input" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)">
                        <div><span asp-validation-for="CurrentGenericFeatures.HCRO" class="text-danger" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)"></span></div>
                        <label class="custom-control-label" asp-for="CurrentGenericFeatures.HCRO" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)"></label>
                    </div>
                </div><br /><br />
                <div class="form-group row">
                    <div class="form-inline">
                        <input id="SecurityCodeSelected" asp-for="CurrentGenericFeatures.BSI" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin") ? false : true)" class="form-check-input" />
                        <div><span asp-validation-for="CurrentGenericFeatures.BSI" class="text-danger" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)"></span></div>
                        <label asp-for="CurrentGenericFeatures.BSI" class="col-form-label" style="margin-left:15px;"></label>
                    </div>
                </div>
                <div id="SecurityCode" class="form-inline">
                    <label asp-for="CurrentGenericFeatures.CarCallCodeSecurity" class="col-form-label"></label>
                    <div>
                        <custom-select select-for="CarCode" style="margin-left:65px;" selected-value="@Model.CurrentGenericFeatures.CarCallCodeSecurity"
                                       asp-is-disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin") ? false : true)" class="col-9 form-control form-control-sm" asp-for="CurrentGenericFeatures.CarCallCodeSecurity"></custom-select>
                        <span asp-validation-for="CurrentGenericFeatures.CarCallCodeSecurity" class="text-danger"></span>
                    </div>
                </div><br />
            </div>
            <div class="form-group row">
                <label asp-for="CurrentGenericFeatures.SpecialInstructions" class="col-form-label"></label>
                <div>
                    <input asp-for="CurrentGenericFeatures.SpecialInstructions" style="margin-left:15px;" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin") ? false : true)" class="form-control" />
                    <span asp-validation-for="CurrentGenericFeatures.SpecialInstructions" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
</div>
@if (Model.CurrentGenericFeatures.Roped == false)
{
    <script type="text/javascript">
        $("#RopedSelected").ready(function () {
            $("#Roped").hide();
        });

        $("#RopedSelected").click(function () {
            $("#Roped")[this.checked ? "show" : "hide"]();
        });
    </script>
}
@if (Model.CurrentGenericFeatures.EP == false)
{
    <script type="text/javascript">
        $("#EmergencySelected").ready(function () {
            $("#Emergency").hide();
        });

        $("#EmergencySelected").click(function () {
            $("#Emergency")[this.checked ? "show" : "hide"]();
        });
    </script>
}
@if (Model.CurrentGenericFeatures.INA == false && Model.CurrentGenericFeatures.INA == false && Model.CurrentGenericFeatures.TopAccess == false)
{
    <script type="text/javascript">
        $("#INASelected").ready(function () {
            $("#INA").hide();
        });

        $("#INASelected").click(function () {
            $("#INA")[this.checked ? "show" : "hide"]();
        });
    </script>
}
@if (Model.CurrentGenericFeatures.TopAccess == false)
{
    <script type="text/javascript">
        $("#TopAccessSelected").ready(function () {
            $("#TopAccess").hide();
        });

        $("#TopAccessSelected").click(function () {
            $("#TopAccess")[this.checked ? "show" : "hide"]();
        });
    </script>
}
@if (Model.CurrentGenericFeatures.BottomAccess == false)
{
    <script type="text/javascript">
        $("#BottonAccessSelected").ready(function () {
            $("#BottonAccess").hide();
        });

        $("#BottonAccessSelected").click(function () {
            $("#BottonAccess")[this.checked ? "show" : "hide"]();
        });
    </script>
}
@if (Model.CurrentGenericFeatures.INCP == false)
{
    <script type="text/javascript">
        $("#InCarSelected").ready(function () {
            $("#InCar").hide();
        });

        $("#InCarSelected").click(function () {
            $("#InCar")[this.checked ? "show" : "hide"]();
        });
    </script>
}
@if (Model.CurrentGenericFeatures.CallEnable == false || Model.CurrentGenericFeatures.BSI == false)
{
    <script type="text/javascript">
        $("#SecurityCodeSelected").ready(function () {
            $("#SecurityCode").hide();
        });

        $("#SecurityCodeSelected").click(function () {
            $("#SecurityCode")[this.checked ? "show" : "hide"]();
        });
    </script>
}
@if (Model.CurrentGenericFeatures.CallEnable == false)
{
    <script type="text/javascript">
        $("#SecuritySelected").ready(function () {
            $("#Security").hide();
        });

        $("#SecuritySelected").click(function () {
            $("#Security")[this.checked ? "show" : "hide"]();
        });
    </script>
}


