@model JobViewModel
<input type="hidden" asp-for="CurrentJobExtension.JobID" />
<input type="hidden" asp-for="CurrentJobExtension.JobExtensionID" />
<div class="form-group row has-warning has-feedback">
    <label asp-for="CurrentJobExtension.NumOfStops" class="col-sm-2 col-form-label"></label>    
    <div><span asp-validation-for="CurrentJobExtension.NumOfStops" class="text-danger"></span></div>
    <input asp-for="CurrentJobExtension.NumOfStops" class="form-control col-sm-7" />
</div>
<div class="form-group row">
    <label asp-for="CurrentJobExtension.JobTypeMain" class="col-sm-2 col-form-label"></label>
    <div><span asp-validation-for="CurrentJobExtension.JobTypeMain" class="text-danger"></span></div>
    <indicators select-for="JobType" selected-value="@Model.CurrentJobExtension.JobTypeMain" asp-for="CurrentJobExtension.JobTypeMain"></indicators>
</div>
<div class="form-group row">
    <label asp-for="CurrentJobExtension.JobTypeAdd" class="col-sm-2 col-form-label"></label>
    <div><span asp-validation-for="CurrentJobExtension.JobTypeAdd" class="text-danger"></span></div>
    <indicators select-for="JobType2" selected-value="@Model.CurrentJobExtension.JobTypeAdd" asp-for="CurrentJobExtension.JobTypeAdd"></indicators>
</div>
<div class="form-group row">
    <label asp-for="CurrentJobExtension.InputVoltage" class="col-sm-2 col-form-label"></label>
    <div><span asp-validation-for="CurrentJobExtension.InputVoltage" class="text-danger"></span></div>
    <input asp-for="CurrentJobExtension.InputVoltage" class="form-control col-sm-7" />
</div>
<div class="form-group row">
    <label asp-for="CurrentJobExtension.InputPhase" class="col-sm-2 col-form-label"></label>
    <div><span asp-validation-for="CurrentJobExtension.InputPhase" class="text-danger"></span></div>
    <input asp-for="CurrentJobExtension.InputPhase" class="form-control col-sm-7" />
</div>
<div class="form-group row">
    <label asp-for="CurrentJobExtension.InputFrecuency" class="col-sm-2 col-form-label"></label>
    <div><span asp-validation-for="CurrentJobExtension.InputFrecuency" class="text-danger"></span></div>
    <input asp-for="CurrentJobExtension.InputFrecuency" class="form-control col-sm-7" />
</div>
<div class="form-group row">
    <label asp-for="CurrentJobExtension.DoorGate" class="col-sm-2 col-form-label"></label>
    <div><span asp-validation-for="CurrentJobExtension.DoorGate" class="text-danger"></span></div>
    <custom-select select-for="DoorOperatorStyle" selected-value="@Model.CurrentJobExtension.DoorGate" asp-for="CurrentJobExtension.DoorGate"></custom-select>
</div>
<div class="form-group row">
    <label asp-for="CurrentJobExtension.DoorHoist" class="col-sm-2 col-form-label"></label>
    <div><span asp-validation-for="CurrentJobExtension.DoorHoist" class="text-danger"></span></div>
    <custom-select select-for="DoorOperatorStyle" selected-value="@Model.CurrentJobExtension.DoorHoist" asp-for="CurrentJobExtension.DoorHoist"></custom-select>
</div>
<div class="form-group row">
    <label asp-for="CurrentJobExtension.DoorBrand" class="col-sm-2 col-form-label"></label>
    <div><span asp-validation-for="CurrentJobExtension.DoorBrand" class="text-danger"></span></div>
    <custom-select select-for="DoorOperatorBrand" selected-value="@Model.CurrentJobExtension.DoorBrand" asp-for="CurrentJobExtension.DoorBrand"></custom-select>

</div>
<div class="form-group row">
    <label asp-for="CurrentJobExtension.DoorModel" class="col-sm-2 col-form-label"></label>
    <div><span asp-validation-for="CurrentJobExtension.DoorModel" class="text-danger"></span></div>
    <custom-select select-for="DoorOperatorName" selected-value="@Model.CurrentJobExtension.DoorModel" asp-for="CurrentJobExtension.DoorModel"></custom-select>
</div>
<div class="form-row col-sm-9">
    @*Grid for checkboxes*@
    <div class="form-group col-3 text-center">
        <label asp-for="CurrentJobExtension.InfDetector" class="col-form-label"></label>
        <div><span asp-validation-for="CurrentJobExtension.InfDetector" class="text-danger"></span></div>
        <input asp-for="CurrentJobExtension.InfDetector" class="form-control" />
    </div>
    <div class="form-group col-3 text-center">
        <label asp-for="CurrentJobExtension.MechSafEdge" class="col-form-label text-center"></label>
        <div><span asp-validation-for="CurrentJobExtension.MechSafEdge" class="text-danger"></span></div>
        <input asp-for="CurrentJobExtension.MechSafEdge" class="form-control" />
    </div>
    <div class="form-group col-3 text-center">
        <label asp-for="CurrentJobExtension.HeavyDoors" class="col-form-label"></label>
        <div><span asp-validation-for="CurrentJobExtension.HeavyDoors" class="text-danger"></span></div>
        <input asp-for="CurrentJobExtension.HeavyDoors" class="form-control" />
    </div>
    <div class="form-group col-3 text-center">
        <label asp-for="CurrentJobExtension.CartopDoorButtons" class="col-form-label"></label>
        <div><span asp-validation-for="CurrentJobExtension.CartopDoorButtons" class="text-danger"></span></div>
        <input asp-for="CurrentJobExtension.CartopDoorButtons" class="form-control " />
    </div>
    <div class="form-group col-3 text-center">
        <label asp-for="CurrentJobExtension.DoorHold" class="col-form-label"></label>
        <div><span asp-validation-for="CurrentJobExtension.DoorHold" class="text-danger"></span></div>
        <input asp-for="CurrentJobExtension.DoorHold" class="form-control" />
    </div>
    <div class="form-group col-3 text-center">
        <label asp-for="CurrentJobExtension.Nudging" class="col-form-label"></label>
        <div><span asp-validation-for="CurrentJobExtension.Nudging" class="text-danger"></span></div>
        <input asp-for="CurrentJobExtension.Nudging" class="form-control" />
    </div>
    <div class="form-group col-3 text-center">
        <label asp-for="CurrentJobExtension.SCOP" class="col-form-label"></label>
        <div><span asp-validation-for="CurrentJobExtension.SCOP" class="text-danger"></span></div>
        <input asp-for="CurrentJobExtension.SCOP" class="form-control" />
    </div>
    <div class="form-group col-3 text-center">
        <label asp-for="CurrentJobExtension.SHC" class="col-form-label"></label>
        <div><span asp-validation-for="CurrentJobExtension.SHC" class="text-danger"></span></div>
        <input asp-for="CurrentJobExtension.SHC" class="form-control" />
    </div>
    <div class="form-group col-3 text-center">
        <label asp-for="CurrentJobExtension.SHCRisers" class="col-form-label"></label>
        <div><span asp-validation-for="CurrentJobExtension.SHCRisers" class="text-danger"></span></div>
        <input asp-for="CurrentJobExtension.SHCRisers" class="form-control" />
    </div>
    <div class="form-group col-3 text-center">
        <label asp-for="CurrentJobExtension.AUXCOP" class="col-form-label"></label>
        <div><span asp-validation-for="CurrentJobExtension.AUXCOP" class="text-danger"></span></div>
        <input asp-for="CurrentJobExtension.AUXCOP" class="form-control" />
    </div>
</div>