@model JobViewModel
@{
    <script src="~/Scripts/CascadingStyleBrandDoorOperator.js" type="text/javascript"></script>
    <script src="~/Scripts/CascadingJobType.js" type="text/javascript"></script>
}
<input type="hidden" asp-for="CurrentJob.JobID" />
<input type="hidden" asp-for="CurrentJob.Status" />
<input type="hidden" asp-for="CurrentJob.EngID" />
<input type="hidden" asp-for="CurrentJobExtension.JobID" />
<input type="hidden" asp-for="CurrentJobExtension.JobExtensionID" />
<div class="form-row col-sm-12" style="padding-bottom:15px">
    <div class="col-md-6 form-line border-right">
        <h3>Additional Information</h3>
        <div class="form-group row has-warning has-feedback">
            <label asp-for="CurrentJobExtension.NumOfStops" class="col-sm-5 col-form-label"></label>
            <div><span asp-validation-for="CurrentJobExtension.NumOfStops" class="text-danger"></span></div>
            <input asp-for="CurrentJobExtension.NumOfStops" readonly="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin") ? false : true)" class="form-control col-sm-6" />
        </div>
        <div class="form-group row">
            <label asp-for="CurrentJobExtension.JobTypeMain" class="col-sm-5 col-form-label"></label>
            <div>
                <span asp-validation-for="CurrentJobExtension.JobTypeMain" class="text-danger"></span>
                <indicators id="JobTypeMain" select-for="JobType" selected-value="@Model.CurrentJobExtension.JobTypeMain" asp-is-disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")  ? false : true)" class="form-control form-control-sm" asp-for="CurrentJobExtension.JobTypeMain"></indicators>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="CurrentJobExtension.JobTypeAdd" class="col-sm-5 col-form-label"></label>
            <div>
                <span asp-validation-for="CurrentJobExtension.JobTypeAdd" class="text-danger"></span>
                <indicators id="JobTypeAdd" select-for="JobType2" selected-value="@Model.CurrentJobExtension.JobTypeAdd" asp-is-disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")  ? false : true)" class="form-control form-control-sm" asp-for="CurrentJobExtension.JobTypeAdd"></indicators>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="CurrentJobExtension.InputVoltage" class="col-sm-5 col-form-label"></label>
            <div><span asp-validation-for="CurrentJobExtension.InputVoltage" class="text-danger"></span></div>
            <input asp-for="CurrentJobExtension.InputVoltage" readonly="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")  ? false : true)" class="form-control col-sm-6" />
        </div>
        <div class="form-group row">
            <label asp-for="CurrentJobExtension.InputPhase" class="col-sm-5 col-form-label"></label>
            <div><span asp-validation-for="CurrentJobExtension.InputPhase" class="text-danger"></span></div>
            <input asp-for="CurrentJobExtension.InputPhase" readonly="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")  ? false : true )" class="form-control col-sm-6" />
        </div>
        <div class="form-group row">
            <label asp-for="CurrentJobExtension.InputFrecuency" class="col-sm-5 col-form-label"></label>
            <div><span asp-validation-for="CurrentJobExtension.InputFrecuency" class="text-danger"></span></div>
            <input asp-for="CurrentJobExtension.InputFrecuency" readonly="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin") ? false : true )" class="form-control col-sm-6" />
        </div>
        <div class="form-group row">
            <label asp-for="CurrentJobExtension.DoorHoist" class="col-sm-5 col-form-label"></label>
            <div>
                <span asp-validation-for="CurrentJobExtension.DoorHoist" class="text-danger"></span>
                <custom-select select-for="Style" selected-value="@Model.CurrentJobExtension.DoorHoist" asp-is-disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")  ? false : true)" class="form-control form-control-sm" asp-for="CurrentJobExtension.DoorHoist"></custom-select>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="CurrentJobExtension.DoorGate" class="col-sm-5 col-form-label"></label>
            <div>
                <door-operator-style-select id="Style" asp-for="@Model.CurrentJobExtension.DoorGate" asp-is-disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin") ? false : true)" selected-value="@Model.CurrentJobExtension.DoorOperatorID" class="form-control form-control-sm">
                </door-operator-style-select>
                <span asp-validation-for="CurrentJobExtension.DoorGate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="CurrentJobExtension.DoorBrand" class="col-sm-5 col-form-label"></label>
            <div>
                <door-operator-brand-select id="Brand" asp-for="@Model.CurrentJobExtension.DoorBrand" asp-is-disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")  ? false : true)" selected-value="@Model.CurrentJobExtension.DoorOperatorID" class="form-control form-control-sm">
                </door-operator-brand-select>
                <span asp-validation-for="CurrentJobExtension.DoorBrand" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="CurrentJobExtension.DoorOperatorID" class="col-sm-5 col-form-label"></label>
            <div>
                <door-operator-select id="DoorOperatorID" asp-for="@Model.CurrentJobExtension.DoorOperatorID" asp-is-disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")  ? false : true )" selected-value="Model.CurrentJobExtension.DoorOperatorID" class="form-control form-control-sm">
                </door-operator-select>
                <span asp-validation-for="CurrentJobExtension.DoorOperatorID" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        @*Grid for checkboxes*@
        <div class="container text-left" style="padding-left:30px;">
            <h3>Door Features</h3>
            <div class="form-group row">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" asp-for="CurrentJobExtension.InfDetector" class="custom-control-input" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)">
                    <div><span asp-validation-for="CurrentJobExtension.InfDetector" class="text-danger" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)"></span></div>
                    <label class="custom-control-label" asp-for="CurrentJobExtension.InfDetector" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)"></label>
                </div>
            </div>
            <div class="form-group row">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" asp-for="CurrentJobExtension.MechSafEdge" class="custom-control-input" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)">
                    <div><span asp-validation-for="CurrentJobExtension.MechSafEdge" class="text-danger" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)"></span></div>
                    <label class="custom-control-label" asp-for="CurrentJobExtension.MechSafEdge" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)"></label>
                </div>
            </div>
            <div class="form-group row">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" asp-for="CurrentJobExtension.HeavyDoors" class="custom-control-input" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)">
                    <div><span asp-validation-for="CurrentJobExtension.HeavyDoors" class="text-danger" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)"></span></div>
                    <label class="custom-control-label" asp-for="CurrentJobExtension.HeavyDoors" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)"></label>
                </div>
            </div>
            <div class="form-group row">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" asp-for="CurrentJobExtension.CartopDoorButtons" class="custom-control-input" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)">
                    <div><span asp-validation-for="CurrentJobExtension.CartopDoorButtons" class="text-danger" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)"></span></div>
                    <label class="custom-control-label" asp-for="CurrentJobExtension.CartopDoorButtons" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)"></label>
                </div>
            </div>
            <div class="form-group row">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" asp-for="CurrentJobExtension.DoorHold" class="custom-control-input" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)">
                    <div><span asp-validation-for="CurrentJobExtension.DoorHold" class="text-danger" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)"></span></div>
                    <label class="custom-control-label" asp-for="CurrentJobExtension.DoorHold" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)"></label>
                </div>
            </div>
            <div class="form-group row">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" asp-for="CurrentJobExtension.Nudging" class="custom-control-input" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)">
                    <div><span asp-validation-for="CurrentJobExtension.Nudging" class="text-danger" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)"></span></div>
                    <label class="custom-control-label" asp-for="CurrentJobExtension.Nudging" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)"></label>
                </div>
            </div>
            <h3 class="border-top">Serial Link</h3>
            <div class="form-group row">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" asp-for="CurrentJobExtension.SCOP" class="custom-control-input" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)">
                    <div><span asp-validation-for="CurrentJobExtension.SCOP" class="text-danger" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)"></span></div>
                    <label class="custom-control-label" asp-for="CurrentJobExtension.SCOP" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)"></label>
                </div>
            </div>
            <div class="form-group row">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" asp-for="CurrentJobExtension.SHC" class="custom-control-input" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)">
                    <div><span asp-validation-for="CurrentJobExtension.SHC" class="text-danger" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)"></span></div>
                    <label class="custom-control-label" asp-for="CurrentJobExtension.SHC" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)"></label>
                </div>
            </div>
            <div class="form-group row">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" asp-for="CurrentJobExtension.AUXCOP" class="custom-control-input" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)">
                    <div><span asp-validation-for="CurrentJobExtension.AUXCOP" class="text-danger" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)"></span></div>
                    <label class="custom-control-label" asp-for="CurrentJobExtension.AUXCOP" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)"></label>
                </div>
            </div>
            <hr style="width: 100%; color: black; height: 1px; background-color:floralwhite;" />
            <div class="form-group row">
                <label asp-for="CurrentJobExtension.SHCRisers" class="col-form-label"></label>
                <div><span asp-validation-for="CurrentJobExtension.SHCRisers" class="text-danger"></span></div>
                <input asp-for="CurrentJobExtension.SHCRisers" readonly="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin") ? false : true )" style="margin-left:20px;" class="form-control col-3" />
            </div>
        </div>
    </div>
</div>