@model JobViewModel
@{
    <script src="~/Scripts/CascadingStyleBrandDoorOperator.js" type="text/javascript"></script>
}
<input type="hidden" asp-for="CurrentJobExtension.JobID" />
<input type="hidden" asp-for="CurrentJobExtension.JobExtensionID" />
<div class="form-row col-sm-12" style="padding-bottom:15px">
    <div class="col-md-6 form-line border-right">
        <h3>Additional Information</h3>
        <div class="form-group row has-warning has-feedback">
            <label asp-for="CurrentJobExtension.NumOfStops" class="col-sm-5 col-form-label"></label>
            <div><span asp-validation-for="CurrentJobExtension.NumOfStops" class="text-danger"></span></div>
            <input asp-for="CurrentJobExtension.NumOfStops" readonly="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin") ? false : true)" class="form-control col-sm-6" />
        </div>
        <div class="form-group row">
            <label asp-for="CurrentJobExtension.JobTypeMain" class="col-sm-5 col-form-label"></label>
            <div><span asp-validation-for="CurrentJobExtension.JobTypeMain" class="text-danger"></span></div>
            <indicators select-for="JobType" selected-value="@Model.CurrentJobExtension.JobTypeMain" asp-is-disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")  ? false : true)" class="form-control-sm form-control col-sm-3" asp-for="CurrentJobExtension.JobTypeMain"></indicators>
        </div>
        <div class="form-group row">
            <label asp-for="CurrentJobExtension.JobTypeAdd" class="col-sm-5 col-form-label"></label>
            <div><span asp-validation-for="CurrentJobExtension.JobTypeAdd" class="text-danger"></span></div>
            <indicators select-for="JobType2" selected-value="@Model.CurrentJobExtension.JobTypeAdd" asp-is-disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")  ? false : true)" class="form-control-sm form-control col-sm-3" asp-for="CurrentJobExtension.JobTypeAdd"></indicators>
        </div>
        <div class="form-group row">
            <label asp-for="CurrentJobExtension.InputVoltage" class="col-sm-5 col-form-label"></label>
            <div><span asp-validation-for="CurrentJobExtension.InputVoltage" class="text-danger"></span></div>
            <input asp-for="CurrentJobExtension.InputVoltage" readonly="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")  ? false : true)" class="form-control col-sm-6" />
        </div>
        <div class="form-group row">
            <label asp-for="CurrentJobExtension.InputPhase" class="col-sm-5 col-form-label"></label>
            <div><span asp-validation-for="CurrentJobExtension.InputPhase" class="text-danger"></span></div>
            <input asp-for="CurrentJobExtension.InputPhase" readonly="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")  ? false : true )" class="form-control col-sm-6" />
        </div>
        <div class="form-group row">
            <label asp-for="CurrentJobExtension.InputFrecuency" class="col-sm-5 col-form-label"></label>
            <div><span asp-validation-for="CurrentJobExtension.InputFrecuency" class="text-danger"></span></div>
            <input asp-for="CurrentJobExtension.InputFrecuency" readonly="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin") ? false : true )" class="form-control col-sm-6" />
        </div>
        <div class="form-group row">
            <label asp-for="CurrentJobExtension.DoorHoist" class="col-sm-5 col-form-label"></label>
            <div><span asp-validation-for="CurrentJobExtension.DoorHoist" class="text-danger"></span></div>
            <custom-select select-for="Style" selected-value="@Model.CurrentJobExtension.DoorHoist" asp-is-disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")  ? false : true)" class="form-control-sm form-control col-sm-3" asp-for="CurrentJobExtension.DoorHoist"></custom-select>
        </div>
        <div class="form-group row">
            <label asp-for="CurrentJobExtension.DoorGate" class="col-sm-5 col-form-label"></label>
            <door-operator-style-select id="Style" asp-for="@Model.CurrentJobExtension.DoorGate" asp-is-disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin") ? false : true)" selected-value="@Model.CurrentJobExtension.DoorOperatorID" class="form-control form-control-sm col-sm-3">
            </door-operator-style-select>
        </div>
        <div class="form-group row">
            <label asp-for="CurrentJobExtension.DoorBrand" class="col-sm-5 col-form-label"></label>
            <door-operator-brand-select id="Brand" asp-for="@Model.CurrentJobExtension.DoorBrand" asp-is-disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")  ? false : true)" selected-value="@Model.CurrentJobExtension.DoorOperatorID" class="form-control form-control-sm col-sm-3">
            </door-operator-brand-select>
        </div>
        <div class="form-group row">
            <label asp-for="CurrentJobExtension.DoorOperatorID" class="col-sm-5 col-form-label"></label>
            <door-operator-select id="DoorOperatorID" asp-for="@Model.CurrentJobExtension.DoorOperatorID" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")  ? false : true )" selected-value="Model.CurrentJobExtension.DoorOperatorID" class="form-control form-control-sm col-sm-3">
            </door-operator-select>
        </div>
    </div>
    <div class="col-md-6">
        @*Grid for checkboxes*@
        <h3>Door Features</h3>
        <div class="form-inline">
            <label asp-for="CurrentJobExtension.InfDetector" class="col-sm-4 col-form-label float-left"></label>
            <div><span asp-validation-for="CurrentJobExtension.InfDetector" class="text-danger"></span></div>
            <input asp-for="CurrentJobExtension.InfDetector" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")  ? false : true)" class="form-control col-sm-3 float-left" />
        </div>
        <div class="form-inline">
            <label asp-for="CurrentJobExtension.MechSafEdge" class="col-sm-4 col-form-label"></label>
            <div><span asp-validation-for="CurrentJobExtension.MechSafEdge" class="text-danger"></span></div>
            <input asp-for="CurrentJobExtension.MechSafEdge" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")  ? false : true)" class="form-control col-sm-3 float-left" />
        </div>
        <div class="form-inline">
            <label asp-for="CurrentJobExtension.HeavyDoors" class="col-sm-4 col-form-label"></label>
            <div><span asp-validation-for="CurrentJobExtension.HeavyDoors" class="text-danger"></span></div>
            <input asp-for="CurrentJobExtension.HeavyDoors" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin")? false : true)" class="form-control col-sm-3 float-left" />
        </div>
        <div class="form-inline">
            <label asp-for="CurrentJobExtension.CartopDoorButtons" class="col-sm-4 col-form-label"></label>
            <div><span asp-validation-for="CurrentJobExtension.CartopDoorButtons" class="text-danger"></span></div>
            <input asp-for="CurrentJobExtension.CartopDoorButtons" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin") ? false : true)" class="form-control col-sm-3 float-left " />
        </div>
        <div class="form-inline">
            <label asp-for="CurrentJobExtension.DoorHold" class="col-sm-4 col-form-label"></label>
            <div><span asp-validation-for="CurrentJobExtension.DoorHold" class="text-danger"></span></div>
            <input asp-for="CurrentJobExtension.DoorHold" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin") ? false : true)" class="form-control col-sm-3 float-left" />
        </div>
        <div class="form-inline">
            <label asp-for="CurrentJobExtension.Nudging" class="col-sm-4 col-form-label"></label>
            <div><span asp-validation-for="CurrentJobExtension.Nudging" class="text-danger"></span></div>
            <input asp-for="CurrentJobExtension.Nudging" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin") ? false : true )" class="form-control col-sm-3 float-left" />
        </div>

        <h3 class="border-top">Serial Link</h3>
        <div class="form-inline">
            <label asp-for="CurrentJobExtension.SCOP" class="col-sm-4 col-form-label"></label>
            <div><span asp-validation-for="CurrentJobExtension.SCOP" class="text-danger"></span></div>
            <input asp-for="CurrentJobExtension.SCOP" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin") ? false : true )" class="form-control col-sm-3 float-left" />
        </div>
        <div class="form-inline">
            <label asp-for="CurrentJobExtension.SHC" class="col-sm-4 col-form-label"></label>
            <div><span asp-validation-for="CurrentJobExtension.SHC" class="text-danger"></span></div>
            <input asp-for="CurrentJobExtension.SHC" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin") ? false : true )" class="form-control col-sm-3 float-left" />
        </div>
        <div class="form-inline">
            <label asp-for="CurrentJobExtension.SHCRisers" class="col-sm-4 col-form-label"></label>
            <div><span asp-validation-for="CurrentJobExtension.SHCRisers" class="text-danger"></span></div>
            <input asp-for="CurrentJobExtension.SHCRisers" readonly="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin") ? false : true )" class="form-control col-sm-3 float-left" />
        </div>
        <div class="form-inline">
            <label asp-for="CurrentJobExtension.AUXCOP" class="col-sm-4 col-form-label"></label>
            <div><span asp-validation-for="CurrentJobExtension.AUXCOP" class="text-danger"></span></div>
            <input asp-for="CurrentJobExtension.AUXCOP" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin") ? false : true )" class="form-control col-sm-3 float-left" />
        </div>
    </div>
</div>