@model Job
@{
    <script src="~/Scripts/CascadingCountryStateCity.js" type="text/javascript"></script>
}
<input type="hidden" asp-for="JobID" />
<div class="form-group row">
    <label asp-for="Name" class="col-sm-2 col-form-label"></label>
    <div>
        <input asp-for="Name" class="form-control col-sm-7" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
</div>
<div class="form-group row">
    <label asp-for="JobNum" class="col-sm-2 col-form-label"></label>
    <div>
        <input asp-for="JobNum" class="form-control col-sm-11" />
        <span asp-validation-for="JobNum" class="text-danger"></span>
    </div>
</div>
<div class="form-group row">
    <label asp-for="JobTypeID" class="col-sm-2 col-form-label"></label>
    <div>
        <job-type-select selected-value="@Model.JobTypeID" class="form-control-sm" asp-for="JobTypeID"></job-type-select>
        <span asp-validation-for="JobTypeID" class="text-danger"></span>
    </div>
</div>
<div class="form-group row">
    <label asp-for="PO" class="col-sm-2 col-form-label"></label>
    <div>
        <input asp-for="PO" class="form-control col-sm-7" />
        <span asp-validation-for="PO" class="text-danger"></span>
    </div>
</div>
<div class="form-group row">
    <label asp-for="ShipDate" class="col-sm-2 col-form-label"></label>
    <div>
        <input asp-for="ShipDate" class="form-control col-sm-15" />
        <span asp-validation-for="ShipDate" class="text-danger"></span>
    </div>
</div>
<div class="form-group row">
    <label asp-for="LatestFinishDate" class="col-sm-2 col-form-label"></label>
    <div>
        <input asp-for="LatestFinishDate" class="form-control col-sm-15" />
        <span asp-validation-for="LatestFinishDate" class="text-danger"></span>
    </div>
</div>
<div class="form-group row">
    <label asp-for="Cust" class="col-sm-2 col-form-label"></label>
    <div>
        <input asp-for="Cust" class="form-control col-sm-7" />
        <span asp-validation-for="Cust" class="text-danger"></span>
    </div>
</div>
<div class="form-group row">
    <label asp-for="Contractor" class="col-sm-2 col-form-label"></label>
    <div>
        <input asp-for="Contractor" class="form-control col-sm-7" />
        <span asp-validation-for="Contractor" class="text-danger"></span>
    </div>
</div>
<div class="form-group row">
    <label asp-for="CountryID" class="col-sm-2 col-form-label"></label>
    <country-select id="CountryID" asp-for="@Model.CountryID" class="form-control-sm" selected-value="@Model.CityID">
    </country-select>
</div>
<div class="form-group row">
    <label asp-for="StateID" class="col-sm-2 col-form-label"></label>
    <state-select id="StateID" asp-for="@Model.StateID" class="form-control-sm" selected-value="@Model.CityID">
    </state-select>
</div>
<div class="form-group row">
    <label asp-for="CityID" class="col-sm-2 col-form-label"></label>
    <select id="CityID" asp-for="@Model.CityID" class="form-control-sm" asp-items="ViewBag.CityID">
        <option value="">-- Select City --</option>
    </select>
</div>
<div class="form-group row">
    <label asp-for="FireCodeID" class="col-sm-2 col-form-label"></label>
    <div>
        <fire-code-select selected-value="@Model.FireCodeID" class="form-control-sm" asp-for="FireCodeID"></fire-code-select>
        <span asp-validation-for="FireCodeID" class="text-danger"></span>
    </div>
</div>
