@model JobViewModel
@{
    <script src="~/Scripts/CascadingCountryStateCity.js" type="text/javascript"></script>
}
<input type="hidden" asp-for="CurrentJob.JobID" />
<input type="hidden" asp-for="CurrentJob.Status" />
<input type="hidden" asp-for="CurrentJob.EngID" />
<input type="hidden" asp-for="CurrentJob.CrossAppEngID" />
<div class="form-group row">
    <label asp-for="CurrentJob.Name" class="col-sm-2 col-form-label"></label>
    <div>
        <input asp-for="CurrentJob.Name" class="form-control col-sm-7" />
        <span asp-validation-for="CurrentJob.Name" class="text-danger"></span>
    </div>
</div>
<div class="form-group row">
    <label asp-for="CurrentJob.JobTypeID" class="col-sm-2 col-form-label"></label>
    <div>
        <job-type-select selected-value="@Model.CurrentJob.JobTypeID" class="form-control-sm" asp-for="CurrentJob.JobTypeID"></job-type-select>
        <span asp-validation-for="CurrentJob.JobTypeID" class="text-danger"></span>
    </div>
</div>
<div class="form-group row">
    <label asp-for="CurrentJob.JobNum" class="col-sm-2 col-form-label"></label>
    <div>
        <input asp-for="CurrentJob.JobNum" class="form-control" style="width:auto" />
        <span asp-validation-for="CurrentJob.JobNum" class="text-danger"></span>
    </div>
</div>
<div class="form-group row">
    <label asp-for="CurrentJob.PO" class="col-sm-2 col-form-label"></label>
    <div>
        <input asp-for="CurrentJob.PO" class="form-control col-sm-7" />
        <span asp-validation-for="CurrentJob.PO" class="text-danger"></span>
    </div>
</div>
<div class="form-group row">
    <label asp-for="CurrentJob.ShipDate" class="col-sm-2 col-form-label"></label>
    <div>
        <input asp-for="CurrentJob.ShipDate" class="form-control col-sm-15" />
        <span asp-validation-for="CurrentJob.ShipDate" class="text-danger"></span>
    </div>
</div>
<div class="form-group row">
    <label asp-for="CurrentJob.LatestFinishDate" class="col-sm-2 col-form-label"></label>
    <div>
        <input asp-for="CurrentJob.LatestFinishDate" class="form-control col-sm-15" />
        <span asp-validation-for="CurrentJob.LatestFinishDate" class="text-danger"></span>
    </div>
</div>
<div class="form-group row">
    <label asp-for="CurrentJob.Cust" class="col-sm-2 col-form-label"></label>
    <div>
        <input asp-for="CurrentJob.Cust" class="form-control col-sm-7" />
        <span asp-validation-for="CurrentJob.Cust" class="text-danger"></span>
    </div>
</div>
<div class="form-group row">
    <label asp-for="CurrentJob.Contractor" class="col-sm-2 col-form-label"></label>
    <div>
        <input asp-for="CurrentJob.Contractor" class="form-control col-sm-7" />
        <span asp-validation-for="CurrentJob.Contractor" class="text-danger"></span>
    </div>
</div>
<div class="form-group row">
    <label asp-for="CurrentJob.CountryID" class="col-sm-2 col-form-label"></label>
    <select id="CountryID" asp-for="@Model.CurrentJob.CountryID" class="form-control-sm" asp-items="ViewBag.CountryID">
        <option value="default">-- Select Country --</option>
    </select>
</div>
<div class="form-group row">
    <label asp-for="CurrentJob.StateID" class="col-sm-2 col-form-label"></label>
    <select id="StateID" asp-for="@Model.CurrentJob.StateID" class="form-control-sm" asp-items="ViewBag.StateID">
        <option value="default">-- Select State --</option>
    </select>
</div>
<div class="form-group row">
    <label asp-for="CurrentJob.CityID" class="col-sm-2 col-form-label"></label>
    <select id="CityID" asp-for="@Model.CurrentJob.CityID" class="form-control-sm" asp-items="ViewBag.CityID">
        <option value="">-- Select City --</option>
    </select>
</div>
<div class="form-group row">
    <label asp-for="CurrentJob.FireCodeID" class="col-sm-2 col-form-label"></label>
    <div>
        <fire-code-select selected-value="@Model.CurrentJob.FireCodeID" class="form-control-sm" asp-for="CurrentJob.FireCodeID"></fire-code-select>
        <span asp-validation-for="CurrentJob.FireCodeID" class="text-danger"></span>
    </div>
</div>