@model Job
<input type="hidden" asp-for="JobID" />
<div class="form-group row">
    <label asp-for="Name" class="col-sm-2 col-form-label"></label>
    <div>
        <input asp-for="Name" class="form-control col-sm-7" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
</div>
<div class="form-group row">
    <label asp-for="JobNum" class="col-sm-2 col-form-label"></label>
    <div>
        <input asp-for="JobNum" class="form-control col-sm-7" />
        <span asp-validation-for="JobNum" class="text-danger"></span>
    </div>
</div>
<div class="form-group">
    <label asp-for="JobTypeID" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <select asp-for="JobTypeID" asp-items="@(new SelectList(@ViewBag.JobTypeList,"JobTypeID","Name"))"></select>
        <span asp-validation-for="JobTypeID" class="text-danger"></span>
    </div>
</div>
<div class="form-group row">
    <label asp-for="PO" class="col-sm-2 col-form-label"></label>
    <div>
        <input asp-for="PO" class="form-control col-sm-7" />
        <span asp-validation-for="PO" class="text-danger"></span>
    </div>
</div>
<div class="form-group row">
    <label asp-for="ShipDate" class="col-sm-2 col-form-label"></label>
    <div>
        <input asp-for="ShipDate" class="form-control col-sm-15" />
        <span asp-validation-for="ShipDate" class="text-danger"></span>
    </div>

</div>
<div class="form-group row">
    <label asp-for="LatestFinishDate" class="col-sm-2 col-form-label"></label>
    <div>
        <input asp-for="LatestFinishDate" class="form-control col-sm-15" />
        <span asp-validation-for="LatestFinishDate" class="text-danger"></span>
    </div>
</div>
<div class="form-group row">
    <label asp-for="Cust" class="col-sm-2 col-form-label"></label>
    <div>
        <input asp-for="Cust" class="form-control col-sm-7" />
        <span asp-validation-for="Cust" class="text-danger"></span>
    </div>
</div>
<div class="form-group row">
    <label asp-for="Contractor" class="col-sm-2 col-form-label"></label>
    <div>
        <input asp-for="Contractor" class="form-control col-sm-7" />
        <span asp-validation-for="Contractor" class="text-danger"></span>
    </div>
</div>
<div class="form-group">
    <label asp-for="CityID" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <select asp-for="CityID" asp-items="@(new SelectList(@ViewBag.CityList,"CityID","Name"))"></select>
        <span asp-validation-for="CityID" class="text-danger"></span>
    </div>
</div>
<div class="form-group">
    <label asp-for="FireCodeID" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <select asp-for="FireCodeID" asp-items="@(new SelectList(@ViewBag.FireCodeList,"FireCodeID","Name"))"></select>
        <span asp-validation-for="FireCodeID" class="text-danger"></span>
    </div>
</div>