@model ProdFloor.Models.ViewModels.Job.JobSearchViewModel
@{
    ViewBag.Title = "JobsSearchList";
    Layout = "_AdminLayoutWO";

    <script src="~/Scripts/CascadingCountryStateCity.js" type="text/javascript"></script>
    <script src="~/Scripts/CascadingStyleBrandDoorOperator.js" type="text/javascript"></script>
}
<div class="row" style="padding-right:20px">
    <h2 class="col-sm-10"> Job Search List</h2>
</div>
<br />
<form asp-controller="Job" asp-action="JobSearchList" method="get">

    <div id="accordionSearch">
        <div class="card">
            <div class="card-header bg-dark text-center">
                <div class="btn-group" style="float:left">
                    <!--Search and Clean-->
                    <button class="btn btn-dark" style="border-color:transparent" type="submit" value="Search"><i class="fa fa-search" aria-hidden="true"></i></button>
                    <button class="btn btn-dark" style="border-color:transparent" name="CleanFields" type="submit" value="true"><i class="fas fa-undo"></i></button>
                </div>
                <div class="btn-group">
                    <!--Header 1-->
                    <button type="button" id="headingJobInfo" class="btn btn-dark" style="border-color:transparent" data-toggle="collapse" data-target="#collapseJobInfo" aria-expanded="true" aria-controls="collapseJobInfo">
                        <h6 class="mb-0 text-center"> Job Information</h6>
                    </button>
                    <!--Header 2-->
                    <button type="button" id="headingJobExt" class="btn btn-dark" style="border-color:transparent" data-toggle="collapse" data-target="#collapseJobExt" aria-expanded="true" aria-controls="collapseJobExt">
                        <h6 class="mb-0 text-center"> Job Extension</h6>
                    </button>
                    <!--Header 3-->
                    <button type="button" id="headingHydro" class="btn btn-dark" style="border-color:transparent" data-toggle="collapse" data-target="#collapseHydro" aria-expanded="true" aria-controls="collapseHydro">
                        <h6 class="mb-0 text-center"> HydroSpecific</h6>
                    </button>
                    <!--Header 4-->
                    <button type="button" id="headingGeneric" class="btn btn-dark" style="border-color:transparent" data-toggle="collapse" data-target="#collapseGeneric" aria-expanded="true" aria-controls="collapseGeneric">
                        <h6 class="mb-0 text-center"> Generic Features</h6>
                    </button>
                    <!--Header 5-->
                    <button type="button" id="headingIndicators" class="btn btn-dark" style="border-color:transparent" data-toggle="collapse" data-target="#collapseIndicators" aria-expanded="true" aria-controls="collapseIndicators">
                        <h6 class="mb-0 text-center">Indicators</h6>
                    </button>
                    <!--Header 6-->
                    <button type="button" id="headingHoist" class="btn btn-dark" style="border-color:transparent" data-toggle="collapse" data-target="#collapseHoist" aria-expanded="true" aria-controls="collapseHoist">
                        <h6 class="mb-0 text-center">HoistWayData</h6>
                    </button>
                    <!--Header 7-->
                    <button type="button" id="headingSpecial" class="btn btn-dark" style="border-color:transparent" data-toggle="collapse" data-target="#collapseSpecial" aria-expanded="true" aria-controls="collapseSpecial">
                        <h6 class="mb-0 text-center">Special Features</h6>
                    </button>
                </div>

            </div>
            <!--Body 1-->
            <div id="collapseJobInfo" class="collapse show" aria-labelledby="headingJobInfo" data-parent="#accordionSearch">
                <div class="card-body">
                    <div class="row">
                        <div class="col-3" style="padding-right:0px;margin-right:0px;padding-left:0px;margin-left:0px">
                            <div class="form-group form-inline" style="margin-bottom:0px;">
                                <label asp-for="NameJobSearch" class="col-sm-4 col-form-label"></label>
                                <input type="text" class="form-control form-control-sm col-sm-8" asp-for="NameJobSearch">
                            </div>
                            <div class="form-group form-inline" style="margin-bottom:0px;">
                                <label asp-for="Name2" class="col-sm-4 col-form-label"></label>
                                <input type="text" class="form-control form-control-sm col-sm-8" asp-for="Name2">
                            </div>
                            <div class="form-group form-inline" style="margin-bottom:0px;">
                                <label asp-for="ContractorJobSearch" class="col-sm-4 col-form-label"></label>
                                <input type="text" class="form-control form-control-sm col-sm-8" asp-for="ContractorJobSearch">
                            </div>
                        </div>
                        <div class="col-2" style="padding-right:0px;margin-right:0px;padding-left:0px;margin-left:0px">
                            <div class="form-group form-inline" style="margin-bottom:0px;">
                                <label asp-for="CountryID" class="col-sm-4 col-form-label"></label>
                                <country-select id="CountryID" asp-for="CountryID" class="form-control form-control-sm col-8"></country-select>
                            </div>
                            <div class="form-group form-inline" style="margin-bottom:0px;">
                                <label asp-for="StateID" class="col-sm-4 col-form-label"></label>
                                <state-select id="StateID" asp-for="StateID" class="form-control form-control-sm col-8 "></state-select>
                            </div>
                            <div class="form-group form-inline" style="margin-bottom:0px;">
                                <label asp-for="CityID" class="col-sm-4 col-form-label"></label>
                                <city-select selected-value="@Model.CityID" class="form-control form-control-sm col-8" asp-for="CityID"></city-select>
                            </div>
                        </div>
                        <div class="col-3" style="padding-right:0px;margin-right:0px;padding-left:0px;margin-left:0px">
                            <div class="form-group form-inline" style="margin-bottom:0px;">
                                <label asp-for="StatusJobSearch" class="col-sm-4 col-form-label"></label>
                                <select asp-for="StatusJobSearch" class="form-control form-control-sm col-6" asp-items="Model.Status"><option value="">Select a Status</option></select>
                            </div>
                            <div class="form-group form-inline" style="margin-bottom:0px;">
                                <label asp-for="JobTypeID" class="col-sm-4 col-form-label"></label>
                                <job-type-in-job-select selected-value="@Model.JobTypeID" class="form-control form-control-sm col-6" asp-for="JobTypeID"></job-type-in-job-select>
                            </div>
                            <div class="form-group form-inline" style="margin-bottom:0px;">
                                <label asp-for="FireCodeID" class="col-sm-4 col-form-label"></label>
                                <fire-code-in-jobs-select selected-value="@Model.FireCodeID" class="form-control form-control-sm col-6" asp-for="FireCodeID"></fire-code-in-jobs-select>
                            </div>
                        </div>
                        <div class="col-2" style="padding-right:0px;margin-right:0px;padding-left:0px;margin-left:0px">
                            <div class="form-group form-inline" style="margin-bottom:0px;">
                                <label asp-for="NumJobSearch" class="col-sm-6 col-form-label"></label>
                                <input type="text" class="form-control form-control-sm col-sm-6" asp-for="NumJobSearch">
                            </div>
                            <div class="form-group form-inline" style="margin-bottom:0px;">
                                <label asp-for="POJobSearch" class="col-sm-6 col-form-label"></label>
                                <input type="text" class="form-control form-control-sm col-sm-6" asp-for="POJobSearch">
                            </div>
                            <div class="form-group form-inline" style="margin-bottom:0px;">
                                <label asp-for="CustJobSearch" class="col-sm-6 col-form-label"></label>
                                <input type="text" class="form-control form-control-sm col-sm-6" asp-for="CustJobSearch">
                            </div>
                        </div>
                        <div class="col-2" style="padding-right:0px;margin-right:0px;padding-left:0px;margin-left:0px">
                            <div class="form-group form-inline" style="margin-bottom:0px;">
                                <label asp-for="EngID" class="col-sm-6 col-form-label"></label>
                                <input type="text" class="form-control form-control-sm col-sm-4" asp-for="EngID">
                            </div>
                            <div class="form-group form-inline" style="margin-bottom:0px;">
                                <label asp-for="CrossAppEngID" class="col-sm-6 col-form-label"></label>
                                <input type="text" class="form-control form-control-sm col-sm-4" asp-for="CrossAppEngID">
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!--Body 2-->
            <div id="collapseJobExt" class="collapse " aria-labelledby="headingJobExt" data-parent="#accordionSearch">
                <div class="card-body">
                    <div class="row">
                        <div class="col-2" style="padding-right:0px;margin-right:0px;padding-left:5px;margin-left:5px">
                            <div class="form-group form-inline" style="margin-bottom:0px;">
                                <label asp-for="InputFrecuency" class="col-sm-7 col-form-label"></label>
                                <input type="text" class="form-control form-control-sm col-sm-4" asp-for="InputFrecuency">
                            </div>
                            <div class="form-group form-inline" style="margin-bottom:0px;">
                                <label asp-for="InputPhase" class="col-sm-7 col-form-label"></label>
                                <input type="text" class="form-control form-control-sm col-sm-4" asp-for="InputPhase">
                            </div>
                            <div class="form-group form-inline" style="margin-bottom:0px;">
                                <label asp-for="InputVoltage" class="col-sm-7 col-form-label"></label>
                                <input type="text" class="form-control form-control-sm col-sm-4" asp-for="InputVoltage">
                            </div>
                        </div>
                        <div class="col-2" style="padding-right:0px;margin-right:0px;padding-left:0px;margin-left:0px">
                            <div class="form-group form-inline" style="margin-bottom:0px;">
                                <label asp-for="NumOfStops" class="col-sm-8 col-form-label"></label>
                                <input type="text" class="form-control form-control-sm col-sm-3" asp-for="NumOfStops">
                            </div>
                            <div class="form-group form-inline" style="margin-bottom:0px;">
                                <label asp-for="JobTypeAdd" class="col-sm-8 col-form-label"></label>
                                <job-type-add-in-job-select selected-value="@Model.JobTypeAdd" class="form-control form-control-sm col-sm-3" asp-for="JobTypeAdd"></job-type-add-in-job-select>
                            </div>
                            <div class="form-group form-inline" style="margin-bottom:0px;">
                                <label asp-for="JobTypeMain" class="col-sm-8 col-form-label"></label>
                                <job-type-maini-in-job-select selected-value="@Model.JobTypeMain" class="form-control form-control-sm col-sm-3" asp-for="JobTypeMain"></job-type-maini-in-job-select>
                            </div>
                        </div>
                        <div class="col-3" style="padding-right:0px;margin-right:0px;padding-left:0px;margin-left:0px">
                            <div class="form-group form-inline" style="margin-bottom:0px;">
                                <label asp-for="DoorGate" class="col-sm-5 col-form-label"></label>
                                <door-operator-style-select id="Style" asp-for="@Model.DoorGate" class="form-control form-control-sm col-sm-6">
                                </door-operator-style-select>
                            </div>
                            <div class="form-group form-inline" style="margin-bottom:0px;">
                                <label asp-for="DoorBrand" class="col-sm-5 col-form-label"></label>

                                <door-operator-brand-select id="Brand" asp-for="@Model.DoorBrand" class="form-control form-control-sm col-sm-6">
                                </door-operator-brand-select>
                                <br />
                            </div>
                            <div class="form-group form-inline" style="margin-bottom:0px;">
                                <label asp-for="DoorOperatorID" class="col-sm-5 col-form-label"></label>
                                <door-operator-select id="DoorOperatorID" asp-for="@Model.DoorOperatorID" class="form-control form-control-sm col-sm-6">
                                </door-operator-select>
                                <br />
                            </div>
                        </div>
                        <div class="col-2" style="padding-right:0px;margin-right:0px;padding-left:5px;margin-left:5px">
                            <div class="form-group form-inline" style="margin-bottom:5px;">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" asp-for="AuxCop" class="custom-control-input">
                                    <label class="custom-control-label" asp-for="AuxCop"></label>
                                </div>
                            </div>
                            <div class="form-group form-inline" style="margin-bottom:5px;">
                                <div class="custom-control custom-checkbox">

                                    <input type="checkbox" asp-for="MechSafEdge" class="custom-control-input">
                                    <label class="custom-control-label" asp-for="MechSafEdge"></label>
                                </div>
                            </div>
                            <div class="form-group form-inline" style="margin-bottom:5px;">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" asp-for="Scop" class="custom-control-input">
                                    <label class="custom-control-label" asp-for="Scop"></label>

                                </div>
                            </div>
                            <div class="form-group form-inline" style="margin-bottom:5px;">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" asp-for="Shc" class="custom-control-input">
                                    <label class="custom-control-label" asp-for="Shc"></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-2" style="padding-right:0px;margin-right:0px;padding-left:5px;margin-left:5px">
                            <div class="form-group form-inline" style="margin-bottom:5px;">
                                <div class="custom-control custom-checkbox">

                                    <input type="checkbox" asp-for="CartopDoorButtons" class="custom-control-input">
                                    <label class="custom-control-label" asp-for="CartopDoorButtons"></label>
                                </div>
                            </div>
                            <div class=" form-group form-inline" style="margin-bottom:5px;">
                                <div class="custom-control custom-checkbox">

                                    <input type="checkbox" asp-for="HeavyDoors" class="custom-control-input">
                                    <label class="custom-control-label" asp-for="HeavyDoors"></label>
                                </div>
                            </div>
                            <div class="form-group form-inline" style="margin-bottom:5px;">
                                <div class="custom-control custom-checkbox">

                                    <input type="checkbox" asp-for="DoorHold" class="custom-control-input">
                                    <label class="custom-control-label" asp-for="DoorHold"></label>
                                </div>
                            </div>
                            <div class="form-inline" style="margin-bottom:5px;">
                                <div class="custom-control custom-checkbox">

                                    <input type="checkbox" asp-for="InfDetector" class="custom-control-input">
                                    <label class="custom-control-label" asp-for="InfDetector"></label>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


            <!--Body 3-->
            <div id="collapseHydro" class="collapse" aria-labelledby="headingHydro" data-parent="#accordionSearch">
                <div class="card-body">
                    <div class="row">
                        <div class="col-2" style="padding-right:0px;margin-right:0px;padding-left:5px;margin-left:5px">
                            <div class="form-group form-inline" style="margin-bottom:0px;">
                                <label asp-for="FLA" class="col-sm-7 col-form-label"></label>
                                <input type="text" class="form-control form-control-sm col-sm-4" asp-for="FLA">
                            </div>
                            <div class="form-group form-inline" style="margin-bottom:0px;">
                                <label asp-for="HP" class="col-sm-7 col-form-label"></label>
                                <input type="text" class="form-control form-control-sm col-sm-4" asp-for="HP">
                            </div>
                            <div class="form-group form-inline" style="margin-bottom:0px;">
                                <label asp-for="MotorsNum" class="col-sm-7 col-form-label"></label>
                                <input type="text" class="form-control form-control-sm col-sm-4" asp-for="MotorsNum">
                            </div>
                        </div>
                        <div class="col-3" style="padding-right:0px;margin-right:0px;padding-left:0px;margin-left:0px">
                            <div class="form-group form-inline" style="margin-bottom:0px;">
                                <label asp-for="SPH" class="col-sm-4 col-form-label"></label>
                                <input type="text" class="form-control form-control-sm col-sm-4" asp-for="NumOfStops">
                            </div>
                            <div class="form-group form-inline" style="margin-bottom:0px;">
                                <label asp-for="Starter" class="col-sm-4 col-form-label"></label>
                                <custom-select selected-value="@Model.Starter" class="form-control form-control-sm col-sm-6" asp-for="Starter" select-for="Starter"></custom-select>
                            </div>
                            <div class="form-group form-inline" style="margin-bottom:0px;">
                                <label asp-for="ValveBrand" class="col-sm-4 col-form-label"></label>
                                <valve-brandni-in-job-select selected-value="@Model.ValveBrand" class="form-control form-control-sm col-sm-6" asp-for="ValveBrand"></valve-brandni-in-job-select>
                            </div>
                        </div>
                        <div class="col-1" style="padding-right:0px;margin-right:0px;padding-left:5px;margin-left:5px">
                            <div class="form-group form-inline" style="margin-bottom:5px;">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" asp-for="LOS" class="custom-control-input">
                                    <label class="custom-control-label" asp-for="LOS"></label>
                                </div>
                            </div>
                            <div class="form-group form-inline" style="margin-bottom:5px;">
                                <div class="custom-control custom-checkbox">

                                    <input type="checkbox" asp-for="LifeJacket" class="custom-control-input">
                                    <label class="custom-control-label" asp-for="LifeJacket"></label>
                                </div>
                            </div>
                            <div class="form-group form-inline" style="margin-bottom:5px;">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" asp-for="OilCool" class="custom-control-input">
                                    <label class="custom-control-label" asp-for="OilCool"></label>

                                </div>
                            </div>
                            <div class="form-group form-inline" style="margin-bottom:5px;">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" asp-for="OilTank" class="custom-control-input">
                                    <label class="custom-control-label" asp-for="OilTank"></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-2" style="padding-right:0px;margin-right:0px;padding-left:5px;margin-left:5px">
                            <div class="form-group form-inline" style="margin-bottom:5px;">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" asp-for="PSS" class="custom-control-input">
                                    <label class="custom-control-label" asp-for="PSS"></label>
                                </div>
                            </div>
                            <div class=" form-group form-inline" style="margin-bottom:5px;">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" asp-for="Resync" class="custom-control-input">
                                    <label class="custom-control-label" asp-for="Resync"></label>
                                </div>
                            </div>
                            <div class="form-group form-inline" style="margin-bottom:5px;">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" asp-for="VCI" class="custom-control-input">
                                    <label class="custom-control-label" asp-for="VCI"></label>
                                </div>
                            </div>
                            <div class="form-inline" style="margin-bottom:5px;">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" asp-for="Battery" class="custom-control-input">
                                    <label class="custom-control-label" asp-for="Battery"></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-3" id="BatteryBrand" style="padding-right:0px;margin-right:0px;padding-left:5px;margin-left:5px">
                            <div class="form-group form-inline" style="margin-bottom:0px;">
                                <label asp-for="BatteryBrand" class="col-sm-4 col-form-label"></label>
                                <custom-select id="OtherBatteryBrandSelected" selected-value="@Model.BatteryBrand" class="form-control form-control-sm col-sm-6" asp-for="BatteryBrand" select-for="Battery Brand"></custom-select>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!--Body 4-->
            <div id="collapseGeneric" class="collapse " aria-labelledby="headingGeneric" data-parent="#accordionSearch">
                <div class="card-body">
                    <div class="row ">
                        <div class="col-4">
                            <div class="form-group row" style="margin-bottom:0px;">
                                <label asp-for="GovModel" class="col-sm-6 col-form-label"></label>
                                <input type="text" class="form-control form-control-sm col-sm-5" asp-for="GovModel">
                            </div>
                            <div class="form-group row" style="margin-bottom:0px;">
                                <label asp-for="Monitoring" class="col-sm-6 col-form-label"></label>
                                <indicators select-for="Monitoring" selected-value="@Model.Monitoring" class="form-control form-control-sm col-sm-5" asp-for="Monitoring"></indicators>
                            </div>
                            <div class="form-group row" style="margin-bottom:0px;">
                                <label asp-for="TopAccessLocation" class="col-sm-6 col-form-label"></label>
                                <indicators select-for="AccessSWLocation" selected-value="@Model.TopAccessLocation" class="form-control form-control-sm col-sm-5" asp-for="TopAccessLocation"></indicators>
                            </div>
                            <div class="form-group row" style="margin-bottom:0px;">
                                <label asp-for="BottomAccessLocation" class="col-sm-6 col-form-label"></label>
                                <indicators select-for="AccessSWLocation" selected-value="@Model.BottomAccessLocation" class="form-control form-control-sm col-sm-5" asp-for="BottomAccessLocation"></indicators>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group row" style="margin-bottom:0px;">
                                <label asp-for="SwitchStyle" class="col-sm-8 col-form-label"></label>
                                <custom-select select-for="SwitchStyle" selected-value="@Model.SwitchStyle" class="form-control form-control-sm col-sm-4" asp-for="SwitchStyle"></custom-select>
                            </div>
                            <div class="form-group row" style="margin-bottom:0px;">
                                <label asp-for="EPContact" class="col-sm-8 col-form-label"></label>
                                <indicators select-for="EPContact" selected-value="@Model.EPContact" class="form-control form-control-sm col-sm-4" asp-for="EPContact"></indicators>
                            </div>
                            <div class="form-group row" style="margin-bottom:0px;">
                                <label asp-for="EPCarsNumber" class="col-sm-8 col-form-label"></label>
                                <indicators select-for="EPCars" selected-value="@Model.EPCarsNumber" class="form-control form-control-sm col-sm-4" asp-for="EPCarsNumber"></indicators>
                            </div>
                            <div class="form-group row" style="margin-bottom:0px;">
                                <label asp-for="INCPButtons" class="col-sm-8 col-form-label"></label>
                                <indicators select-for="INCPButtons" selected-value="@Model.INCPButtons" class="form-control form-control-sm col-sm-4" asp-for="INCPButtons"></indicators>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-2" style="padding-right:0px;margin-right:0px;padding-left:5px;margin-left:5px">
                            <div class="form-group form-inline" style="margin-bottom:5px;">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" asp-for="CarKey" class="custom-control-input">
                                    <label class="custom-control-label" asp-for="CarKey"></label>
                                </div>
                            </div>
                            <div class="form-group form-inline" style="margin-bottom:5px;">
                                <div class="custom-control custom-checkbox">

                                    <input type="checkbox" asp-for="HCRO" class="custom-control-input">
                                    <label class="custom-control-label" asp-for="HCRO"></label>
                                </div>
                            </div>
                            <div class="form-group form-inline" style="margin-bottom:5px;">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" asp-for="HallCallRead" class="custom-control-input">
                                    <label class="custom-control-label" asp-for="HallCallRead"></label>

                                </div>
                            </div>
                            <div class="form-group form-inline" style="margin-bottom:5px;">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" asp-for="HallKey" class="custom-control-input">
                                    <label class="custom-control-label" asp-for="HallKey"></label>
                                </div>
                            </div>
                            <div class="form-group form-inline" style="margin-bottom:5px;">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" asp-for="BottomAccess" class="custom-control-input">
                                    <label class="custom-control-label" asp-for="BottomAccess"></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-2" style="padding-right:0px;margin-right:0px;padding-left:5px;margin-left:5px">
                            <div class="form-group form-inline" style="margin-bottom:5px;">
                                <div class="custom-control custom-checkbox">

                                    <input type="checkbox" asp-for="CTINSPST" class="custom-control-input">
                                    <label class="custom-control-label" asp-for="CTINSPST"></label>
                                </div>
                            </div>
                            <div class=" form-group form-inline" style="margin-bottom:5px;">
                                <div class="custom-control custom-checkbox">

                                    <input type="checkbox" asp-for="EPSelect" class="custom-control-input">
                                    <label class="custom-control-label" asp-for="EPSelect"></label>
                                </div>
                            </div>
                            <div class="form-group form-inline" style="margin-bottom:5px;">
                                <div class="custom-control custom-checkbox">

                                    <input type="checkbox" asp-for="Attendant" class="custom-control-input">
                                    <label class="custom-control-label" asp-for="Attendant"></label>
                                </div>
                            </div>
                            <div class="form-inline" style="margin-bottom:5px;">
                                <div class="custom-control custom-checkbox">

                                    <input type="checkbox" asp-for="PTI" class="custom-control-input">
                                    <label class="custom-control-label" asp-for="PTI"></label>
                                </div>
                            </div>
                            <div class="form-inline" style="margin-bottom:5px;">
                                <div class="custom-control custom-checkbox">

                                    <input type="checkbox" asp-for="CallEnable" class="custom-control-input">
                                    <label class="custom-control-label" asp-for="CallEnable"></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-2" style="padding-right:0px;margin-right:0px;padding-left:5px;margin-left:5px">
                            <div class="form-group form-inline" style="margin-bottom:5px;">
                                <div class="custom-control custom-checkbox">

                                    <input type="checkbox" asp-for="CarToLobby" class="custom-control-input">
                                    <label class="custom-control-label" asp-for="CarToLobby"></label>
                                </div>
                            </div>
                            <div class=" form-group form-inline" style="margin-bottom:5px;">
                                <div class="custom-control custom-checkbox">

                                    <input type="checkbox" asp-for="EMT" class="custom-control-input">
                                    <label class="custom-control-label" asp-for="EMT"></label>
                                </div>
                            </div>
                            <div class="form-group form-inline" style="margin-bottom:5px;">
                                <div class="custom-control custom-checkbox">

                                    <input type="checkbox" asp-for="EP" class="custom-control-input">
                                    <label class="custom-control-label" asp-for="EP"></label>
                                </div>
                            </div>
                            <div class="form-inline" style="margin-bottom:5px;">
                                <div class="custom-control custom-checkbox">

                                    <input type="checkbox" asp-for="EQ" class="custom-control-input">
                                    <label class="custom-control-label" asp-for="EQ"></label>
                                </div>
                            </div>
                            <div class="form-inline" style="margin-bottom:5px;">
                                <div class="custom-control custom-checkbox">

                                    <input type="checkbox" asp-for="FLO" class="custom-control-input">
                                    <label class="custom-control-label" asp-for="FLO"></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-2" style="padding-right:0px;margin-right:0px;padding-left:5px;margin-left:5px">
                            <div class="form-group form-inline" style="margin-bottom:5px;">
                                <div class="custom-control custom-checkbox">

                                    <input type="checkbox" asp-for="FRON2" class="custom-control-input">
                                    <label class="custom-control-label" asp-for="FRON2"></label>
                                </div>
                            </div>
                            <div class=" form-group form-inline" style="margin-bottom:5px;">
                                <div class="custom-control custom-checkbox">

                                    <input type="checkbox" asp-for="Hosp" class="custom-control-input">
                                    <label class="custom-control-label" asp-for="Hosp"></label>
                                </div>
                            </div>
                            <div class="form-group form-inline" style="margin-bottom:5px;">
                                <div class="custom-control custom-checkbox">

                                    <input type="checkbox" asp-for="EPVoltage" class="custom-control-input">
                                    <label class="custom-control-label" asp-for="EPVoltage"></label>
                                </div>
                            </div>
                            <div class="form-inline" style="margin-bottom:5px;">
                                <div class="custom-control custom-checkbox">

                                    <input type="checkbox" asp-for="INA" class="custom-control-input">
                                    <label class="custom-control-label" asp-for="INA"></label>
                                </div>
                            </div>
                            <div class="form-inline" style="margin-bottom:5px;">
                                <div class="custom-control custom-checkbox">

                                    <input type="checkbox" asp-for="INCP" class="custom-control-input">
                                    <label class="custom-control-label" asp-for="INCP"></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-2" style="padding-right:0px;margin-right:0px;padding-left:5px;margin-left:5px">
                            <div class="form-group form-inline" style="margin-bottom:5px;">
                                <div class="custom-control custom-checkbox">

                                    <input type="checkbox" asp-for="Ind" class="custom-control-input">
                                    <label class="custom-control-label" asp-for="Ind"></label>
                                </div>
                            </div>
                            <div class=" form-group form-inline" style="margin-bottom:5px;">
                                <div class="custom-control custom-checkbox">

                                    <input type="checkbox" asp-for="LoadWeigher" class="custom-control-input">
                                    <label class="custom-control-label" asp-for="LoadWeigher"></label>
                                </div>
                            </div>
                            <div class="form-group form-inline" style="margin-bottom:5px;">
                                <div class="custom-control custom-checkbox">

                                    <input type="checkbox" asp-for="TopAccess" class="custom-control-input">
                                    <label class="custom-control-label" asp-for="TopAccess"></label>
                                </div>
                            </div>
                            <div class="form-inline" style="margin-bottom:5px;">
                                <div class="custom-control custom-checkbox">

                                    <input type="checkbox" asp-for="CRO" class="custom-control-input">
                                    <label class="custom-control-label" asp-for="CRO"></label>
                                </div>
                            </div>
                            <div class="form-inline" style="margin-bottom:5px;">
                                <div class="custom-control custom-checkbox">

                                    <input type="checkbox" asp-for="CarCallRead" class="custom-control-input">
                                    <label class="custom-control-label" asp-for="CarCallRead"></label>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>


            <!--Body 5-->
            <div id="collapseIndicators" class="collapse " aria-labelledby="headingIndicators" data-parent="#accordionSearch">
                <div class="card-body">
                    <div class="row">
                        <div class="col-3" style="padding-right:0px;margin-right:0px;padding-left:5px;margin-left:5px">
                            <div class="form-group row" style="margin-bottom:0px;">
                                <label asp-for="HallCallsVoltage" class="col-sm-6 col-form-label"></label>
                                <indicators select-for="Volts_Value" selected-value="@Model.HallCallsVoltage" asp-for="HallCallsVoltage" class="form-control form-control-sm col-sm-3"></indicators>
                            </div>
                            <div class="form-group row" style="margin-bottom:0px;">
                                <label asp-for="HallCallsVoltageType" class="col-sm-6 col-form-label"></label>
                                <indicators select-for="Volts_Type" selected-value="@Model.HallCallsVoltageType" asp-for="HallCallsVoltageType" class="form-control form-control-sm col-sm-3"></indicators>
                            </div>
                            <div class="form-group row" style="margin-bottom:0px;">
                                <label asp-for="HallCallsType" class="col-sm-6 col-form-label"></label>
                                <indicators select-for="CallType" selected-value="@Model.HallCallsType" asp-for="HallCallsType" class="form-control form-control-sm col-sm-3"></indicators>
                            </div>
                        </div>
                        <div class="col-3" style="padding-right:0px;margin-right:0px;padding-left:5px;margin-left:5px">
                            <div class="form-group row" style="margin-bottom:0px;">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" asp-for="CarLanterns" class="custom-control-input">
                                    <label class="custom-control-label" asp-for="CarLanterns"></label>

                                </div>
                            </div>
                            <div class="form-group row" style="margin-bottom:0px;">
                                <label asp-for="CarCallsVoltage" class="col-sm-6 col-form-label"></label>
                                <indicators select-for="Volts_Value" selected-value="@Model.CarCallsVoltage" asp-for="CarCallsVoltage" class="form-control form-control-sm col-sm-3"></indicators>
                            </div>
                            <div class="form-group row" style="margin-bottom:0px;">
                                <label asp-for="CarCallsVoltageType" class="col-sm-6 col-form-label"></label>
                                <indicators select-for="Volts_Type" selected-value="@Model.CarCallsVoltageType" asp-for="CarCallsVoltageType" class="form-control form-control-sm col-sm-3"></indicators>
                            </div>

                        </div>

                        <div class="col-3" style="padding-right:0px;margin-right:0px;padding-left:5px;margin-left:5px">
                            <div class="form-group row" style="margin-bottom:5px;">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" asp-for="VoiceAnnunciationPI" class="custom-control-input">
                                    <label class="custom-control-label" asp-for="VoiceAnnunciationPI"></label>

                                </div>
                            </div>
                            <div class="form-group row" style="margin-bottom:0px;">
                                <label asp-for="IndicatorsVoltage" class="col-sm-6 col-form-label"></label>
                                <volts select-for="Volts_Value" selected-value="@Model.IndicatorsVoltage" asp-for="IndicatorsVoltage" class="form-control form-control-sm col-sm-3"></volts>
                            </div>
                            <div class="form-group row" style="margin-bottom:0px;">
                                <label asp-for="IndicatorsVoltageType" class="col-sm-6 col-form-label"></label>
                                <indicators select-for="Volts_Type" selected-value="@Model.IndicatorsVoltageType" asp-for="IndicatorsVoltageType" class="form-control form-control-sm col-sm-3"></indicators>
                            </div>

                        </div>
                        <div class="col-2" style="padding-right:0px;margin-right:0px;padding-left:5px;margin-left:5px">
                            <div class="form-group row" style="margin-bottom:5px;">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" asp-for="HallLanterns" class="custom-control-input">
                                    <label class="custom-control-label" asp-for="HallLanterns"></label>

                                </div>
                            </div>
                            <div class="form-group row" style="margin-bottom:5px;">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" asp-for="HallPI" class="custom-control-input">
                                    <label class="custom-control-label" asp-for="HallPI"></label>

                                </div>
                            </div>
                            <div class="form-group row" style="margin-bottom:5px;">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" asp-for="PassingFloor" class="custom-control-input">
                                    <label class="custom-control-label" asp-for="PassingFloor"></label>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


            <!--Body 6-->
            <div id="collapseHoist" class="collapse " aria-labelledby="headingHoist" data-parent="#accordionSearch">
                <div class="card-body">
                    <div class="row">
                        <div class="col-3" style="padding-right:0px;margin-right:0px;padding-left:5px;margin-left:5px">
                            <div class="form-group form-inline" style="margin-bottom:0px;">
                                <label asp-for="HoistWaysNumber" class="col-sm-7 col-form-label"></label>
                                <input type="text" class="form-control form-control-sm col-sm-4" asp-for="HoistWaysNumber">
                            </div>
                            <div class="form-group form-inline" style="margin-bottom:0px;">
                                <label asp-for="MachineRooms" class="col-sm-7 col-form-label"></label>
                                <input type="text" class="form-control form-control-sm col-sm-4" asp-for="MachineRooms">
                            </div>
                            <div class="form-group form-inline" style="margin-bottom:0px;">
                                <label asp-for="Capacity" class="col-sm-7 col-form-label"></label>
                                <input type="text" class="form-control form-control-sm col-sm-4" asp-for="Capacity">
                            </div>
                        </div>
                        <div class="col-3" style="padding-right:0px;margin-right:0px;padding-left:0px;margin-left:0px">
                            <div class="form-group form-inline" style="margin-bottom:0px;">
                                <label asp-for="UpSpeed" class="col-sm-6 col-form-label"></label>
                                <input type="text" class="form-control form-control-sm col-sm-4" asp-for="UpSpeed">
                            </div>
                            <div class="form-group form-inline" style="margin-bottom:0px;">
                                <label asp-for="DownSpeed" class="col-sm-6 col-form-label"></label>
                                <input type="text" class="form-control form-control-sm col-sm-4" asp-for="DownSpeed">
                            </div>
                            <div class="form-group form-inline" style="margin-bottom:0px;">
                                <label asp-for="LandingSystemID" class="col-sm-6 col-form-label"></label>
                                <landing-sys-in-job-select selected-value="@Model.LandingSystemID" class="form-control form-control-sm col-sm-4" asp-for="LandingSystemID"></landing-sys-in-job-select>
                            </div>
                        </div>
                        <div class="col-3" style="padding-right:0px;margin-right:0px;padding-left:0px;margin-left:0px">
                            <div class="form-group form-inline" style="margin-bottom:0px;">
                                <label asp-for="TopFloor" class="col-sm-7 col-form-label"></label>
                                <input type="text" class="form-control form-control-sm col-sm-4" asp-for="TopFloor">
                            </div>
                            <div class="form-group form-inline" style="margin-bottom:0px;">
                                <label asp-for="FrontFloorOpenings" class="col-sm-7 col-form-label"></label>
                                <input type="text" class="form-control form-control-sm col-sm-4" asp-for="FrontFloorOpenings">
                            </div>
                            <div class="form-group form-inline" style="margin-bottom:0px;">
                                <label asp-for="RearFloorOpenings" class="col-sm-7 col-form-label"></label>
                                <input type="text" class="form-control form-control-sm col-sm-4" asp-for="RearFloorOpenings">
                            </div>
                        </div>
                        <div class="col-1" style="padding-right:0px;margin-right:0px;padding-left:5px;margin-left:5px">
                            <div class="form-group form-inline" style="margin-bottom:5px;">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" asp-for="AnyRear" class="custom-control-input">
                                    <label class="custom-control-label" asp-for="AnyRear"></label>
                                </div>
                            </div>
                            <div class="form-group form-inline" style="margin-bottom:5px;">
                                <div class="custom-control custom-checkbox">

                                    <input type="checkbox" asp-for="IndependentRearOpenings" class="custom-control-input">
                                    <label class="custom-control-label" asp-for="IndependentRearOpenings"></label>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


            <!--Body 7-->
            <div id="collapseSpecial" class="collapse" aria-labelledby="headingSpecial" data-parent="#accordionSearch">
                <div class="card-body">
                    <div class="row">
                        <div class="col" style="padding-right:0px;margin-right:0px;padding-left:0px;margin-left:0px">
                            <div class="form-group row" style="margin-bottom:0px;">
                                <label asp-for="Description" class="col-sm-1 col-form-label"></label>
                                <input type="text" class="form-control form-control-sm col-sm-8" asp-for="Description">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<br />
<br />
<div class="row" style="padding-right:20px">
    <h4 class="col-sm-10 text-info">List Of Jobs Found</h4>
</div>
@foreach (var j in Model.JobsSearchList)
{
    @Html.Partial("SearchJobSummary", j)
}
@if (Model.JobsSearchList.Count > 0)
{
    <coool-pagination-all page-model="@Model.PagingInfo" page-action="JobSearchList" page-classes-enabled="true"
                          page-class="btn" page-class-normal="btn-secondary"
                          page-class-selected="btn-primary"
                          class="btn-group pull-right m-1">
    </coool-pagination-all>
}

<script type="text/javascript">
    $("#Battery").ready(function () {
        $("#BatteryBrand").hide();
    });

    $("#Battery").click(function () {
        $("#BatteryBrand")[this.checked ? "show" : "hide"]();
    });
</script>