@model ProdFloor.Models.ViewModels.Job.JobSearchViewModel
@{
    ViewBag.Title = "JobsSearchList";
    Layout = "_AdminLayoutWO";
}
<div class="row" style="padding-right:20px">
    <h2 class="col-sm-10"> Job Search List</h2>
</div>
<br />

<p>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Job Search
    </button>
    <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
        Job Search
    </button>
</p>
<div class="collapse" id="collapseExample">
    <div class="card card-body">
        <form asp-controller="Job" asp-action="JobSearchList" method="get">
            <div class="row">
                <div class="col-sm">
                    Job Name: <input type="text" name="NameJobSearch" class="form-control form-control-sm col-sm-10" asp-for="NameJobSearch">
                    Job Number: <input type="text" name="NumJobSearch" class="form-control form-control-sm col-sm-10" asp-for="NumJobSearch">
                    Job PO Number: <input type="text" name="POJobSearch" class="form-control form-control-sm col-sm-10" asp-for="POJobSearch">
                    <br />
                    <button class="btn btn-dark" type="submit" value="Search"><i class="fa fa-search" aria-hidden="true"></i></button>
                </div>
                <div class="col-sm">
                    Job Cust Number: <input type="text" name="CustJobSearch" class="form-control form-control-sm col-sm-10" asp-for="CustJobSearch">
                    Contractor Name: <input type="text" name="ContractorJobSearch" class="form-control form-control-sm col-sm-10" asp-for="ContractorJobSearch">
                    Enginner Number: <input type="text" name="EngID" class="form-control form-control-sm col-sm-10" asp-for="EngID">
                </div>
                <div class="col-sm">
                    Cross Approval Engineer Number: <input type="text" name="CrossAppEngID" class="form-control form-control-sm col-sm-10" asp-for="CrossAppEngID">
                    <br />
                    <select asp-for="StatusJobSearch" class="form-control form-control-sm col-sm-10" asp-items="Model.Status"><option value="">Select a Status</option></select>
                    <br />
                    <city-select selected-value="@Model.CityID" class="form-control form-control-sm col-sm-10" asp-for="CityID"></city-select>
                </div>
                <div class="col-sm">
                    <br />
                    <fire-code-select selected-value="@Model.FireCodeID" class="form-control form-control-sm col-sm-10" asp-for="FireCodeID"></fire-code-select>
                    <br />
                    <job-type-select selected-value="@Model.JobTypeID" class="form-control form-control-sm col-sm-10" asp-for="JobTypeID"></job-type-select>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="collapse" id="collapse2">
    <div class="card card-body">
        <form asp-controller="Job" asp-action="JobSearchList" method="get">
            <div class="row">
                <div class="col-sm">
                    Job Name: <input type="text" name="NameJobSearch" class="form-control form-control-sm col-sm-10" asp-for="NameJobSearch">
                    Job Number: <input type="text" name="NumJobSearch" class="form-control form-control-sm col-sm-10" asp-for="NumJobSearch">
                    Job PO Number: <input type="text" name="POJobSearch" class="form-control form-control-sm col-sm-10" asp-for="POJobSearch">
                    <br />
                    <button class="btn btn-dark" type="submit" value="Search"><i class="fa fa-search" aria-hidden="true"></i></button>
                </div>
                <div class="col-sm">
                    Job Cust Number: <input type="text" name="CustJobSearch" class="form-control form-control-sm col-sm-10" asp-for="CustJobSearch">
                    Contractor Name: <input type="text" name="ContractorJobSearch" class="form-control form-control-sm col-sm-10" asp-for="ContractorJobSearch">
                    Enginner Number: <input type="text" name="EngID" class="form-control form-control-sm col-sm-10" asp-for="EngID">
                </div>
                <div class="col-sm">
                    Cross Approval Engineer Number: <input type="text" name="CrossAppEngID" class="form-control form-control-sm col-sm-10" asp-for="CrossAppEngID">
                    <br />
                    <select asp-for="StatusJobSearch" class="form-control form-control-sm col-sm-10" asp-items="Model.Status"><option value="">Select a Status</option></select>
                    <br />
                    <city-select selected-value="@Model.CityID" class="form-control form-control-sm col-sm-10" asp-for="CityID"></city-select>
                </div>
                <div class="col-sm">
                    <br />
                    <fire-code-select selected-value="@Model.FireCodeID" class="form-control form-control-sm col-sm-10" asp-for="FireCodeID"></fire-code-select>
                    <br />
                    <job-type-select selected-value="@Model.JobTypeID" class="form-control form-control-sm col-sm-10" asp-for="JobTypeID"></job-type-select>
                </div>
            </div>
        </form>
    </div>
</div>
<br />
<br />
<div class="row" style="padding-right:20px">
    <h4 class="col-sm-10 text-info">List Of Jobs Found</h4>
</div>
@foreach (var j in Model.JobsSearchList)
{
    @Html.Partial("SearchJobSummary", j)
}
<div page-model="@Model.PagingInfo" page-action="JobSearchList" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-secondary"
     page-class-selected="btn-primary" page-url-jobType="@Model.JobsSearchList"
     class="btn-group pull-right m-1">
</div>