@model ProdFloor.Models.ViewModels.Job.JobSearchViewModel
@{
    ViewBag.Title = "JobsSearchList";
    Layout = "_AdminLayoutWO";

    <script src="~/Scripts/CascadingCountryStateCity.js" type="text/javascript"></script>
    <script src="~/Scripts/CascadingStyleBrandDoorOperator.js" type="text/javascript"></script>
}
<div class="row" style="padding-right:20px">
    <h2 class="col-sm-10"> Job Search List</h2>
</div>
<br />

<div id="accordionSearch">
    <div class="card">
        <!--Header 1-->
        <div class="card-header bg-dark text-center" id="headingJobInfo">
            <button class="btn btn-dark" style="background-color:transparent;border-color:transparent" data-toggle="collapse" data-target="#collapseJobInfo" aria-expanded="true" aria-controls="collapseJobInfo">
                <h6 class="mb-0 text-center"> Job Information</h6>
            </button>
        </div>
        <!--Body 1-->
        <div id="collapseJobInfo" class="collapse show" aria-labelledby="headingJobInfo" data-parent="#accordionSearch">
            <div class="card-body">
                <div class="row">
                    <div class="col-3" style="padding-right:0px;margin-right:0px;padding-left:0px;margin-left:0px">
                        <div class="form-group form-inline" style="margin-bottom:0px;">
                            <label asp-for="NameJobSearch" class="col-sm-4 col-form-label"></label>
                            <input type="text" class="form-control form-control-sm col-sm-8" asp-for="NameJobSearch">
                        </div>
                        <div class="form-group form-inline" style="margin-bottom:0px;">
                            <label asp-for="Name2" class="col-sm-4 col-form-label"></label>
                            <input type="text" class="form-control form-control-sm col-sm-8" asp-for="Name2">
                        </div>
                        <div class="form-group form-inline" style="margin-bottom:0px;">
                            <label asp-for="ContractorJobSearch" class="col-sm-4 col-form-label"></label>
                            <input type="text" class="form-control form-control-sm col-sm-8" asp-for="ContractorJobSearch">
                        </div>
                    </div>
                    <div class="col-2" style="padding-right:0px;margin-right:0px;padding-left:0px;margin-left:0px">
                        <div class="form-group form-inline" style="margin-bottom:0px;">
                            <label asp-for="CountryID" class="col-sm-4 col-form-label"></label>
                            <country-select id="CountryID" asp-for="CountryID" class="form-control form-control-sm col-8"></country-select>
                        </div>
                        <div class="form-group form-inline" style="margin-bottom:0px;">
                            <label asp-for="StateID" class="col-sm-4 col-form-label"></label>
                            <state-select id="StateID" asp-for="StateID" class="form-control form-control-sm col-8 "></state-select>
                        </div>
                        <div class="form-group form-inline" style="margin-bottom:0px;">
                            <label asp-for="CityID" class="col-sm-4 col-form-label"></label>
                            <city-select selected-value="@Model.CityID" class="form-control form-control-sm col-8" asp-for="CityID"></city-select>
                        </div>
                    </div>
                    <div class="col-3" style="padding-right:0px;margin-right:0px;padding-left:0px;margin-left:0px">
                        <div class="form-group form-inline" style="margin-bottom:0px;">
                            <label asp-for="StatusJobSearch" class="col-sm-4 col-form-label"></label>
                            <select asp-for="StatusJobSearch" class="form-control form-control-sm col-6" asp-items="Model.Status"><option value="">Select a Status</option></select>
                        </div>
                        <div class="form-group form-inline" style="margin-bottom:0px;">
                            <label asp-for="JobTypeID" class="col-sm-4 col-form-label"></label>
                            <job-type-in-job-select selected-value="@Model.JobTypeID" class="form-control form-control-sm col-6" asp-for="JobTypeID"></job-type-in-job-select>
                        </div>
                        <div class="form-group form-inline" style="margin-bottom:0px;">
                            <label asp-for="FireCodeID" class="col-sm-4 col-form-label"></label>
                            <fire-code-in-jobs-select selected-value="@Model.FireCodeID" class="form-control form-control-sm col-6" asp-for="FireCodeID"></fire-code-in-jobs-select>
                        </div>
                    </div>
                    <div class="col-2" style="padding-right:0px;margin-right:0px;padding-left:0px;margin-left:0px">
                        <div class="form-group form-inline" style="margin-bottom:0px;">
                            <label asp-for="NumJobSearch" class="col-sm-6 col-form-label"></label>
                            <input type="text" class="form-control form-control-sm col-sm-6" asp-for="NumJobSearch">
                        </div>
                        <div class="form-group form-inline" style="margin-bottom:0px;">
                            <label asp-for="POJobSearch" class="col-sm-6 col-form-label"></label>
                            <input type="text" class="form-control form-control-sm col-sm-6" asp-for="POJobSearch">
                        </div>
                        <div class="form-group form-inline" style="margin-bottom:0px;">
                            <label asp-for="CustJobSearch" class="col-sm-6 col-form-label"></label>
                            <input type="text" class="form-control form-control-sm col-sm-6" asp-for="CustJobSearch">
                        </div>
                    </div>
                    <div class="col-2" style="padding-right:0px;margin-right:0px;padding-left:0px;margin-left:0px">
                        <div class="form-group form-inline" style="margin-bottom:0px;">
                            <label asp-for="EngID" class="col-sm-6 col-form-label"></label>
                            <input type="text" class="form-control form-control-sm col-sm-4" asp-for="EngID">
                        </div>
                        <div class="form-group form-inline" style="margin-bottom:0px;">
                            <label asp-for="CrossAppEngID" class="col-sm-6 col-form-label"></label>
                            <input type="text" class="form-control form-control-sm col-sm-4" asp-for="CrossAppEngID">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Header 2-->
        <div class="card-header bg-dark text-center" id="headingJobExt">
            <button class="btn btn-dark" style="background-color:transparent;border-color:transparent" data-toggle="collapse" data-target="#collapseJobExt" aria-expanded="true" aria-controls="collapseJobExt">
                <h6 class="mb-0 text-center"> Job Extension</h6>
            </button>
        </div>
        <!--Body 2-->
        <div id="collapseJobExt" class="collapse show" aria-labelledby="headingJobExt" data-parent="#accordionSearch">
            <div class="card-body">
                <div class="row">
                    <div class="col-2" style="padding-right:0px;margin-right:0px;padding-left:5px;margin-left:5px">
                        <div class="form-group form-inline" style="margin-bottom:0px;">
                            <label asp-for="InputFrecuency" class="col-sm-7 col-form-label"></label>
                            <input type="text" class="form-control form-control-sm col-sm-4" asp-for="InputFrecuency">
                        </div>
                        <div class="form-group form-inline" style="margin-bottom:0px;">
                            <label asp-for="InputPhase" class="col-sm-7 col-form-label"></label>
                            <input type="text" class="form-control form-control-sm col-sm-4" asp-for="InputPhase">
                        </div>
                        <div class="form-group form-inline" style="margin-bottom:0px;">
                            <label asp-for="InputVoltage" class="col-sm-7 col-form-label"></label>
                            <input type="text" class="form-control form-control-sm col-sm-4" asp-for="InputVoltage">
                        </div>
                    </div>
                    <div class="col-3" style="padding-right:0px;margin-right:0px;padding-left:0px;margin-left:0px">
                        <div class="form-group form-inline" style="margin-bottom:0px;">
                            <label asp-for="NumOfStops" class="col-sm-4 col-form-label"></label>
                            <input type="text" class="form-control form-control-sm col-sm-4" asp-for="NumOfStops">
                        </div>
                        <div class="form-group form-inline" style="margin-bottom:0px;">
                            <label asp-for="JobTypeAdd" class="col-sm-4 col-form-label"></label>
                            <job-type-add-in-job-select selected-value="@Model.JobTypeAdd" class="form-control form-control-sm col-sm-6" asp-for="JobTypeAdd"></job-type-add-in-job-select>
                        </div>
                        <div class="form-group form-inline" style="margin-bottom:0px;">
                            <label asp-for="JobTypeMain" class="col-sm-4 col-form-label"></label>
                            <job-type-maini-in-job-select selected-value="@Model.JobTypeMain" class="form-control form-control-sm col-sm-6" asp-for="JobTypeMain"></job-type-maini-in-job-select>
                        </div>
                    </div>
                    <div class="col-3" style="padding-right:0px;margin-right:0px;padding-left:0px;margin-left:0px">
                        <div class="form-group form-inline" style="margin-bottom:0px;">
                            <label asp-for="DoorGate" class="col-sm-4 col-form-label"></label>
                            <door-operator-style-select id="Style" asp-for="@Model.DoorGate" class="form-control form-control-sm col-sm-6">
                            </door-operator-style-select>
                        </div>
                        <div class="form-group form-inline" style="margin-bottom:0px;">
                            <label asp-for="DoorBrand" class="col-sm-4 col-form-label"></label>

                            <door-operator-brand-select id="Brand" asp-for="@Model.DoorBrand" class="form-control form-control-sm col-sm-6">
                            </door-operator-brand-select>
                            <br />
                        </div>
                        <div class="form-group form-inline" style="margin-bottom:0px;">
                            <label asp-for="DoorOperatorID" class="col-sm-4 col-form-label"></label>
                            <door-operator-select id="DoorOperatorID" asp-for="@Model.DoorOperatorID" class="form-control form-control-sm col-sm-6">
                            </door-operator-select>
                            <br />
                        </div>
                    </div>
                    <div class="col-1" style="padding-right:0px;margin-right:0px;padding-left:5px;margin-left:5px">
                        <div class="form-group form-inline" style="margin-bottom:5px;">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" asp-for="AuxCop" class="custom-control-input">
                                <label class="custom-control-label" asp-for="AuxCop"></label>
                            </div>
                        </div>
                        <div class="form-group form-inline" style="margin-bottom:5px;">
                            <div class="custom-control custom-checkbox">

                                <input type="checkbox" asp-for="MechSafEdge" class="custom-control-input">
                                <label class="custom-control-label" asp-for="MechSafEdge"></label>
                            </div>
                        </div>
                        <div class="form-group form-inline" style="margin-bottom:5px;">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" asp-for="Scop" class="custom-control-input">
                                <label class="custom-control-label" asp-for="Scop"></label>

                            </div>
                        </div>
                        <div class="form-group form-inline" style="margin-bottom:5px;">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" asp-for="Shc" class="custom-control-input">
                                <label class="custom-control-label" asp-for="Shc"></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-1" style="padding-right:0px;margin-right:0px;padding-left:5px;margin-left:5px">
                        <div class="form-group form-inline" style="margin-bottom:5px;">
                            <div class="custom-control custom-checkbox">

                                <input type="checkbox" asp-for="CartopDoorButtons" class="custom-control-input">
                                <label class="custom-control-label" asp-for="CartopDoorButtons"></label>
                            </div>
                        </div>
                        <div class=" form-group form-inline" style="margin-bottom:5px;">
                            <div class="custom-control custom-checkbox">

                                <input type="checkbox" asp-for="HeavyDoors" class="custom-control-input">
                                <label class="custom-control-label" asp-for="HeavyDoors"></label>
                            </div>
                        </div>
                        <div class="form-group form-inline" style="margin-bottom:5px;">
                            <div class="custom-control custom-checkbox">

                                <input type="checkbox" asp-for="DoorHold" class="custom-control-input">
                                <label class="custom-control-label" asp-for="DoorHold"></label>
                            </div>
                        </div>
                        <div class="form-inline" style="margin-bottom:5px;">
                            <div class="custom-control custom-checkbox">

                                <input type="checkbox" asp-for="InfDetector" class="custom-control-input">
                                <label class="custom-control-label" asp-for="InfDetector"></label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!--Header 3-->
        <div class="card-header bg-dark text-center" id="headingHydro">
            <button class="btn btn-dark" style="background-color:transparent;border-color:transparent" data-toggle="collapse" data-target="#collapseHydro" aria-expanded="true" aria-controls="collapseHydro">
                <h6 class="mb-0 text-center"> HydroSpecific</h6>
            </button>
        </div>
        <!--Body 3-->
        <div id="collapseHydro" class="collapse show" aria-labelledby="headingHydro" data-parent="#accordionSearch">
            <div class="card-body">
                <div class="row">
                    <div class="col-2" style="padding-right:0px;margin-right:0px;padding-left:5px;margin-left:5px">
                        <div class="form-group form-inline" style="margin-bottom:0px;">
                            <label asp-for="FLA" class="col-sm-7 col-form-label"></label>
                            <input type="text" class="form-control form-control-sm col-sm-4" asp-for="FLA">
                        </div>
                        <div class="form-group form-inline" style="margin-bottom:0px;">
                            <label asp-for="HP" class="col-sm-7 col-form-label"></label>
                            <input type="text" class="form-control form-control-sm col-sm-4" asp-for="HP">
                        </div>
                        <div class="form-group form-inline" style="margin-bottom:0px;">
                            <label asp-for="MotorsNum" class="col-sm-7 col-form-label"></label>
                            <input type="text" class="form-control form-control-sm col-sm-4" asp-for="MotorsNum">
                        </div>
                    </div>
                    <div class="col-3" style="padding-right:0px;margin-right:0px;padding-left:0px;margin-left:0px">
                        <div class="form-group form-inline" style="margin-bottom:0px;">
                            <label asp-for="SPH" class="col-sm-4 col-form-label"></label>
                            <input type="text" class="form-control form-control-sm col-sm-4" asp-for="NumOfStops">
                        </div>
                        <div class="form-group form-inline" style="margin-bottom:0px;">
                            <label asp-for="Starter" class="col-sm-4 col-form-label"></label>
                            <custom-select selected-value="@Model.Starter" class="form-control form-control-sm col-sm-6" asp-for="Starter" select-for="Starter"></custom-select>
                        </div>
                        <div class="form-group form-inline" style="margin-bottom:0px;">
                            <label asp-for="ValveBrand" class="col-sm-4 col-form-label"></label>
                            <valve-brandni-in-job-select selected-value="@Model.ValveBrand" class="form-control form-control-sm col-sm-6" asp-for="ValveBrand"></valve-brandni-in-job-select>
                        </div>
                    </div>
                    <div class="col-1" style="padding-right:0px;margin-right:0px;padding-left:5px;margin-left:5px">
                        <div class="form-group form-inline" style="margin-bottom:5px;">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" asp-for="LOS" class="custom-control-input">
                                <label class="custom-control-label" asp-for="LOS"></label>
                            </div>
                        </div>
                        <div class="form-group form-inline" style="margin-bottom:5px;">
                            <div class="custom-control custom-checkbox">

                                <input type="checkbox" asp-for="LifeJacket" class="custom-control-input">
                                <label class="custom-control-label" asp-for="LifeJacket"></label>
                            </div>
                        </div>
                        <div class="form-group form-inline" style="margin-bottom:5px;">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" asp-for="OilCool" class="custom-control-input">
                                <label class="custom-control-label" asp-for="OilCool"></label>

                            </div>
                        </div>
                        <div class="form-group form-inline" style="margin-bottom:5px;">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" asp-for="OilTank" class="custom-control-input">
                                <label class="custom-control-label" asp-for="OilTank"></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-1" style="padding-right:0px;margin-right:0px;padding-left:5px;margin-left:5px">
                        <div class="form-group form-inline" style="margin-bottom:5px;">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" asp-for="PSS" class="custom-control-input">
                                <label class="custom-control-label" asp-for="PSS"></label>
                            </div>
                        </div>
                        <div class=" form-group form-inline" style="margin-bottom:5px;">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" asp-for="Resync" class="custom-control-input">
                                <label class="custom-control-label" asp-for="Resync"></label>
                            </div>
                        </div>
                        <div class="form-group form-inline" style="margin-bottom:5px;">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" asp-for="VCI" class="custom-control-input">
                                <label class="custom-control-label" asp-for="VCI"></label>
                            </div>
                        </div>
                        <div class="form-inline" style="margin-bottom:5px;">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" asp-for="Battery" class="custom-control-input">
                                <label class="custom-control-label" asp-for="Battery"></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-3" id="BatteryBrand" style="padding-right:0px;margin-right:0px;padding-left:5px;margin-left:5px">
                        <div class="form-group form-inline" style="margin-bottom:0px;">
                            <label asp-for="BatteryBrand" class="col-sm-4 col-form-label"></label>
                            <custom-select id="OtherBatteryBrandSelected" selected-value="@Model.BatteryBrand" class="form-control form-control-sm col-sm-6" asp-for="BatteryBrand" select-for="Battery Brand"></custom-select>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
<form asp-controller="Job" asp-action="JobSearchList" method="get">
    <div class="collapse" id="collapse4">
        <div class="card card-body">
            <div class="row">
                <div class="col-sm">
                    <br />
                    <select asp-for="CarKey" class="form-control form-control-sm col-sm-6">
                        <option value="">Select a CarKey</option>
                        <option value="Si">------------ Si -----------</option>
                        <option value="No">------------ No ----------</option>
                    </select>
                    <br />
                    <select asp-for="HCRO" class="form-control form-control-sm col-sm-6">
                        <option value="">Select a HCRO</option>
                        <option value="Si">------------ Si -----------</option>
                        <option value="No">------------ No ----------</option>
                    </select>
                    <br />
                    <select asp-for="HallCallRead" class="form-control form-control-sm col-sm-6">
                        <option value="">Select a HallCallRead</option>
                        <option value="Si">------------ Si -----------</option>
                        <option value="No">------------ No ----------</option>
                    </select>
                    <br />
                    <select asp-for="HallKey" class="form-control form-control-sm col-sm-6">
                        <option value="">Select a HallKey</option>
                        <option value="Si">------------ Si -----------</option>
                        <option value="No">------------ No ----------</option>
                    </select>
                    <br />
                    <select asp-for="BottomAccess" class="form-control form-control-sm col-sm-8">
                        <option value="">Select a BottomAccess</option>
                        <option value="Si">------------------ Si ----------------</option>
                        <option value="No">------------------ No ---------------</option>
                    </select>
                    <br />
                    <select asp-for="CTINSPST" class="form-control form-control-sm col-sm-6">
                        <option value="">Select a CTINSPST</option>
                        <option value="Si">------------ Si -----------</option>
                        <option value="No">------------ No ----------</option>
                    </select>
                    <br />
                    <select asp-for="EPSelect" class="form-control form-control-sm col-sm-6">
                        <option value="">Select a EPSelect</option>
                        <option value="Si">------------ Si -----------</option>
                        <option value="No">------------ No ----------</option>
                    </select>
                    <br />
                    <select asp-for="Attendant" class="form-control form-control-sm col-sm-8">
                        <option value="">Select a Attendant</option>
                        <option value="Si">------------------ Si ----------------</option>
                        <option value="No">------------------ No ---------------</option>
                    </select>
                    <br />
                    <select asp-for="PTI" class="form-control form-control-sm col-sm-8">
                        <option value="">Select a PTI</option>
                        <option value="Si">------------------ Si ----------------</option>
                        <option value="No">------------------ No ---------------</option>
                    </select>
                </div>
                <div class="col-sm">
                    <br />
                    <select asp-for="CallEnable" class="form-control form-control-sm col-sm-8">
                        <option value="">Select a CallEnable</option>
                        <option value="Si">------------------ Si ----------------</option>
                        <option value="No">------------------ No ---------------</option>
                    </select>
                    <br />
                    <select asp-for="CarToLobby" class="form-control form-control-sm col-sm-6">
                        <option value="">Select a CarToLobby</option>
                        <option value="Si">------------ Si -----------</option>
                        <option value="No">------------ No ----------</option>
                    </select>
                    <br />
                    <select asp-for="EMT" class="form-control form-control-sm col-sm-6">
                        <option value="">Select a EMT</option>
                        <option value="Si">------------ Si -----------</option>
                        <option value="No">------------ No ----------</option>
                    </select>
                    <br />
                    <select asp-for="EP" class="form-control form-control-sm col-sm-6">
                        <option value="">Select a EP</option>
                        <option value="Si">------------ Si -----------</option>
                        <option value="No">------------ No ----------</option>
                    </select>
                    <br />
                    <select asp-for="EQ" class="form-control form-control-sm col-sm-8">
                        <option value="">Select a EQ</option>
                        <option value="Si">------------------ Si ----------------</option>
                        <option value="No">------------------ No ---------------</option>
                    </select>
                    <br />
                    <select asp-for="FLO" class="form-control form-control-sm col-sm-6">
                        <option value="">Select a FLO</option>
                        <option value="Si">------------ Si -----------</option>
                        <option value="No">------------ No ----------</option>
                    </select>
                    <br />
                    <select asp-for="FRON2" class="form-control form-control-sm col-sm-6">
                        <option value="">Select a FRON2</option>
                        <option value="Si">------------ Si -----------</option>
                        <option value="No">------------ No ----------</option>
                    </select>
                    <br />
                    <select asp-for="Hosp" class="form-control form-control-sm col-sm-6">
                        <option value="">Select a Hosp</option>
                        <option value="Si">------------ Si -----------</option>
                        <option value="No">------------ No ----------</option>
                    </select>
                    <label asp-for="Monitoring" class="col-form-label"></label>
                    <br />
                    <indicators select-for="Monitoring" selected-value="@Model.Monitoring" class="form-control form-control-sm col-sm-5" asp-for="Monitoring"></indicators>
                </div>
                <div class="col-sm">
                    <br />
                    <select asp-for="EPVoltage" class="form-control form-control-sm col-sm-8">
                        <option value="">Select a EPVoltage</option>
                        <option value="Si">------------------ Si ----------------</option>
                        <option value="No">------------------ No ---------------</option>
                    </select>
                    <br />
                    <select asp-for="INA" class="form-control form-control-sm col-sm-6">
                        <option value="">Select a INA</option>
                        <option value="Si">------------ Si -----------</option>
                        <option value="No">------------ No ----------</option>
                    </select>
                    <br />
                    <select asp-for="INCP" class="form-control form-control-sm col-sm-6">
                        <option value="">Select a INCP</option>
                        <option value="Si">------------ Si -----------</option>
                        <option value="No">------------ No ----------</option>
                    </select>
                    <br />
                    <select asp-for="Ind" class="form-control form-control-sm col-sm-6">
                        <option value="">Select a Ind</option>
                        <option value="Si">------------ Si -----------</option>
                        <option value="No">------------ No ----------</option>
                    </select>
                    <br />
                    <select asp-for="LoadWeigher" class="form-control form-control-sm col-sm-8">
                        <option value="">Select a LoadWeigher</option>
                        <option value="Si">------------------ Si ----------------</option>
                        <option value="No">------------------ No ---------------</option>
                    </select>
                    <br />
                    <select asp-for="TopAccess" class="form-control form-control-sm col-sm-6">
                        <option value="">Select a TopAccess</option>
                        <option value="Si">------------ Si -----------</option>
                        <option value="No">------------ No ----------</option>
                    </select>
                    <br />
                    <select asp-for="CRO" class="form-control form-control-sm col-sm-6">
                        <option value="">Select a CRO</option>
                        <option value="Si">------------ Si -----------</option>
                        <option value="No">------------ No ----------</option>
                    </select>
                    <br />
                    <select asp-for="CarCallRead" class="form-control form-control-sm col-sm-6">
                        <option value="">Select a CarCallRead</option>
                        <option value="Si">------------ Si -----------</option>
                        <option value="No">------------ No ----------</option>
                    </select>
                    <label asp-for="TopAccessLocation" class="col-form-label"></label>
                    <br />
                    <indicators select-for="AccessSWLocation" selected-value="@Model.TopAccessLocation" class="form-control-sm form-control col-sm-3" asp-for="TopAccessLocation"></indicators>
                </div>
                <div class="col-sm">
                    Roped Hydro Governor Model: <input type="text" class="form-control form-control-sm col-sm-10" asp-for="GovModel">
                    <label asp-for="SwitchStyle" class="col-form-label"></label>
                    <br />
                    <custom-select select-for="SwitchStyle" selected-value="@Model.SwitchStyle" class="form-control-sm form-control col-sm-4" asp-for="SwitchStyle"></custom-select>
                    <br />
                    <label asp-for="BottomAccessLocation" class="col-form-label"></label>
                    <br />
                    <indicators select-for="AccessSWLocation" selected-value="@Model.BottomAccessLocation" class="form-control-sm form-control col-sm-3" asp-for="BottomAccessLocation"></indicators>
                    <br />
                    <label asp-for="EPContact" class="col-form-label"></label>
                    <br />
                    <indicators select-for="EPContact" selected-value="@Model.EPContact" class="form-control-sm form-control col-sm-3" asp-for="EPContact"></indicators>
                    <br />
                    <label asp-for="EPCarsNumber" class="col-form-label"></label>
                    <br />
                    <indicators select-for="EPCars" selected-value="@Model.EPCarsNumber" class="form-control-sm form-control col-sm-3" asp-for="EPCarsNumber"></indicators>
                    <br />
                    <label asp-for="INCPButtons" class="col-form-label"></label>
                    <br />
                    <indicators select-for="INCPButtons" selected-value="@Model.INCPButtons" class="form-control-sm form-control col-sm-7" asp-for="INCPButtons"></indicators>
                </div>
            </div>
        </div>
    </div>
    <div class="collapse" id="collapse5">
        <div class="card card-body">

            <div class="row">
                <div class="col-sm">
                    <label asp-for="CarCallsVoltage" class="col-form-label"></label>
                    <br />
                    <indicators select-for="Volts_Value" selected-value="@Model.CarCallsVoltage" asp-for="CarCallsVoltage" class="form-control form-control-sm col-sm-7"></indicators>
                    <label asp-for="CarCallsVoltageType" class="col-form-label"></label>
                    <br />
                    <indicators select-for="Volts_Type" selected-value="@Model.CarCallsVoltageType" asp-for="CarCallsVoltageType" class="form-control form-control-sm col-sm-7"></indicators>
                    <br />
                    <select asp-for="CarLanterns" class="form-control form-control-sm col-sm-6">
                        <option value="">Select a CarLanterns</option>
                        <option value="Si">------------ Si -----------</option>
                        <option value="No">------------ No ----------</option>
                    </select>
                </div>
                <div class="col-sm">
                    <label asp-for="HallCallsVoltage" class="col-form-label"></label>
                    <br />
                    <indicators select-for="Volts_Value" selected-value="@Model.HallCallsVoltage" asp-for="HallCallsVoltage" class="form-control-sm form-control col-sm-7"></indicators>
                    <label asp-for="HallCallsVoltageType" class="col-form-label"></label>
                    <br />
                    <indicators select-for="Volts_Type" selected-value="@Model.HallCallsVoltageType" asp-for="HallCallsVoltageType" class="form-control-sm form-control col-sm-7"></indicators>
                    <label asp-for="HallCallsType" class="col-form-label"></label>
                    <br />
                    <indicators select-for="CallType" selected-value="@Model.HallCallsType" asp-for="HallCallsType" class="form-control-sm form-control col-sm-7"></indicators>
                </div>
                <div class="col-sm">
                    <br />
                    <select asp-for="HallLanterns" class="form-control form-control-sm col-sm-6">
                        <option value="">Select a HallLanterns</option>
                        <option value="Si">------------ Si -----------</option>
                        <option value="No">------------ No ----------</option>
                    </select>
                    <br />
                    <select asp-for="HallPI" class="form-control form-control-sm col-sm-6">
                        <option value="">Select a HallPI</option>
                        <option value="Si">------------ Si -----------</option>
                        <option value="No">------------ No ----------</option>
                    </select>
                    <br />
                    <select asp-for="PassingFloor" class="form-control form-control-sm col-sm-6">
                        <option value="">Select a PassingFloor</option>
                        <option value="Si">------------ Si -----------</option>
                        <option value="No">------------ No ----------</option>
                    </select>
                </div>
                <div class="col-sm">
                    <label asp-for="IndicatorsVoltage" class="col-form-label"></label>
                    <br />
                    <volts select-for="Volts_Value" selected-value="@Model.IndicatorsVoltage" asp-for="IndicatorsVoltage" class="form-control-sm form-control col-sm-7"></volts>
                    <label asp-for="IndicatorsVoltageType" class="col-form-label"></label>
                    <br />
                    <indicators select-for="Volts_Type" selected-value="@Model.IndicatorsVoltageType" asp-for="IndicatorsVoltageType" class="form-control-sm form-control col-sm-7"></indicators>
                    <br />
                    <select asp-for="VoiceAnnunciationPI" class="form-control form-control-sm col-sm-7">
                        <option value="">Select a VoiceAnnunciationPI</option>
                        <option value="Si">------------ Si -----------</option>
                        <option value="No">------------ No ----------</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="collapse" id="collapse6">
        <div class="card card-body">

            <div class="row">
                <div class="col-sm">
                    Number of Hoistways: <input type="text" class="form-control form-control-sm col-sm-10" asp-for="HoistWaysNumber">
                    Number of Machine Rooms: <input type="text" class="form-control form-control-sm col-sm-10" asp-for="MachineRooms">
                    Capacity: <input type="text" class="form-control form-control-sm col-sm-10" asp-for="Capacity">
                </div>
                <div class="col-sm">
                    Up Direction Speed: <input type="text" class="form-control form-control-sm col-sm-10" asp-for="UpSpeed">
                    Down Direction Speeds: <input type="text" class="form-control form-control-sm col-sm-10" asp-for="DownSpeed">
                    <br />
                    <landing-sys-in-job-select selected-value="@Model.LandingSystemID" class="form-control form-control-sm col-sm-10" asp-for="LandingSystemID"></landing-sys-in-job-select>
                </div>
                <div class="col-sm">
                    Top Floor: <input type="text" class="form-control form-control-sm col-sm-10" asp-for="TopFloor">
                    Number of Front Floor Openings: <input type="text" class="form-control form-control-sm col-sm-10" asp-for="FrontFloorOpenings">
                    <br />
                    <select asp-for="AnyRear" class="form-control form-control-sm col-sm-7">
                        <option value="">Select a Job with Rear Floor</option>
                        <option value="Si">------------ Si -----------</option>
                        <option value="No">------------ No ----------</option>
                    </select>
                    <br />
                </div>
                <div class="col-sm">
                    <br />
                    <select asp-for="IndependentRearOpenings" class="form-control form-control-sm col-sm-11">
                        <option value="">Select a Job with Independent Rear Openings</option>
                        <option value="Si">--------------------------- Si --------------------------</option>
                        <option value="No">--------------------------- No -------------------------</option>
                    </select>
                    <br />
                    Number of Rear Floor Openings: <input type="text" class="form-control form-control-sm col-sm-10" asp-for="RearFloorOpenings">
                </div>
            </div>
        </div>
    </div>
    <div class="collapse" id="collapse7">
        <div class="card card-body">

            <div class="row">
                <div class="col-sm">
                    Description: <input type="text" class="form-control form-control-sm col-sm-10" asp-for="Description">
                </div>
            </div>
        </div>
    </div>
    <br />
    <div>
        <button class="btn btn-dark" type="submit" value="Search"><i class="fa fa-search" aria-hidden="true"></i></button>
        <button class="btn btn-success" name="CleanFields" type="submit" value="true">Clean</button>
    </div>
</form>
<br />
<br />
<div class="row" style="padding-right:20px">
    <h4 class="col-sm-10 text-info">List Of Jobs Found</h4>
</div>
@foreach (var j in Model.JobsSearchList)
{
    @Html.Partial("SearchJobSummary", j)
}
<div page-model="@Model.PagingInfo" page-action="JobSearchList" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-secondary"
     page-class-selected="btn-primary" page-url-jobType="@Model.JobTypeID"
     class="btn-group pull-right m-1">
</div>

<script type="text/javascript">
    $("#Battery").ready(function () {
        $("#BatteryBrand").hide();
    });

    $("#Battery").click(function () {
        $("#BatteryBrand")[this.checked ? "show" : "hide"]();
    });
</script>