@model ProdFloor.Models.ViewModels.Job.JobElementTractionViewModel
@{
    ViewBag.Title = "Edit Job";
    Layout = "_AdminLayoutWO";
}
<ul class="nav nav-tabs col-sm-10" role="tablist">
    <li class="nav-item">
        <a class="nav-link @(Model.CurrentTab == "Main" || Model.CurrentTab == "" || Model.CurrentTab == null ? "active" : " ")" data-toggle="tab" href="#home" role="tab">Job</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(Model.CurrentTab == "Element" ? "active" : " ")  @(Model.Element.JobID == 0 ? "disabled" : " ")" data-toggle="tab" href="#element" role="tab">Element Info</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(Model.CurrentTab == "ElementTraction" ? "active" : " ")  @(Model.ElementTraction.JobID == 0 ? "disabled" : " ")" data-toggle="tab" href="#elementTraction" role="tab">Element Traction</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(Model.CurrentTab == "SpecialFeatures" ? "active" : " ")  @(Model.SpecialFeatureslist[0].JobID == 0 ? "disabled" : " ")" data-toggle="tab" href="#specialfeatures" role="tab">Special Features</a>
    </li>
</ul>
<!-- Tab panes -->
<form asp-action="NextFormTraction" method="post">
    <div class="tab-content" style="padding:20px">
        <div class="tab-pane @(Model.CurrentTab == "Main" || Model.CurrentTab == "" || Model.CurrentTab == null ? "active" : " ")" id="home" role="tabpanel">
            @Html.Partial("JobFormTraction", Model)
        </div>
        <div class="tab-pane @(Model.CurrentTab == "Element" ? "active" : " ")" id="element" role="tabpanel">
            @if (Model.Element.JobID != 0)
            {
                @Html.Partial("ElementInfoTractionForm", Model)
            }
        </div>
        <div class="tab-pane @(Model.CurrentTab == "ElementTraction" ? "active" : " ")" id="elementTraction" role="tabpanel">
            @if (Model.ElementTraction.JobID != 0)
            {
                @Html.Partial("ElementTraction", Model)
            }
        </div>
        <div class="tab-pane @(Model.CurrentTab == "SpecialFeatures" ? "active" : " ")" id="specialfeatures" role="tabpanel">
            @if (Model.SpecialFeatureslist[0].JobID != 0)
            {
                @Html.Partial("SpecialFeaturesTractionForm", Model)
            }
        </div>
        <div class="text-center">
            <button class="btn btn-primary" value="Nel" type="submit">Save</button>
            <a href="/" class="btn btn-secondary">Cancel</a>
        </div>
    </div>
</form>