@model ProdFloor.Models.ViewModels.Job.JobElementHydroViewModel
<input type="hidden" asp-for="CurrentJob.JobID" />
<input type="hidden" asp-for="CurrentJob.Status" />
<input type="hidden" asp-for="CurrentJob.EngID" />
<div class="container-fluid">
    <div class="row">
        <div class="col justify-content-md-center">
            <div class="btn-group">
                <button asp-action="NextFormHydro" type="submit" value="AddSF" name="buttonAction" class="btn btn-success btn-sm ">
                    <i class="fa fa-plus"></i>&nbsp; Special Feature
                </button>
                <button id="btnAllSteps" class="btn btn-dark" type="button" title="Special Feature List" data-toggle="collapse" data-target="#collapseCustom" aria-expanded="false" aria-controls="collapseCustom" style="float:left">
                    <i class="fas fa-question-circle"></i>
                </button>
            </div>
            <div class="table-responsive">
                <table class="table form-control">
                    <thead>
                        <tr>
                            <th style="text-align:center;width:100%">Description</th>
                        </tr>
                    </thead>

                    <tbody style="text-align:">
                        @for (int i = 0; i < Model.SpecialFeatureslist.Count; i++)
                        {
                            <tr>
                                <td>
                                    <input type="hidden" asp-for="SpecialFeatureslist[i].SpecialFeaturesID" value="@Model.SpecialFeatureslist[i].SpecialFeaturesID" />
                                    <input type="hidden" asp-for="SpecialFeatureslist[i].JobID" />
                                    @Html.TextBoxFor(m => m.SpecialFeatureslist[i].Description, new { Class = "form-control col-sm-2;", Style = "text-align:center;" })
                                </td>
                                <td style="text-align:center;">
                                    @if (Model.CurrentJob.Status != "Incomplete")
                                    {
                                        <form asp-action="DeleteSFHydro" method="post">
                                            <input type="hidden" asp-for="CurrentJob.JobID" />
                                            <input type="hidden" name="fieldID" value="@Model.SpecialFeatureslist[i].SpecialFeaturesID" />
                                            <input type="hidden" name="returnUrl" value="\Job\Edit\@Model.SpecialFeatureslist[i].JobID" />
                                            <button type="submit" disabled="@(Model.CurrentUserID == Model.CurrentJob.EngID || User.IsInRole("Admin") ? false : true)" class="btn btn-danger btn-sm">
                                                <i class="fa fa-minus-circle"></i>
                                            </button>
                                        </form>
                                    }

                                </td>

                            </tr>

                        }
                    </tbody>

                </table>

            </div>
        </div>
        <div class="col-4">
            <div class="collapse" id="collapseCustom">
                <div style="overflow-y:scroll;height:70vh;">
                    <div class="card card-body">
                        <table class="table table-sm text-center align-content-center table-hover">
                            <thead class="thead-light">
                                <tr>
                                    <th colspan="2">
                                        Special Features for HMC-2000
                                    </th>
                                </tr>
                                <tr>
                                    <th>
                                        Prod Floor "Special Feature"
                                    </th>
                                    <th>
                                        Description
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (SpecialFeaturesEX specialFeature in Model.SpecialFeaturesTable)
                                {
                                    <tr>
                                        <td>
                                            @specialFeature.Name
                                        </td>
                                        <td>
                                            @specialFeature.Description
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>


    </div>
</div>
