@model ProdFloor.Models.ViewModels.Wiring.WiringPXPViewModel
@{
    ViewBag.Title = "New Wiring PXP Error";
}
<div class="row">
    <form asp-action="NewPXPError" method="get">
        <input type="hidden" asp-for="pXPError.PXPErrorID" />
        <input type="hidden" asp-for="wiringPXP.WiringPXPID" />
        <input type="hidden" asp-for="wiringPXP.SinglePO" />
        <input type="hidden" asp-for="Job.JobID" />
        <input type="hidden" asp-for="wiringPXP.StationID" />

        <div class="col-4">
            <div class="form-group row" style="margin-bottom:0em;">
                <label class="col-4 col-form-label">Job Number:</label>
                <div class="col-5">
                    <input type="text" value="@Model.Job.JobNum" class="form-control form-control-sm col-12" disabled asp-for="Job.JobNum">
                </div>
            </div>
            <div class="form-group row" style="margin-bottom:0em;">
                <label class="col-4 col-form-label">PO: &nbsp;</label>
                <div class="col-5">
                    <input type="text" value="@Model.PO.PONumb" class="form-control form-control-sm col-sm-12" disabled asp-for="PO.PONumb">
                </div>
            </div>
            <div class="form-group row" style="margin-bottom:0em;">
                <label class="col-4 col-form-label">JobType:</label>
                <div class="col-5">
                    <input type="text" value="@Model.JobTypeName" class="form-control form-control-sm col-12" disabled asp-for="JobTypeName">
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="wiringPXP.StationID" class="col-sm-2 col-form-label"></label>
                <div>
                    <station-select job-type="WiringPXP" selected-value="@Model.wiringPXP.StationID"  class="form-control form-control-sm" asp-for="wiringPXP.StationID"></station-select>
                    <span asp-validation-for="wiringPXP.StationID" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-8">
            @Html.Partial("PXPErrorList", Model)
        </div>
    </form>
    <div class="btn-group">
        <form asp-action="EndWiringPXP" method="post">
            <button type="submit" class="btn btn-lg btn-danger">Terminar</button>
            <a class="btn btn-lg btn-secondary" asp-action="PXPDashboard">Regresar</a>
        </form>
    </div>
</div>


