@model DashboardIndexViewModel
@{
    <script>$(document).ready(function () { $('[data-tooltip="tooltip"]').tooltip(); }); </script>
}
<br />
<table class="table table-striped  text-center table-sm" style="text-align:center">
    <thead style="background-color:#343a40!important;color:#fff;">
        <tr>
            <th class="text-center" colspan="7">
                <h5>On Going Test Jobs</h5>
            </th>
            <th colspan="1">
                <div class="row float-right" style="padding-right:20px">
                    <div class="text-center">
                        <div class="btn-group text-center">
                                <a style="background-color:seagreen;color:white" class="btn btn-sm" asp-action="NewTestJob" asp-controller="TestJob">
                                    New Test Job
                                </a>
                        </div>
                    </div>
                </div>
            </th>
        </tr>
        <tr>
            <th scope="col">Job#</th>
            <th scope="col">PO#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Job Type</th>
            <th scope="col">Ship Date</th>
            <th scope="col">Estacion</th>
            <th scope="col">Estado</th>
            <th scope="col">Opciones</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.PendingTestJobs.Count() == 0)
        {
            <tr>
                <td>No Test Jobs!</td>
            </tr>
        }
        else
        {
            @foreach (var t in Model.PendingTestJobs)
            {

                var j = Model.PendingJobs.FirstOrDefault(m => m.JobID == t.JobID);
                string JobtypeName = Model.JobTypesList.First(s => s.JobTypeID == j.JobTypeID).Name;

    <tr>
        <th scope="row">
            @if (t.Status == "Incomplete")
            {
                <a asp-action="ContinueForm"
                   asp-controller="TestJob" asp-route-Id="@t.TestJobID">
                    @j.JobNum
                </a>
            }
            else if (t.Status == "Working on it")
            {
                <a asp-action="EditTestJob"
                   asp-controller="TestJob" asp-route-Id="@t.TestJobID">
                    @j.JobNum
                </a>
            }
            else
            {
                @j.JobNum
            }
        </th>
        <td>@t.SinglePO</td>
        <td>@j.Name</td>
        <td>@JobtypeName</td>
        <td>@j.ShipDate</td>
        @if (t.Status != "Incomplete")
        {
            <td>@Model.StationList.FirstOrDefault(m => m.StationID == t.StationID).Label</td>
        }
        else
        {
            <td>-</td>
        }

        <td>@t.Status</td>
        <td>
            @if (t.Status == "Stopped")
            {
                <a asp-action="WaitingForRestar" asp-controller="Stop"
                   asp-route-id="@t.TestJobID" class="btn btn-warning btn-sm">
                    Reiniciar Job
                </a>
            }
            else if (t.Status == "Reassignment")
            {
                <a asp-action="RestartReassignment" asp-controller="Stop"
                   asp-route-id="@t.TestJobID" class="btn btn-warning btn-sm">
                    Tomar el Job
                </a>
            }
            else if (t.Status == "Working on it")
            {
                <a asp-action="ContinueStep" asp-controller="TestJob"
                   asp-route-id="@t.TestJobID" class="btn btn-info btn-sm">
                    Continuar
                </a>
            }
            else if (t.Status == "Shift End")
            {
                <a asp-action="RestarShiftEndOnDash" asp-controller="TestJob"
                   asp-route-id="@t.TestJobID" class="btn btn-warning btn-sm">
                    Continuar
                </a>
            }
            else
            {
                <a asp-action="ContinueForm" asp-controller="TestJob"
                   asp-route-Id="@t.TestJobID" class="btn btn-info btn-sm">
                    Continuar
                </a>
            }

        </td>
    </tr>
            }
        }
    </tbody>
</table>
@if (Model.PendingTestJobs.Count() > 0)
{
    <cool-pagination-dash-board current-model="MyJobs" my-jobs-page-model="@Model.MyJobsPagingInfo" page-action="Index" page-classes-enabled="true"
                                page-class="btn" page-class-normal="btn-secondary" on-cross-page-model="@Model.OnCrossJobsPagingInfo" pending-to-cross-page-model="@Model.PendingToCrossJobsPagingInfo"
                                page-class-selected="btn-dark" my-jobs-url-value="MyJobsPage" on-cross-url-value="OnCrossJobPage"
                                pending-to-cross-url-value="PendingToCrossJobPage" sort="Sort"
                                class="btn-group pull-right m-1">
    </cool-pagination-dash-board>
}