@model DashboardIndexViewModel
@{
    ViewBag.Title = "ProdFloor";
    ViewBag.Brand = "ProdFloor";
    Layout = "_AdminLayoutWO";
}
    <script src="~/lib/Chart.js/dist/Chart.js"></script>

    <div>
        <div class="card" style="margin-bottom:50px">
            <div class="card-header bg-dark text-center">
                <div class="btn-group">
                    <!--Header Info-->
                    <button type="button" id="headingJobInfo" class="btn btn-dark" style="border-color:transparent" data-toggle="collapse" data-target="#collapseJobInfo" aria-expanded="true" aria-controls="collapseJobInfo">
                        <h6 class="mb-0 text-left">General Information</h6>
                    </button>
                </div>
            </div>
            <div class="row " style="padding-bottom:15px;">
                <div class="col-6 border-right">
                    <div class="col">
                        <h4 class="text-center">Jobs</h4>
                        <canvas id="JobTypePieChart"></canvas>
                        @{ChartJSCore.Models.Chart JobTypePieChart = (ChartJSCore.Models.Chart)ViewData["JobTypePieChart"]; }
                        <script>@Html.Raw(JobTypePieChart.CreateChartCode("JobTypePieChart"));</script>

                    </div>
                </div>
                <div class="col-6">
                    <div class="row border-bottom" style="padding-bottom:40px;">
                        <div class="col-6">
                            <h4 class="text-center">M2000</h4>
                            <canvas id="JobTypePieChartM2000"></canvas>
                            @{ChartJSCore.Models.Chart JobTypePieChartM2000 = (ChartJSCore.Models.Chart)ViewData["JobTypePieChartM2000"]; }
                            <script>@Html.Raw(JobTypePieChartM2000.CreateChartCode("JobTypePieChartM2000"));</script>
                        </div>

                        <div class="col-6">
                            <h4 class="text-center">Priority</h4>
                            <canvas id="PieChartPriority"></canvas>
                            @{ChartJSCore.Models.Chart PieChartPriority = (ChartJSCore.Models.Chart)ViewData["PieChartPriority"]; }
                            <script>@Html.Raw(PieChartPriority.CreateChartCode("PieChartPriority"));</script>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-6 border-right">
                            <h4 class="text-center">Element Hydro</h4>
                            <canvas id="JobTypePieChartHydro"></canvas>
                            @{ChartJSCore.Models.Chart JobTypePieChartHydro = (ChartJSCore.Models.Chart)ViewData["JobTypePieChartHydro"]; }
                            <script>@Html.Raw(JobTypePieChartHydro.CreateChartCode("JobTypePieChartHydro"));</script>
                        </div>


                        <div class="col-6">
                            <h4 class="text-center">Element Traction</h4>
                            <canvas id="JobTypePieChartTraction"></canvas>
                            @{ChartJSCore.Models.Chart JobTypePieChartTraction = (ChartJSCore.Models.Chart)ViewData["JobTypePieChartTraction"]; }
                            <script>@Html.Raw(JobTypePieChartTraction.CreateChartCode("JobTypePieChartTraction"));</script>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        @foreach (AppUser user in Model.users)
        {
            string username = user.FullName.Replace(" ", "");
            <div class="card" style="margin-bottom:50px">
                <div class="card-header bg-dark text-center">
                    <div class="btn-group">
                        <!--Header Info-->
                        <button type="button" id="headingJobInfo" class="btn btn-dark" style="border-color:transparent" data-toggle="collapse" data-target="#collapseJobInfo" aria-expanded="true" aria-controls="collapseJobInfo">
                            <h6 class="mb-0 text-left">@user.FullName Stats</h6>
                        </button>
                    </div>
                </div>
                <div class="row " style="padding-bottom:15px;">
                    <div class="col-4 border-right">
                        <div class="col">
                            @{
                                <h4 class="text-center">M2000</h4>
                                <canvas id="@("M2000byEnginnerPieChart"+username)" style="max-width:800px;max-height:400px"></canvas>
                                ChartJSCore.Models.Chart JobTypePieCharM2000byEnginner = (ChartJSCore.Models.Chart)ViewData["M2000byEnginnerPieChart" + username];
                                <script>@Html.Raw(JobTypePieCharM2000byEnginner.CreateChartCode("M2000byEnginnerPieChart"+username));</script>
                            }
                        </div>
                    </div>
                    <div class="col-4 border-right">
                        <div class="col">
                            @{
                                <h4 class="text-center">Morning </h4>
                                <canvas id="@("PieChartMorning"+username)" style="max-width:800px;max-height:400px"></canvas>
                                ChartJSCore.Models.Chart JobTypePieChartMorning = (ChartJSCore.Models.Chart)ViewData["PieChartMorning" + username];
                                <script>@Html.Raw(JobTypePieChartMorning.CreateChartCode("PieChartMorning" + username));</script>
                            }
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="col">
                            @{
                                <h4 class="text-center">Priority </h4>
                                <canvas id="@("PieChartPriority"+username)" style="max-width:800px;max-height:400px"></canvas>
                                ChartJSCore.Models.Chart JobTypePieChartPriority = (ChartJSCore.Models.Chart)ViewData["PieChartPriority" + username];
                                <script>@Html.Raw(JobTypePieChartPriority.CreateChartCode("PieChartPriority" + username));</script>
                            }
                        </div>
                    </div>
                </div>

            </div>

        }
    </div>
@***/
    $(document).ready(function () {
                    var ctx = document.getElementById("JobTypePieChart").getContext("2d");
                    var myPieChart = new Chart(ctx,{
                        type: 'pie',
                        data: JobTypePieChart.data,
                        options: JobTypePieChart.options
                     });

        $("#JobTypePieChart").click(
            function (evt) {
                var activePoints = myPieChart.getElementsAtEvent(evt);

                var chartData = activePoints[0]['_chart'].config.data;
                var idx = activePoints[0]['_index'];

                var label = chartData.labels[idx];
                var value = chartData.datasets[0].data[idx];
                if (label == "M2000") $("#JobTypePieChartDetailsM2000").modal();
                if (label == "Element Hydro") $("#JobTypePieChartDetailsHydro").modal();
                if (label == "Element Traction") $("#JobTypePieChartDetailsTraction").modal();
               }
            );
});

    <!-- Modal JobTypePieChartDetails M2000 -->
    <div class="modal fade" id="JobTypePieChartDetailsM2000" tabindex="-1" role="dialog" aria-labelledby="JobTypePieChartDetailsCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="JobTypePieChartDetailsCenterTitle">M2000</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Do you wanna see full details?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
                    <button type="submit" value="CrossApproved" name="buttonAction" class="btn btn-primary btn-sm">
                        Go!
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal JobTypePieChartDetails Element Hydro -->
    <div class="modal fade" id="JobTypePieChartDetailsHydro" tabindex="-1" role="dialog" aria-labelledby="JobTypePieChartDetailsCenterTitleHydro" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="JobTypePieChartDetailsCenterTitleHydro">Element Hydro</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Do you wanna see full details?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
                    <button type="submit" value="CrossApproved" name="buttonAction" class="btn btn-primary btn-sm">
                        Go!
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal JobTypePieChartDetails Element Traction -->
    <div class="modal fade" id="JobTypePieChartDetailsTraction" tabindex="-1" role="dialog" aria-labelledby="JobTypePieChartDetailsCenterTitleTraction" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="JobTypePieChartDetailsCenterTitleTraction">Element Traction</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Do you wanna see full details?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
                    <button type="submit" value="CrossApproved" name="buttonAction" class="btn btn-primary btn-sm">
                        Go!
                    </button>
                </div>
            </div>
        </div>
    </div>

\**@