@model DashboardIndexViewModel
@{
    ViewBag.Title = "ProdFloor";
    Layout = "_AdminLayoutWO";
}
<h2 class="col-sm-10">
    Jobs Dashboard
</h2>
<div class="row float-right" style="padding-right:20px">

    <div class="text-center">
        <div class="btn-group text-center">
            <form asp-action="NewJob" asp-controller="Job" method="get">
                <button type="button" class="btn btn-success dropdown-toggle" style="padding-top:10px;min-width:100px" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-plus"></i>Add New Job
                </button>
                <div class="dropdown-menu">
                    <button type="submit" name="JobType" value="M2000" class="dropdown-item" style="margin-right:40px">M2000</button>
                    <button type="submit" name="JobType" value="ElmHydro" class="dropdown-item" style="margin-right:40px">Element Hydro</button>
                    <button type="submit" name="JobType" value="ElmTract" class="dropdown-item">Element Traction</button>
                </div>
            </form>
        </div>
    </div>
</div>
<br />
<h4>On Going Jobs</h4>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Job#</th>
            <th scope="col">Name</th>
            <th scope="col">Options</th>
            <th scope="col">Latest Finish</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.PendingJobs.Count() == 0)
        {
            <tr>
                <td>No Jobs!</td>
            </tr>
        }
        else
        {
            @foreach (var j in Model.PendingJobs)
            {
                <tr>
                    <th scope="row">
                        @if (j.Status != "Incomplete")
                        {
                            <a asp-controller="Job" asp-action="Edit" asp-route-Id="@j.JobID">@j.JobNum</a>
                        }
                        else
                        {
                            <a asp-controller="Job" asp-action="Continue" asp-route-Id="@j.JobID">@j.JobNum</a>
                        }
                    </th>
                    <td>@j.Name</td>
                    <td>
                        @if (j.Status == "Incomplete")
                        {
                            <a asp-controller="Job" asp-action="Continue" class="btn btn-sm btn-warning"
                               asp-route-Id="@j.JobID">
                                Continue
                            </a>
                        }
                        else if (j.Status == "Working on it")
                        {
                            /*<a asp-action="ToCross" class="btn btn-sm btn-success"
                               asp-route-Id="@j.JobID">
                                To Cross!
                            </a>*/

                            <form asp-action="SearchAux" asp-controller="Item" method="get">
                                <button type="submit" value="@j.JobNum" name="JobNum" class="btn btn-dark btn-sm"
                                        style="margin-bottom:10px;min-width:100px;float:left">
                                    WorkSheet
                                </button>
                            </form>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#exampleModal @j.JobID">
                                Ready For Cross
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal @j.JobID" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle"><i class="fas fa-exclamation-triangle"></i>&nbsp;&nbsp;&nbsp;You are sending the job to cross&nbsp;&nbsp;&nbsp;<i class="fas fa-exclamation-triangle"></i></h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure you want to send the Job #@j.JobNum To Cross?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
                                            <form asp-action="ToCross" method="post">
                                                <input type="hidden" name="JobCrossID" value="@j.JobID" />
                                                <button type="submit" value="ToCross" name="buttonAction" class="btn btn-warning btn-sm">
                                                    To Cross!
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        else if (j.Status == "Cross Approval Complete")
                        {
                            if (j.JobTypeID == 2 || j.JobTypeID == 3 || j.JobTypeID == 4)
                            {
                                <form asp-action="SearchAux" asp-controller="Item" method="get">
                                    <button type="submit" value="@j.JobNum" name="JobNum" class="btn btn-dark btn-sm"
                                            style="margin-bottom:10px;min-width:100px;float:left">
                                        WorkSheet
                                    </button>
                                </form>
                            }
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#exampleModal @j.JobID">
                                Ready For Production
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal @j.JobID" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle"><i class="fas fa-exclamation-triangle"></i>&nbsp;&nbsp;&nbsp;You are sending the job to production&nbsp;&nbsp;&nbsp;<i class="fas fa-exclamation-triangle"></i></h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure you want to send the Job #@j.JobNum To Production?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
                                            <form asp-action="ToCross" method="post">
                                                <input type="hidden" name="JobCrossID" value="@j.JobID" />
                                                <button type="submit" value="ToProduction" name="buttonAction" class="btn btn-success btn-sm">
                                                    To Production!
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                    </td>
                    <td>@j.ShipDate</td>
                </tr>
            }
        }
    </tbody>
</table>
<div page-model="@Model.PendingJobsPagingInfo" page-action="Index" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-secondary" additional-page-model="@Model.ProductionJobsPagingInfo"
     page-class-selected="btn-primary" dash-board-enabled="true" main-url-value="pendingJobPage"
     add-url-value="productionJobPage"
     class="btn-group pull-right m-1">
</div>
@if (User.IsInRole("CrossApprover"))
{
    <br />
    <h4>Jobs On Cross Approval</h4>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Job#</th>
                <th scope="col">Name</th>
                <th scope="col">Cross Approval Status</th>
                <th scope="col">Options</th>
                <th scope="col">Latest Finish</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.ProductionJobs.Count() == 0)
            {
                <tr>
                    <td>No Jobs in Cross Approval!</td>
                </tr>
            }
            else
            {
                @foreach (var j in Model.ProductionJobs)
                {
                    <tr>
                        <th scope="row">@j.JobNum</th>
                        <td>@j.Name</td>
                        <td>@j.Status</td>
                        <td>
                            @if (j.Status == "Cross Approval Pending")
                            {
                                if (j.JobTypeID == 2 || j.JobTypeID == 3 || j.JobTypeID == 4)
                                {
                                    <form asp-action="SearchAux" asp-controller="Item" method="get">
                                        <button type="submit" value="@j.JobNum" name="JobNum" class="btn btn-dark btn-sm"
                                                style="margin-bottom:10px;min-width:100px;float:left">
                                            WorkSheet
                                        </button>
                                    </form>
                                }
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#exampleModal @j.JobID">
                                    Cross Approving
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal @j.JobID" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle"><i class="fas fa-exclamation-triangle"></i>Cross Approval Assing</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Please confirm that you will cross approve the job #@j.JobNum?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
                                                <form asp-action="GetCross" method="post">
                                                    <input type="hidden" name="JobCrossID" value="@j.JobID" />
                                                    <button type="submit" class="btn btn-info btn-sm">
                                                        Take to Cross Approving
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            else if (j.Status == "On Cross Approval")
                            {
                                if (j.JobTypeID == 2 || j.JobTypeID == 3 || j.JobTypeID == 4)
                                {
                                    <form asp-action="SearchAux" asp-controller="Item" method="get">
                                        <button type="submit" value="@j.JobNum" name="JobNum" class="btn btn-dark btn-sm"
                                                style="margin-bottom:10px;min-width:100px;float:left">
                                            WorkSheet
                                        </button>
                                    </form>
                                }
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal @j.JobID">
                                    Cross Approved
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal @j.JobID" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle"><i class="fas fa-exclamation-triangle"></i>Cross Approval Finish</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Please confirm you have finished cross approving the Job #@j.JobNum?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
                                                <form asp-action="ToCross" method="post">
                                                    <input type="hidden" name="JobCrossID" value="@j.JobID" />
                                                    <button type="submit" value="CrossApproved" name="buttonAction" class="btn btn-primary btn-sm">
                                                        Cross Approved!
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </td>
                        <td>@j.ShipDate</td>
                    </tr>
                }
            }
        </tbody>
    </table>
    @if (Model.ProductionJobs.Count() > 0)
    {
        <div page-model="@Model.ProductionJobsPagingInfo" page-action="Index" page-classes-enabled="true"
             page-class="btn" page-class-normal="btn-secondary" additional-page-model="@Model.PendingJobsPagingInfo"
             page-class-selected="btn-primary" dash-board-enabled="true" main-url-value="productionJobPage" add-url-value="pendingJobPage"
             class="btn-group pull-right m-1">
        </div>
    }

}
