@model DashboardIndexViewModel
<h4>Ongoing Job(s)</h4>
<table class="table table-sm">
    <thead style="background-color:#1B2831;color:#fff">
        <tr>
            <th scope="col">
                Job# &nbsp;
                <div class="btn-group">
                    <form asp-controller="Home" asp-action="Index" method="get">
                        <button class="btn-outline-dark btn btn-sm" title="Bigger to smaller" style="background-color:transparent;" type="submit" name="filtrado" value="1JobNumAsc"><i class="fa fa-sort-amount-down-alt"></i></button>
                    </form>
                    <form asp-controller="Home" asp-action="Index" method="get">
                        <button class="btn btn-outline-dark btn-sm" style="background-color:transparent;" type="submit" name="filtrado" value="1JobNumDesc"><i class="fas fa-sort-amount-down"></i></button>
                    </form>
                </div>
            </th>
            <th scope="col">
                Name &nbsp;
                <div class="btn-group">
                    <form asp-controller="Home" asp-action="Index" method="get">
                        <button class="btn-outline-dark btn btn-sm" style="background-color:transparent;" type="submit" name="filtrado" value="1NameAsc"><i class="fa fa-sort-amount-down-alt"></i></button>
                    </form>
                    <form asp-controller="Home" asp-action="Index" method="get">
                        <button class="btn btn-outline-dark btn-sm" style="background-color:transparent;" type="submit" name="filtrado" value="1NameDesc"><i class="fas fa-sort-amount-down"></i></button>
                    </form>
                </div>
            </th>
            <th scope="col">Options</th>
            <th scope="col">
                Latest Finish&nbsp;
                <div class="btn-group">
                    <form asp-controller="Home" asp-action="Index" method="get">
                        <button class="btn-outline-dark btn btn-sm" style="background-color:transparent;" type="submit" name="filtrado" value="1DateAsc"><i class="fa fa-sort-amount-down-alt"></i></button>
                    </form>
                    <form asp-controller="Home" asp-action="Index" method="get">
                        <button class="btn btn-outline-dark btn-sm" style="background-color:transparent;" type="submit" name="filtrado" value="1DateDesc"><i class="fas fa-sort-amount-down"></i></button>
                    </form>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.MyJobs.Count() == 0)
        {
            <tr>
                <td>No Jobs!</td>
            </tr>
        }
        else
        {
            @foreach (var j in Model.MyJobs)
            {
                AppUser CurrentUser = UserManager.Users.FirstOrDefault(m => m.EngID == j.EngID);
                AppUser CrosAppUser = UserManager.Users.FirstOrDefault(m => m.EngID == j.CrossAppEngID);
                string JobTypeName = Model.JobTypes.FirstOrDefault(m => m.JobTypeID == j.JobTypeID).Name;
                var POForJobLlist = Model.POs.Where(m => m.JobID == j.JobID).ToList();
                string POsNumber = "";
                JobAdditional jobAdditional = Model.MyJobAdditionals.FirstOrDefault(m => m.JobID == j.JobID);

                foreach (PO po in POForJobLlist)
                {
                    POsNumber += po.PONumb.ToString() + ", ";
                }
                <tr>
                    <th scope="row">
                        @if (j.Status != "Incomplete")
                        {
                            <a asp-controller="Job" asp-action="Edit" asp-route-Id="@j.JobID">@j.JobNum</a>
                        }
                        else
                        {
                            <a asp-controller="Job" asp-action="Continue" asp-route-Id="@j.JobID">@j.JobNum</a>
                        }
                    </th>
                    <td>@j.Name</td>
                    <td>
                        @if (j.Status == "Incomplete")
                        {
                            <a asp-controller="Job" asp-action="Continue" class="btn btn-sm btn-warning"
                               asp-route-Id="@j.JobID">
                                Continue
                            </a>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-light" style="float:left;background-color:transparent" data-toggle="modal" data-target="#exampleModalCenter @j.JobID">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                            <!-- Modal -->
                            <form asp-action="Delete" asp-controller="Job" method="post" asp-route-Id="@j.JobID">
                                <div class="modal fade" id="exampleModalCenter @j.JobID" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle"><i class="fas fa-exclamation-triangle"></i>&nbsp;Warning</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Are you sure want to delete this job #@j.JobNum?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
                                                <button type="submit" class="btn btn-danger btn-sm">
                                                    Delete
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        }
                        else if (j.Status == "Working on it")
                        {
                            @if (JobTypeName == "M2000")
                            {

                                <!-- Button trigger modal to email template M2000-->
                                if (jobAdditional.Priority == 0)
                                {<button type="button" title="Normal" class="btn btn-light" data-toggle="modal" data-target="#priority @j.JobID" style="float:left;background-color:transparent"><i class="fas fa-flag text-success"></i></button>}
                                if (jobAdditional.Priority == 1)
                                {<button type="button" title="High Priority" class="btn btn-light" data-toggle="modal" data-target="#priority @j.JobID" style="float:left;background-color:transparent"><i class="fas fa-flag text-warning"></i></button>}
                                if (jobAdditional.Priority == 2)
                                {<button type="button" title="Short Lead" class="btn btn-light" data-toggle="modal" data-target="#priority @j.JobID" style="float:left;background-color:transparent"><i class="fas fa-flag text-danger"></i></button>}
                                <!-- Modal -->
                                <div class="modal fade" id="priority @j.JobID" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">Priority</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form asp-controller="Home" asp-action="ChangePriority">
                                                    <input type="hidden" name="btnJobID" value="@j.JobID" />
                                                    <p>Please select a priority for the job: #@j.JobNum</p>
                                                    <div class="container-fluid" style="padding-left:160px">
                                                        <div class="form-group">
                                                            <button type="submit" class="btn btn-sm btn-light" name="btnPriority" value="0" style="background-color:transparent"><i class="fas fa-flag text-success"></i></button>
                                                            <label>&nbsp;Normal</label>
                                                        </div>
                                                        <div class="form-group">
                                                            <button type="submit" class="btn btn-sm btn-light" name="btnPriority" value="1" style="background-color:transparent"><i class="fas fa-flag text-warning"></i></button>
                                                            <label>&nbsp;High Priority</label>
                                                        </div>
                                                        <div class="form-group">
                                                            <button type="submit" class="btn btn-sm btn-light" name="btnPriority" value="2" style="background-color:transparent"><i class="fas fa-flag text-danger"></i></button>
                                                            <label>&nbsp;Short Lead</label>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Back</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                if (jobAdditional.Priority == 0)
                                {<button type="button" title="Normal" class="btn btn-light" style="float:left;background-color:transparent"><i class="fas fa-flag text-success"></i></button>}
                                if (jobAdditional.Priority == 1)
                                {<button type="button" title="High Priority" class="btn btn-light" style="float:left;background-color:transparent"><i class="fas fa-flag text-warning"></i></button>}
                                if (jobAdditional.Priority == 2)
                                {<button type="button" title="Short Lead" class="btn btn-light" style="float:left;background-color:transparent"><i class="fas fa-flag text-danger"></i></button>}
                            }


                            <form asp-action="SearchAux" asp-controller="Item" method="get">
                                <button type="submit" value="@j.JobID" name="JobID" class="btn btn-light"
                                        style="float:left;background-color:transparent">
                                    <i class="fas fa-file-word"></i>
                                </button>
                            </form>

                            @if (JobTypeName == "M2000")
                            {
                                <!-- Button trigger modal to email template M2000-->
                                <button type="button" class="btn btn-light" data-toggle="modal" data-target="#email @j.JobID" style="float:left;background-color:transparent">
                                    <i class="fas fa-envelope"></i>
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="email @j.JobID" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">Email Template to Cross</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <b>Subject:</b>
                                                <p>
                                                    @if (jobAdditional.Priority == 2)
                                                    {<textarea name="subject" class="form-control" rows="1" readonly>Short Lead - Cross Approval - #@j.JobNum</textarea> }
                                                    else
                                                    {
                                                        <textarea name="subject" class="form-control" rows="1" readonly>Cross Approval - #@j.JobNum</textarea>
                                                    }

                                                </p>
                                                <b>Body:</b>
                                                <p>
                                                    @if (jobAdditional.Priority == 2)
                                                    {
                                                        <textarea name="body" class="form-control" rows="7" readonly>*Short Lead*
El Job #@j.JobNum  está listo para cross approval. Documentos Adjuntos.

Saludos.
</textarea>
                                                    }
                                                    else
                                                    {
                                                        <textarea name="body" class="form-control" rows="7" readonly>El Job #@j.JobNum  está listo para cross approval. Documentos Adjuntos.

Saludos.
</textarea>
                                                    }

                                                </p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Back</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            <button type="button" class="btn btn-light" data-toggle="modal" data-target="#exampleModalCompleted @j.JobID" style="float:left;background-color:transparent">
                                <i class="fas fa-bolt"></i>
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModalCompleted @j.JobID" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle"><i class="fas fa-skull-crossbones"></i>&nbsp;&nbsp;&nbsp;You are sending this job to completed&nbsp;&nbsp;&nbsp;<i class="fas fa-skull-crossbones"></i></h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure you want to send the Job #@j.JobNum To completed?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
                                            <form asp-action="ToCross" method="post">
                                                <input type="hidden" name="JobCrossID" value="@j.JobID" />
                                                <button type="submit" value="Completed" name="buttonAction" class="btn btn-danger btn-sm">
                                                    Finish it!
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-light" style="float:left;background-color:transparent" data-toggle="modal" data-target="#exampleModalCenter @j.JobID">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                            <!-- Modal -->
                            <form asp-action="Delete" asp-controller="Job" method="post" asp-route-Id="@j.JobID">
                                <div class="modal fade" id="exampleModalCenter @j.JobID" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle"><i class="fas fa-exclamation-triangle"></i>&nbsp;Warning</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Are you sure want to delete this job #@j.JobNum?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
                                                <button type="submit" class="btn btn-danger btn-sm">
                                                    Delete
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- Button trigger modal to change the status -->
                            <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#exampleModal @j.JobID" style="float:left">
                                Ready For Cross
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal @j.JobID" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle"><i class="fas fa-exclamation-triangle"></i>&nbsp;&nbsp;&nbsp;You are sending the job to cross&nbsp;&nbsp;&nbsp;<i class="fas fa-exclamation-triangle"></i></h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure you want to send the Job #@j.JobNum To Cross?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
                                            <form asp-action="ToCross" method="post">
                                                <input type="hidden" name="JobCrossID" value="@j.JobID" />
                                                <button type="submit" value="ToCross" name="buttonAction" class="btn btn-warning btn-sm">
                                                    To Cross!
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        else if (j.Status == "Cross Approval Complete")
                        {
                            <!-- Button trigger modal to email template M2000-->
                            if (jobAdditional.Priority == 0)
                            {<button type="button" title="Normal" class="btn btn-light" data-toggle="modal" data-target="#priority @j.JobID" style="float:left;background-color:transparent"><i class="fas fa-flag text-success"></i></button>}
                            if (jobAdditional.Priority == 1)
                            {<button type="button" title="High Priority" class="btn btn-light" data-toggle="modal" data-target="#priority @j.JobID" style="float:left;background-color:transparent"><i class="fas fa-flag text-warning"></i></button>}
                            if (jobAdditional.Priority == 2)
                            {<button type="button" title="Short Lead" class="btn btn-light" data-toggle="modal" data-target="#priority @j.JobID" style="float:left;background-color:transparent"><i class="fas fa-flag text-danger"></i></button>}
                            <!-- Modal -->
                            <div class="modal fade" id="priority @j.JobID" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Priority</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form asp-controller="Home" asp-action="ChangePriority">
                                                <input type="hidden" name="btnJobID" value="@j.JobID" />
                                                <p>Please select a priority for the job: #@j.JobNum</p>
                                                <div class="container-fluid" style="padding-left:160px">
                                                    <div class="form-group">
                                                        <button type="submit" class="btn btn-sm btn-light" name="btnPriority" value="0" style="background-color:transparent"><i class="fas fa-flag text-success"></i></button>
                                                        <label>&nbsp;Normal</label>
                                                    </div>
                                                    <div class="form-group">
                                                        <button type="submit" class="btn btn-sm btn-light" name="btnPriority" value="1" style="background-color:transparent"><i class="fas fa-flag text-warning"></i></button>
                                                        <label>&nbsp;High Priority</label>
                                                    </div>
                                                    <div class="form-group">
                                                        <button type="submit" class="btn btn-sm btn-light" name="btnPriority" value="2" style="background-color:transparent"><i class="fas fa-flag text-danger"></i></button>
                                                        <label>&nbsp;Short Lead</label>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Back</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <form asp-action="SearchAux" asp-controller="Item" method="get">
                                <button type="submit" value="@j.JobID" name="JobID" class="btn btn-light" style="float:left;background-color:transparent">
                                    <i class="fas fa-file-word"></i>
                                </button>
                            </form>
                            @if (JobTypeName == "M2000")
                            {
                                <!-- Button trigger modal to email template M2000-->
                                <button type="button" class="btn btn-light" data-toggle="modal" data-target="#email @j.JobID" style="float:left;background-color:transparent">
                                    <i class="fas fa-envelope"></i>
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="email @j.JobID" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">Email template to production</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <b>Subject:</b>
                                                <p>
                                                    @if (jobAdditional.Priority == 2)
                                                    {
                                                        <textarea name="subject" class="form-control" rows="1" readonly>Short Lead - @j.Name - MCE #@j.JobNum</textarea>
                                                    }
                                                    else
                                                    {
                                                        <textarea name="subject" class="form-control" rows="1" readonly>@j.Name - MCE #@j.JobNum</textarea>
                                                    }

                                                </p>
                                                <b>Body:</b>
                                                <p>
                                                    @if (jobAdditional.Priority == 2)
                                                    {
                                                        <textarea name="body" class="form-control" rows="7" readonly>
*Short Lead*
Job to production. Documents Attached.
Job Name: @j.Name
Job No: #@j.JobNum
Approved by: @CrosAppUser.FullName

Thanks,
@CurrentUser.FullName
</textarea>
                                                    }
                                                    else
                                                    {
                                                        <textarea name="body" class="form-control" rows="7" readonly>
Job to production. Documents Attached.
Job Name: @j.Name
Job No: #@j.JobNum
Approved by: @CrosAppUser.FullName

Thanks,
@CurrentUser.FullName
</textarea>
                                                    }

                                                </p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Back</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            else if (JobTypeName == "ElmHydro" || JobTypeName == "ElmTract")
                            {
                                <!-- Button trigger modal to email template M2000-->
                                <button type="button" class="btn btn-light" data-toggle="modal" data-target="#email @j.JobID" style="float:left;background-color:transparent">
                                    <i class="fas fa-envelope"></i>
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="email @j.JobID" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">Email template to production</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <b>Subject:</b>
                                                <p>
                                                    <textarea name="subject" class="form-control" rows="1" readonly>Config is done: @j.Name - MCE #@j.JobNum</textarea>
                                                </p>
                                                <b>Body:</b>
                                                <p>
                                                    <textarea name="body" class="form-control" rows="11" readonly>
Hi all,

This Element @(JobTypeName == "ElmHydro"? "Hydro" : "Traction") Job Config is done.
Ship Date: @j.ShipDate.ToShortDateString()
Job Name: @j.Name
Job No: @j.JobNum
Prod No: @POsNumber

Thanks,
@CurrentUser.FullName
</textarea>
                                                </p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Back</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-light" style="float:left;background-color:transparent" data-toggle="modal" data-target="#exampleModalCenter @j.JobID">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                                <!-- Modal -->
                                <form asp-action="Delete" asp-controller="Job" method="post" asp-route-Id="@j.JobID">
                                    <div class="modal fade" id="exampleModalCenter @j.JobID" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLongTitle"><i class="fas fa-exclamation-triangle"></i>&nbsp;Warning</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    Are you sure want to delete this job #@j.JobNum?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
                                                    <button type="submit" class="btn btn-danger btn-sm">
                                                        Delete
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            }

                            <!-- Button trigger modal to production-->
                            <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#exampleModal @j.JobID" style="float:left">
                                Ready For Production
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal @j.JobID" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle"><i class="fas fa-exclamation-triangle"></i>&nbsp;&nbsp;&nbsp;You are sending the job to production&nbsp;&nbsp;&nbsp;<i class="fas fa-exclamation-triangle"></i></h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure you want to send the Job #@j.JobNum To Production?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
                                            <form asp-action="ToCross" method="post">
                                                <input type="hidden" name="JobCrossID" value="@j.JobID" />
                                                <button type="submit" value="ToProduction" name="buttonAction" class="btn btn-success btn-sm">
                                                    To Production!
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        }

                    </td>
                    <td>@j.LatestFinishDate.ToShortDateString()</td>
                </tr>
            }
        }
    </tbody>
</table>
@if (Model.MyJobs.Count() > 0)
{
    <cool-pagination-dash-board current-model="MyJobs" my-jobs-page-model="@Model.MyJobsPagingInfo" page-action="Index" page-classes-enabled="true"
                                page-class="btn" page-class-normal="btn-secondary" on-cross-page-model="@Model.OnCrossJobsPagingInfo" pending-to-cross-page-model="@Model.PendingToCrossJobsPagingInfo"
                                page-class-selected="btn-dark" my-jobs-url-value="MyJobsPage" on-cross-url-value="OnCrossJobPage"
                                pending-to-cross-url-value="PendingToCrossJobPage" sort="Sort"
                                class="btn-group pull-right m-1">
    </cool-pagination-dash-board>
}