@model DashboardIndexViewModel
<br />
<h4>On Going Test Jobs</h4>
<table class="table">
    <thead class="text-light" style="background-color:#1B2831;">
        <tr>
            <th scope="col">Job#</th>
            <th scope="col">PO#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Job Type</th>
            <th scope="col">Ship Date</th>
            <th scope="col">Estacion</th>
            <th scope="col">Estado</th>
            <th scope="col">Opciones</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.PendingTestJobs.Count() == 0)
        {
            <tr>
                <td>No Test Jobs!</td>
            </tr>
        }
        else
        {
            @foreach (var t in Model.PendingTestJobs)
            {

                var j = Model.PendingJobs.FirstOrDefault(m => m.JobID == t.JobID);
                string JobtypeName = Model.JobTypesList.First(s => s.JobTypeID == j.JobTypeID).Name;

            <tr>
                <th scope="row">
                    @if (t.Status == "Working on it")
                    {
                        <a asp-action="EditTestFeatures"
                           asp-controller="TestJob" asp-route-Id="@t.TestJobID">
                            @j.JobNum
                        </a>
                    }
                    else
                    {
                        @j.JobNum
                    }
                </th>
                <td>@t.SinglePO</td>
                <td>@j.Name</td>
                <td>@JobtypeName</td>
                <td>@j.ShipDate</td>
                <td>@Model.StationList.FirstOrDefault(m => m.StationID == t.StationID).Label</td>
                <td>@t.Status</td>
                <td>
                    @if (t.Status == "Stopped")
                    {
                        <a asp-action="WaitingForRestar" asp-controller="Stop"
                           asp-route-id="@t.TestJobID" class="btn btn-warning btn-sm">
                            Restar Job
                        </a>
                    }
                    else if (t.Status == "Reassignment")
                    {
                        <a asp-action="RestartReassignment" asp-controller="Stop"
                           asp-route-id="@t.TestJobID" class="btn btn-warning btn-sm">
                            Take Job
                        </a>
                    }
                    else
                    {
                        <a asp-action="ContinueStep" asp-controller="TestJob"
                           asp-route-id="@t.TestJobID" class="btn btn-info btn-sm">
                            Continue
                        </a>
                    }

                </td>
            </tr>
            }
        }
    </tbody>
</table>
@if (Model.PendingTestJobs.Count() > 3)
{
<coool-pagination-all page-model="@Model.MyJobsPagingInfo" page-action="Index" page-classes-enabled="true"
                      page-class="btn" page-class-normal="btn-secondary"
                      page-class-selected="btn-dark"
                      class="btn-group pull-right m-1">
</coool-pagination-all>
}