@model DashboardIndexViewModel
<br />
<h4>On Going Test Jobs</h4>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Job#</th>
            <th scope="col">PO#</th>
            <th scope="col">Name</th>
            <th scope="col">Job Type</th>
            <th scope="col">Ship Date</th>
            <th scope="col">Estacion</th>
            <th scope="col">Opciones</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.PendingJobs.Count() == 0)
        {
            <tr>
                <td>No Test Jobs!</td>
            </tr>
        }
        else
        {
            @foreach (var t in Model.PendingTestJobs)
            {

                var j = Model.PendingJobs.FirstOrDefault(m => m.JobID == t.JobID);
                string JobtypeName = Model.JobTypesList.First(s => s.JobTypeID == j.JobTypeID).Name;

                <tr>
                    <th scope="row">
                        @if (t.Status == "Working on it")
                        {
                            <a asp-action="EditTestFeatures"
                               asp-controller="TestJob" asp-route-Id="@t.TestJobID">
                                @j.JobNum
                            </a>
                        }
                        else
                        {
                            @j.JobNum
                        }
                    </th>
                    <td>@t.SinglePO</td>
                    <td>@j.Name</td>
                    <td>@JobtypeName</td>
                    <td>@j.ShipDate</td>
                    <td>@t.Station</td>
                    <td>
                        @if (t.Status == "Stoped")
                        {
                            <a asp-action="WaitingForRestar" asp-controller="Stop"
                               asp-route-id="@t.TestJobID" class="btn btn-warning btn-sm">
                                Restar Job
                            </a>
                        }
                        else
                        {
                            <a asp-action="ContinueStep" asp-controller="TestJob"
                               asp-route-id="@t.TestJobID" class="btn btn-info btn-sm">
                                Continue
                            </a>
                        }

                    </td>
                </tr>
            }
        }
    </tbody>
</table>
@if (Model.PendingJobs.Count() > 0)
{
    <cool-pagination-dash-board current-model="MyJobs" my-jobs-page-model="@Model.PendingJobsPagingInfo" page-action="Index" page-classes-enabled="true"
                                page-class="btn" page-class-normal="btn-secondary" on-cross-page-model="@Model.OnCrossJobsPagingInfo" pending-to-cross-page-model="@Model.PendingToCrossJobsPagingInfo"
                                page-class-selected="btn-primary" my-jobs-url-value="MyTestJobs" on-cross-url-value="OnCrossJobPage"
                                pending-to-cross-url-value="PendingToCrossJobPage" sort="Sort"
                                class="btn-group pull-right m-1">
    </cool-pagination-dash-board>
}