@model UsersListViewModel
@{
    ViewBag.Title = "ProdFloor Users";
    Layout = "_AdminLayoutWO";
}
<div class="row" style="padding-right:20px">
    <h2 class="col-sm-10">
        Users
    </h2>
    <a class="btn btn-sm col-sm-2" asp-action="Create" style="padding-top:10px;min-width:100px;background-color:dodgerblue;color:white">
        <i class="fa fa-plus"></i>
        New User
    </a>
</div>
<br />
<table class="table">
    <thead style="background-color:#1B2831;color:#fff">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Options</th>
        </tr>
    </thead>
    <tbody>
        @*@foreach (var j in Model.Users)
        {
            @Html.Partial("UserSummary", j)
        }*@

        @foreach (var j in Model.Users)
        {
        <tr>
            <th scope="row">@j.UserName</th>
            <td>@j.Email</td>
            <td>
            <form asp-action="Delete" method="post">
                <a asp-action="Edit" class="btn btn-sm btn-warning"
                   asp-route-Id="@j.Id">
                    Edit
                </a>
                <input type="hidden" name="ID" value="@j.Id" />
                <button type="submit" class="btn btn-danger btn-sm">
                    Delete
                </button>
            </form>
            </td>
        </tr>
        }
    </tbody>
</table>
<coool-pagination-all page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true"
                      page-class="btn" page-class-normal="btn-secondary"
                      page-class-selected="btn-dark"
                      class="btn-group pull-right m-1">
</coool-pagination-all>