@model UsersListViewModel
@{
    ViewBag.Title = "ProdFloor Users";
}
@if (User.IsInRole("Admin"))
{

    <div class="text-right m-2">
        <!-- Button trigger modal -->
        <button class="btn btn-danger" data-toggle="modal" data-target="#ImportModal">Import Users from XML <i class="fas fa-file-alt"></i></button>
        <!-- Modal -->
        <form asp-action="ImportXML" method="post">
            <div class="modal fade  text-center" id="ImportModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content  text-center">
                        <div class="modal-header bg-danger  text-center align-content-center justify-content-center">
                            <h5 class="modal-title" style="margin-left: 5rem;color:white" id="exampleModalLongTitle"><i class="fas fa-skull-crossbones"></i>&nbsp;&nbsp;&nbsp;Import users from XML&nbsp;&nbsp;&nbsp;<i class="fas fa-skull-crossbones"></i></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body  text-left">
                            Are you sure want to import users from the XML?
                        </div>
                        <div class="modal-footer border-top text-center">
                            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-danger btn-sm">
                                Import
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
}

<table class="table table-striped  text-center table-sm" style="text-align:center">
    <thead style="background-color:#343a40!important;color:#fff;">
        <tr>
            <th class="text-center" colspan="2">
                <h5>User(s)</h5>
            </th>
            <th colspan="1">
                <div class="row float-right" style="padding-right:20px">
                    <div class="text-center">
                        <div class="btn-group text-center">
                            <a class="btn btn-sm" style="background-color:seagreen;color:white" asp-action="Create">
                                New User
                            </a>
                        </div>
                    </div>
                </div>
            </th>
        </tr>
        <tr>
            <th scope="col">Name</th>
            <th>Email</th>
            <th>
                Options
            </th>
        </tr>
    </thead>
    <tbody>
        @*@foreach (var j in Model.Users)
            {
                @Html.Partial("UserSummary", j)
            }*@

        @foreach (var j in Model.Users)
        {
            <tr>
                <th scope="row">@j.UserName</th>
                <td>@j.Email</td>
                <td>
                    <form asp-action="Delete" method="post">
                        <a asp-action="Edit" class="btn btn-sm btn-warning"
                           asp-route-Id="@j.Id">
                            Edit
                        </a>
                        <input type="hidden" name="ID" value="@j.Id" />
                        <button type="submit" class="btn btn-danger btn-sm">
                            Delete
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
<coool-pagination-all page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true"
                      page-class="btn" page-class-normal="btn-secondary"
                      page-class-selected="btn-dark"
                      class="btn-group pull-right m-1">
</coool-pagination-all>
<div>
    <form asp-action="ExportToXML" method="post">
        <button class="btn btn-sm " name="buttonXML" value="Cities" style="background-color:steelblue;color:white">Export Users to an XML File</button>
    </form>
</div>