@model UsersListViewModel
@{
    ViewBag.Title = "ProdFloor Users";
    Layout = "_AdminLayoutWO";
}
<div class="row" style="float:right;padding-top:5px;padding-right:15px">

</div>
<br />
<table class="table table-striped  text-center table-sm" style="text-align:center">
    <thead style="background-color:#343a40!important;color:#fff;">
        <tr>
            <th class="text-center" colspan="2">
                <h5>User(s)</h5>
            </th>
            <th colspan="1">
                <div class="row float-right" style="padding-right:20px">
                    <div class="text-center">
                        <div class="btn-group text-center">
                            <a class="btn btn-sm" style="background-color:seagreen;color:white" asp-action="Create">
                                New User
                            </a>
                        </div>
                    </div>
                </div>
            </th>
        </tr>
        <tr>
            <th scope="col">Name</th>
            <th>Email</th>
            <th>
                Options
            </th>
        </tr>
    </thead>
    <tbody>
        @*@foreach (var j in Model.Users)
            {
                @Html.Partial("UserSummary", j)
            }*@

        @foreach (var j in Model.Users)
        {
            <tr>
                <th scope="row">@j.UserName</th>
                <td>@j.Email</td>
                <td>
                    <form asp-action="Delete" method="post">
                        <a asp-action="Edit" class="btn btn-sm btn-warning"
                           asp-route-Id="@j.Id">
                            Edit
                        </a>
                        <input type="hidden" name="ID" value="@j.Id" />
                        <button type="submit" class="btn btn-danger btn-sm">
                            Delete
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
<coool-pagination-all page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true"
                      page-class="btn" page-class-normal="btn-secondary"
                      page-class-selected="btn-dark"
                      class="btn-group pull-right m-1">
</coool-pagination-all>